/*--------------------------------------------------------------
## Style Guide Page
--------------------------------------------------------------*/

.style_guide{
    .element_wrap{
        margin: 140px 0;
        padding-bottom: 140px;
        border-bottom: solid 2px #F3F2FD;
        &:last-child{
            padding-bottom: 0;
        border-bottom: none;
        }
        @include tablet_screen{
            margin: 90px 0;
            padding-bottom: 90px;
            border-bottom: solid 2px #d5cee3;

        }
    }
    .element_title{
        padding: $spacer_30 ;
        background-image: radial-gradient( circle at 50% 0,#5731AB,#20113A );
        border-radius: $border_radius;
        position: sticky;
        top: 15px;
        z-index: 0;

        @include tablet_screen{
            margin-bottom: $spacer_30;
        }
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/others/lines.svg);
            background-size: contain;
            z-index: 1;
        }
        h4{
            color: white;
        }
        p{
            color: white;
        }
    }
        //  ================== menu
        .menu_icon{
        cursor: pointer;
        position: fixed;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient( circle at 50% 0,#5731AB,#20113A );
        z-index: 999;
        right: $spacer_30;
        top: 50%;
        transition: .35s $transition_function;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16 18v2H5v-2h11zm5-7v2H3v-2h18zm-2-7v2H8V4h11z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");            fill: red;
            background-repeat: no-repeat;
            background-position:  center;
            z-index: 1;

        }
        &:hover{
            transform: scaleX(1.1);
            opacity: .9;
        }
        &.menu_icon_active{
            right: 14rem;
        }
        @include tablet_screen{
            right: $spacer_15;
        }
        
        }
       //  ================== menu
        .menu_elements{
        position: fixed;
        height: 100vh;
        width: 13rem;
        box-shadow: 0 21px 51px rgba(29, 14, 98, 0.19);
        background: white;
        z-index: 999;
        right: -13rem;
        top: 0;
        transition: .35s $transition_function;
        opacity: 0;
        padding: $spacer_30;
        &::before{
            content: "";
            top: 0;
            right: 0;
            height: 100vh;
            width: 15px;
            background: $color_gradient ;
            position: absolute;
        }

        &.is_active{
            right: 0;
            opacity: 1;
        }
        h6{
            margin-bottom: .5rem;
        }
        .link{
            color:#707070 ;
            font-size: 14px;
            transition: .2s $transition_function;

            &:hover{
                color: $color_brand;
                padding-right: 5px !important;
            }
        }
    
        }



    //  ================== color_pallet
    .colors{
        p{
            margin: 0;
            margin-bottom: $spacer_30;
        }
    }
    .color_palette{
        border-radius: $border_radius;
        height: 120px;
        margin-bottom: $spacer_20;
        &.color_brand{
            background: $color_brand ;
        }
        &.color_dark{
            background: $color_dark ;
        }
        &.color_light{
            background: $color_light ;
        }

        &.color_gradient{
            background: $color_gradient ;
        }
    }

    //  ================== sh_pallet
    .sh_palette{
        border-radius: $border_radius;
        height: 120px;
        margin-bottom: $spacer_20;
        &.shadow_1{
            box-shadow: $shadow_1;
        }
        &.shadow_2{
            box-shadow: $shadow_2;
        }
        &.shadow_3{
            box-shadow: $shadow_3;
        }
    }
    //  ================== devider_palette
    .devider_palette{
        background: $color_dark ;
        border-radius: $border_radius;
        padding: $spacer_60 $spacer_30;
    }
    .logos_palette1{
        border: solid 1px $color_light;
        border-radius: $border_radius;
        padding:  $spacer_30;
    }
    .logos_palette{
        background: $color_dark ;
        border-radius: $border_radius;
        margin-top: 20px;
        padding:  $spacer_30;
    }
}

