.footer {
  margin: 0;

  overflow-y: visible !important;
  
  .draw1 {
    position: relative;
    display: inline;
    &::before {
      content: "";
      background-repeat: no-repeat;
      height: 2rem;
      width: 100%;
      position: absolute;
      bottom: -14px;
      top: auto;
      right: -5px;
      background-color: transparent ;
      background-image: url(../images/others/draw.svg);
      background-size: contain;
      left: auto;

    }
  }

  .copyright {
    font-size: 1rem;
    color: #595b5d;
  }

  .footer-shape {
    position: absolute;
    top: 0rem;
    right: -5rem;
    transform: scale(0.5);
    z-index: 0;
    height: 100%;
  }

  .footer-shape-top {
    position: absolute;
    top: -2rem;
    left: -5rem;
    transform: scale(0.8);
    z-index: 0;
    height: 100%;
  }
}

// ---------------------------------- footer in-index
.footer {
  color: $color_dark;

  &.in-index {
    padding: 1rem 0 1rem;
  }


  // ---------------------------------- footer logo and info

  .footer-body {
    background: black;

    overflow: hidden;
    padding: 70px 0 35px;
  }

  .social-footer {
    margin-top: 1rem;

    a {
      ion-icon {
        font-size: 25px;
      }
    }
  }

  .footer-desc {
    margin-bottom: 2rem;

    .logo {
      margin-bottom: 2rem;

      img {
        height: 2rem;
      }
    }

    p {
      font-size: 1rem;
      max-width: 20rem;
      color: $white;
      margin-left: 0;
    }
  }

  // ---------------------------------- footer list

  .list-title {
    font-size: 1.1rem;
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      height: 1rem;
      width: 1rem;
      background: $color_gradient;
      border-radius: 5px 5px 5px 15px;
    }
  }

  .list-items {
    margin-bottom: 2rem;
    color: $white;

    li {
      margin-bottom: 1rem;

      a {
        font-size: 1rem;
        color: #c5c5c5;
      }
    }
  }

  .copyright {
    margin-top: 35px;

    p {
      padding: 2rem 0 2rem;
      font-size: 1rem;
      margin: 0;
      color: rgb(165, 165, 165);
    }
  }

  .contact-item {
    margin-bottom: 2rem;

    p {
    }

    h6 {
      font-size: 1.1rem;
      position: relative;
      margin-bottom: 0.5rem;
      width: fit-content;

      &::before {
        background: $color_brand;
      }
    }
    div {
      position: absolute;
      height: 60%;
      width: 3rem;
      right: -1.944rem;
      top: 60%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      content: "";
      background-image: url(../images/others/title.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 1em;
      right: -1.5em;
      top: 50%;
    }
  }

  form {
    position: relative;
    height: 4rem;
    background: #fff;
    border-radius: 50rem;
    max-width: 30rem;
    width: 100%;
    margin-bottom: 4rem;
    transition: 0.2s;

    @include sm {
      height: fit-content;
      padding-bottom: 1rem;
      background: transparent;
    }
  }
}

.divider {
  width: 100%;
  position: relative;
  height: 5vw;
  pointer-events: none;
  -webkit-mask-image: url(../../images/others/divider.svg);
  mask-image: url(../../images/others/divider.svg);
  -webkit-mask-size: 100% 101%;
  mask-size: 100% 101%;
  background: #fff;
}

.footer-index {
  background: url(../images/others/footer_bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 2rem 0;

  img {
    max-height: 2rem;
  }

  .links {
    a {
      margin-right: 2rem;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }

  a {
    color: #fff;
  }
}
