// ============================== top nav
.top-nav {
  background: $color_gradient;
  color: white;
  padding: 2px 0;
  p {
    color: white;
  }
}
// ============================== clients Logos
.clients_logos {
  padding: $spacer_40 0;
  border-top: solid 1px rgba(255, 255, 255, 0.295);
  width: -webkit-fill-available;
  margin-bottom: -30px;
  .logo {
    margin-bottom: 30px;
    img {
      max-height: 30px;
    }
    @include tablet_vert_screen{
      img {
        max-height: 20px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
// ==============================  Work items
.work-boxes {
  margin: 0 -20px;
  overflow: hidden;
  .work_item {
    position: relative;
    padding: $spacer_20;
    padding-top: 400px;
    overflow: hidden;
    margin: 0 20px;
    z-index: 0;

    .work-img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
      z-index: -2;
    }
    .work-title {
      transition: 0.2s $transition_function;
    }
    .work-tags {
      transition: 0.3s $transition_function;
      transition-delay: 0.1s;
      color: rgba(255, 255, 255, 0.808);
    }
    @include overlay {
      transition: 0.2s $transition_function;
      background: rgba(0, 0, 0, 0.116);

    }
    &:hover {
      transform: scale(0.98) !important;
      .work-title {
        transform: translateY(-$spacer_20);
      }
      .work-tags {
        transform: translateY(-$spacer_20);
        color: white !important;
      }
      @include overlay {
        background: rgba(0, 0, 0, 0.452);
      }
    }
  }
}
.work_boxes2 {
  margin: 0 -20px;
  margin-bottom: -30px;
  .work_item {
    position: relative;
    overflow: hidden;
    margin: 0 20px;
    z-index: 0;
    margin-bottom: 30px;
    @include after{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16.004 9.414l-8.607 8.607-1.414-1.414L14.589 8H7.004V6h11v11h-2V9.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");      left: 50%;
      background-repeat: no-repeat;
      background-position:  center;
      top: 10%;
      left: 50%;
      transform: translate(-50%,50%);
      width: 4rem;
      height:4rem ;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.438);
      opacity: 0;
      transition: .3s $transition_function;
      
    }
    .work-img {
      width: 100%;
      position: relative;
      overflow: hidden;
      z-index: -1;
      transition: 0.2s $transition_function;


    }
    .work-title {
      transition: 0.2s $transition_function;
    }
    .work-tags {
      transition: 0.3s $transition_function;
      transition-delay: 0.1s;
      color: rgba(255, 255, 255, 0.808);
      font-size: 14px;
      text-transform: uppercase;

    }

    &:hover {
      @include after{
        top: 0%;

        opacity: 1;
  
      }
      .work-img{
        transform: scale(1.1) ;
        
        
        opacity: .7;

      }
      .work-title {
        transform: translateY($spacer_20);
      }
      .work-tags {
        color: white !important;
        opacity: 0;
      }

    }
  }
}
.work_boxes_vertical {
  margin: 0 -20px;
  margin-bottom: -30px;
  .work_item {
    position: relative;
    overflow: hidden;
    margin: 0 20px;
    z-index: 0;
    margin-bottom: 30px;
    @include after{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16.004 9.414l-8.607 8.607-1.414-1.414L14.589 8H7.004V6h11v11h-2V9.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");      left: 50%;
      background-repeat: no-repeat;
      background-position:  center;
      top: 50%;
      left: 5%;
      transform: translate(0%,-50%);
      width: 4rem;
      height:4rem ;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.438);
      opacity: 0;
      transition: .3s $transition_function;

    }
    .work-img {
      width: 100%;
      position: relative;
      overflow: hidden;
      height: 20rem;
      object-fit: cover;
      z-index: -1;
      @include overlay {
        transition: 0.2s $transition_function;
      }
    }
    .work-title {
      transition: 0.2s $transition_function;
    }
    .work-tags {
      transition: 0.3s $transition_function;
      transition-delay: 0.1s;
      color: rgba(255, 255, 255, 0.808);
      font-size: 14px;
      text-transform: uppercase;

    }
    .work_wrap{
      padding: 5rem;
    }

    &:hover {
      @include after{
        left: 10%;
        opacity: 1;
  
      }
      .work-img{
        transform: scale(1.1) ;
        
        
        opacity: .7;

      }

      .work-title {
        transform: translateY(-$spacer_20);
      }
      .work-tags {
        color: white !important;
        opacity: 0;
      }

    }
  }
}
.testimonial {
  &.in_box {
    padding: $spacer_60;
    border-radius: 5px;
    background-image: url(../images/others/quote.svg);
    background-repeat: no-repeat;
    background-position: 87% 22%;
    background: $color_dark ;

    @include before{
      width: .5rem;
      background: $color_gradient ;
      height: 100%;
      top: 0em;
      left: 0;

    }
    @include sm_screen {
      padding: $spacer_30;
    }
    .description {
      font-size: 20px;
    }
    .face {
      padding: 0 0 $spacer_20 0;
      max-height: 7rem;
    }
  }
}
// ============================== feuatures_list

.feuatures_list {
  &.has_mt {
    margin-top: $spacer_40;
  }
  .image {
    margin-bottom: $spacer_20;
    border-radius: $border_radius;
    position: relative;
    z-index: 0;
    height: 20rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include overlay {
      z-index: 1;
    }
  }
  .title {
    margin-bottom: $spacer_20;
  }
  .list {
    li {
      margin-bottom: 10px;
      position: relative;
      padding-left: $spacer_30;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        height: 1rem;
        width: 1rem;
        background: linear-gradient(
          45deg,
          #37b8d4 0%,
          #4343c7 34%,
          #4043c6 44%,
          #e75eff 100%
        );
        border-radius: 5px 5px 5px 15px;
      }
    }
  }
}
// ==============================  call2 action
.call2action {
  background: $color_gradient;
  padding: $spacer_90 $spacer_60;
  border-radius: $border_radius;
}

.team {
  display: flex;
  align-items: center;
  .left_part {
    overflow: hidden;
    height: inherit;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0;
      max-height: 400px;
      border-radius: $border_radius;
    }
  }
  .right_part {
    padding: $spacer_50 $spacer_40;
    border-radius: $border_radius;
    background: #17161a;
    width: 75%;
    flex-grow: 1;
    max-height: 400px;
  }
}
.has_bg_wrap {
  padding: 90px 35px 90px 215px;
  background: $color_gradient ;
  position: relative;
  @include tablet_vert_screen{
    padding: 90px 35px 90px 35px;
  }
  &.has_overlay{
    @include overlay
  }
}
.bg_grad_wrap {
  background: $color_gradient;
  padding: $spacer_40 $spacer_30;
  border-radius: $border_radius;
}
.bg_dark_wrap {
  background: $color_dark;
  padding: $spacer_90 $spacer_60;
  border-radius: $border_radius;
}

/*=========================
======= job page
===========================*/
.next-prev .col {
  padding: 0;
  margin: 0;
}

.next-prev .row {
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.next-prev .next {
  border-right: 2px solid rgba(0, 0, 0, 0.356);
}

.next-prev .prev {
  border-left: 2px solid rgba(0, 0, 0, 0.342);
}

.next-prev .next,
.next-prev .prev {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.next-prev .next::before,
.next-prev .prev::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.466);
  z-index: 1;
  transition: 0.35s cubic-bezier(0.5, 0, 0.35, 1);
}
.next-prev .next img,
.next-prev .prev img {
  width: 100%;
  margin-bottom: 0;
  transition: 0.35s cubic-bezier(0.5, 0, 0.35, 1);
  object-fit: cover;
  height: 15rem;
}
.next-prev .next h5,
.next-prev .prev h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  z-index: 2;
  transition: 0.35s cubic-bezier(0.5, 0, 0.35, 1);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.next-prev .next h5 a,
.next-prev .prev h5 a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.next-prev .next:hover img,
.next-prev .prev:hover img {
  transform: scale(1.25);
}
.next-prev .next:hover h5,
.next-prev .prev:hover h5 {
  color: rgba(255, 255, 255, 0.787);
}


// ]============================ awwards
.awwards{
  margin-bottom: -30px;
  .box_awwards{
    text-align: left;
    margin-bottom: 30px;
    .box-title{
      text-align: left;
      margin: 10px 0;
    }
    .box-desc{
      text-align: left;
    }
  }
}