
.section {
  /*=========================
        ======= Global
    ===========================*/


  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center ;
  &.spacer{
    padding: $spacer_90 0;
  }
  &.half-left{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 0em;
      left: 0;
      width: 30%;
      height: 100%;
      background: $color_dark ;
      background-image: url(../../assets/images/others/decoration.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;

    }
  }
  &.is-dark{
    background-color: black;
    color: $color_light;
    .title{
      color: $white;
    }
    h1, h2, h3, h4, h5, h6 {
      color: $white;
  }
  }

  .section-head {
    margin-bottom: 60px;
    width: 100%;
  }

  .section-subtitle {
    color: $color_brand;
    margin-bottom: 15px;

    &.is-center {
      max-width: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  .section-title {
    font-size: 48px;
    max-width: 40rem;
    color: $color_dark;
    text-align: left;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    @include lg {
      font-size: 40px;
    }
    @include md {
      font-size: 35px;
    }

    @include sm {
      font-size: 30px;
    }

    ::before {
      content: "";
      position: absolute;
      top: -10px;
      height: 4px;
      left: 0;
      width: 40px;
      background: $color_brand;
    }

    ::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 4px;
      background-color: #282828;
      left: 42px;
      top: -10px;
    }

    .has-line {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 0.7rem;
        bottom: 0.2rem;
        width: 103%;
        left: 0;
        background: $color_brand;
        z-index: 0;
        opacity: 0.2;
      }
    }

    &.is-left {
      max-width: 30rem;
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }

    &.is-center {
      max-width: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 60rem;

      ::before {
        content: "";
        position: absolute;
        top: -10px;
        height: 4px;
        left: 50%;
        width: 40px;
        background: $color_brand;
      }

      ::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 4px;
        background-color: #282828;
        left: 50%;
        top: -10px;
      }
    }
  }

  .section-title-sm {
    margin-bottom: 1.5rem;
    font-size: 2.5em;
    line-height: 1.4;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    color: $color_dark;
    text-align: center;
    text-transform: lowercase;

    .has-line {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 0.7rem;
        bottom: 0.2rem;
        width: 103%;
        left: 0;
        background: $color_brand;
        z-index: 0;
        opacity: 0.2;
      }
    }

    &.is-left {
      max-width: 30rem;
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }
  }

  .section-desc {
    margin: 30px 0;

    &.is-center {
      text-align: center;
      margin: 30px auto;
      max-width: 45rem;
    }
  }


  .section-shape1 {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: -1;
    height: 100%;
  }

  .section-particle {
    position: absolute;
    height: 50em;
    width: 50em;
    top: -10em;
    left: -25em;
    z-index: -3;

    @include md {
      width: 100%;
      left: -10rem;
      top: 70px;
      height: 50%;
      top: -70px;
    }
  }

  .section-shape2 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: -1;
    width: 100%;
    max-width: 32rem;
    width: 100%;
    overflow: hidden;

    @include sm {
      transform: translate(50%, -50%) scale(1.5);
    }
  }

  .lines {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &.section-grey-half {
    background: $color_brand;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 40%;
      width: 100%;
      background: rgba(255, 255, 255, 0.911);
    }
  }

  &.section-grey {
    background: rgb(241, 239, 245);
  }

  &.primary-bg {
    background: $color_brand;
  }

  /*====================================
    ========= section index demos
    =====================================*/
  &.section-demos {
    .demo-wrap {
      background: $color_dark ;
      padding: 40px 20px;
      border-radius: 7px;
      margin-bottom: 60px;
    }

    .demo-item {
      margin-bottom: 40px;

      .item-img {
        border-radius: 5px;
        overflow: hidden;
        transition: all ease 0.3s;
        max-height: 24rem;
        border: solid 1px #383240;

        &:hover {
          transform: rotateX(-10deg) translateZ(50px);
          opacity: 0.9;
        }
      }

      .item-title {
        text-align: center;
        margin-top: 20px;
        transition: all ease 0.3s;
      }

      img {
        width: 100%;
      }

      &:hover {
        .item-title {
          color: $color_brand;
        }
      }
    }
  }

  /*====================================
    ========= section index feautures
    =====================================*/

  &.section-index-feautures {
    background-color: #2f1893;
    position: relative;
  }

  /*====================================
    ========= section companies
    =====================================*/
  &.section-companies {
    padding: 4rem 2rem;
    width: 100%;
    position: relative;
    border-radius: 10px;

    &.in-header {
      bottom: -140px;
    }

    &.has-style1 {
      background: $color_dark;
      box-shadow: 0 60px 40px -30px rgba(37, 48, 51, 0.04), 0 10px 50px 0 rgba(37, 48, 51, 0.06);

      

      &.is-dark {
        background: #17161b;
        border-radius: 10px;

        @include lg {
          border-radius: 5rem;
        }

        @include md {
          border-radius: 10px;
        }
      }

      .company-item {
        display: flex;
        justify-content: center;

        img {
          max-height: 2rem;
          margin-bottom: 30px;
          transition: 0.25s ease-in-out;

          @include md {
            max-height: 2rem;
          }

          @include sm {
            max-height: 1.5rem;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      @include lg {
        padding: 4rem 1rem;

        .company-item {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  /*====================================
    ========= section feautures
    =====================================*/
  &.section-feautures {
    .feautures-boxes {
      counter-reset: feautures-box;

      .col-lg-4 {
        @include lg {
          margin-bottom: 2rem;

          @include last(1) {
            margin-bottom: 0;
          }
        }
      }

      .feautures-box {
        background: #161616;
        padding: 60px 40px;
        position: relative;
        z-index: 0;
        color: $white;
        overflow: hidden;
        transition: 0.25s;
        cursor: pointer;

        .title {
          color: $white;
        }

        .desc {
          color: $white;
        }

        &::after {
          content: url(../img/bg/box.png);
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
        }

        .title {
          font-size: 24px;
          margin: 0 0 20px 0;
        }

        .feather {
          width: 50px;
          height: 50px;
          stroke: currentColor;
          stroke-width: 2.5;
          stroke-linecap: round;
          stroke-linejoin: round;
          fill: none;
          margin-bottom: 20px;
        }

        &.is-active {
          background: $color_brand;
          color: $white;

          .desc {
            color: $white;
          }

          &::after {
            content: none;
          }
        }

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 11px 19px 0 rgba(0, 0, 0, 0.12);

          .feather {
            color: darken($color_brand, 10%);
          }
        }
      }
    }
  }

  /*====================================
    ========= section feautures2
    =====================================*/
  &.section-feautures2 {
    background: linear-gradient(white, rgba($color_brand, 0.2));
    position: relative;
  }

  /*====================================
    ========= section feautures3
    =====================================*/
  &.section-feautures3 {
    background: $section-grey;
    background: url(../img/bg/sectionbg.jpg);
    background-position: center;
    background-size: cover;

    .feautures3-box {
      background: $white;
      padding: 2rem;
      margin-bottom: 30px;

      .media-left {
        margin-right: 20px;
      }

      .feather {
        width: 40px;
        height: 40px;
        stroke: currentColor;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        color: $color_brand;
      }

      .title {
        font-size: 24px;
        margin: 30px 0 5px 0;
      }

      .icon {
        max-width: 4rem;
      }
    }
  }

  /*====================================
    ========= section portfolio
    =====================================*/
  &.section-portfolio {
    .portfolio-boxes {
      .portfolio-box {
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        z-index: 0;
        transition: all ease 0.3s;
        margin-bottom: 30px;

        &::before {
          content: "";
          background: rgba(0, 0, 0, 0.1);
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transition: all ease 0.3s;
          border-radius: 8px;
        }

        img {
          width: 100%;
        }

        .icon {
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          background: #000;
          position: absolute;
          top: 1rem;
          right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .feather {
            height: 20px;
            width: 20px;
            stroke: currentColor;
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
            margin-bottom: 2px;
            color: $white;
          }
        }

        .wrap {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 30px;
          transform: translate3d(0, 150%, 0);
          transition: transform 0.6s;
          z-index: 3;

          .title {
            color: #fff;
          }

          span {
            color: #fff;
          }
        }

        &:hover {
          transform: rotateX(-10deg) translateZ(50px);

          &::before {
            content: "";
            background: rgba(0, 0, 0, 0.75);
          }

          .wrap {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }

    &.is-dark {
      background: $section-dark;
    }
  }

  // ================================ section clients
  &.section-clients {
    position: relative;

    .col {
      padding: 0;
    }

    .slick-dots {
      bottom: -30px !important;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background: $section-dark;
      width: 100%;
      height: 60%;
      z-index: -1;
    }

    .section-title {
      color: $white;
    }

    .client-wrap {
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 5px 10px 35px #00000014;
    }

    .client-logo {
      background: #282828;
      height: 20rem;
      padding: 2rem;

      img {
        width: 70%;
      }

      @include lg {
        height: 20rem;
      }
    }

    .client-image {
      background-size: cover;
      background-position: center;
      height: 20rem;
      width: 100%;

      @include lg {
        height: 20rem;
      }
    }

    .client-quote {
      background: #282828;
      height: 20rem;
      padding: 4rem;
      text-align: center;
      font-style: italic;
      color: rgb(255, 255, 255);

      @include lg {
        height: auto;
        padding: 2rem;
      }
    }

    &.is-dark {
      .client-wrap {
        box-shadow: 5px 10px 35px #070216;
      }

      .client-quote {
        background: rgb(2, 13, 31);
      }
    }

    &.is-grad {
      &::before {
        background: $section-grey;
      }
    }

    &.is-light {
      &::before {
        background: #f3f6fc;
      }

      .section-title {
        color: $color_dark;
      }
    }
  }

  /*====================================
    ========= section  Customer
    =====================================*/
  &.section-customers {
    .customer-box {
      border-radius: 10px;
      background: #000;
      padding: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .thumb {
        margin-bottom: 30px;

        img {
          width: 100%;
          max-width: 5rem;
          border-radius: 100%;
        }
      }

      .name {
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
      }

      .desc {
        color: #fff;
        text-align: center;
      }
    }
  }

  /*====================================
    ========= section  Stars
    =====================================*/
  &.section-stars {
    &.is-dark {
      background: #000;
    }

    .section-title {
      margin-bottom: 20px;
    }

    .stars {
      margin-top: 20px;

      img {
        max-height: 1rem;

        @include md {
          margin-bottom: 70px;
        }
      }
    }

    .img {
      width: 100%;
    }
  }

  /*====================================
    ========= section works
    =====================================*/
  &.section-team {
    .team-item {
      height: 30rem;
      display: flex;
      align-items: flex-end;
      position: relative;
      z-index: 0;
      margin-bottom: 2rem;
      transition: 0.25s;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: #10131a;
        z-index: -1;
        opacity: 0.3;
        transition: 0.25s;
      }

      .team-img {
        position: absolute;

        left: 0;
        top: 0;
        background-size: cover;
        height: 100%;
        width: 130%;
        z-index: -2;
        transition: 0.35s;
      }

      .title {
        margin-right: 20px;
        color: $white;
        font-size: 20px;
        line-height: 1.4;
        width: 100%;
        text-transform: capitalize;
        padding: 30px 0 30px 30px;

        a {
          color: $white;
        }
      }

      .sub-title {
        color: #e7e7e7;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.8;
        padding: 30px 30px 30px 0;
      }

      .link {
        padding: 0 2rem 2rem;
      }

      &:hover {
        &::before {
          background: $color_dark;
          z-index: -1;
          opacity: 0.5;
          transform: scale(1.1);
        }

        .team-img {
          width: 100%;
        }
      }
    }
  }

  /*====================================
    ========= section team
    =====================================*/
  &.section-team {
    &.has-bg {
      background: linear-gradient(to top, #fff 60%, #000 40%);
      background: url(../img/bg/imgsection.jpg);
      background-position: center;
      position: relative;
      z-index: 0;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: #fff;
        z-index: -1;
      }
    }

    .team-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 30px;
    }

    .team-thumb {
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 1rem;
      box-shadow: 0 18px 33px rgba(0, 0, 0, 0.078);

      img {
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: none;
        transition: 0.35s cubic-bezier(0.5, 0, 0.35, 1);
      }

      img {
        max-width: 100%;
      }

      .team-social {
        margin: 1rem 0 0;
        width: 100%;
        height: 100%;
        padding: 0;
        position: absolute;
        top: 0%;
        left: 50%;
        visibility: hidden;
        transform: translateX(-50%) scale(1.3);
        transition: 0.35s cubic-bezier(0.5, 0, 0.35, 1);
        opacity: 0;

        li {
          margin: 0 0.5rem;

          a {
            color: #ffffff;
          }

          svg {
            color: #ffffff;
          }
        }
      }

      &:hover {
        .team-social {
          visibility: visible;
          transform: translateX(-50%) scale(1);
          opacity: 1;
        }

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.26);
        }
      }
    }

    .team-name {
      text-transform: capitalize;
    }
  }

  /*====================================
    ========= section works2
    =====================================*/
  &.section-works2 {
    background-position: center;
    position: relative;
    z-index: 0;

    .work3-box {
      overflow: hidden;

      position: relative;
      z-index: 0;
      margin-bottom: 2rem;
      transition: 0.25s;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: $color_brand;
        opacity: 0;
        z-index: 1;
        transition: 0.25s;
        transition: 0.25s;
      }

      .work3-head {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 30px;
        transform: translate3d(0, 150%, 0);
        transition: transform 0.6s;
        z-index: 3;

        .title {
          a {
            color: white;
            font-size: 24px;
          }
        }

        span {
          text-transform: uppercase;
          font-size: 15px;
          color: $white;
        }
      }

      .work3-img {
        position: relative;
        width: 100%;
        z-index: 0;
        transition: 0.25s;
      }

      &:hover {
        &::before {
          opacity: 0.6;
        }

        .work3-head {
          transform: translate3d(0, 0, 0);
        }
      }

      &.is-active {
        .work3-head {
          transform: translate3d(0, 0, 0);
        }

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background: $color_dark;
          opacity: 0.5;
          z-index: 1;
          transition: 0.25s;
          transition: 0.25s;
        }
      }
    }
  }

  /*====================================
    ========= section works3
    =====================================*/

  &.section-works {
    .work-boxes-slick {
      margin: 0 -20px;

      @include md {
        margin: 0 0;
      }
    }

    .work-box {
      margin: 0 20px;

      overflow: hidden;

      position: relative;
      z-index: 0;
      margin-bottom: 2rem;
      transition: 0.25s;
      overflow: hidden;
      border-radius: 10px;

      box-shadow: 0px 5px 20px 0px rgba(130, 136, 147, 0.15);

      @include sm {
        margin-left: 0;
        margin-right: 0;
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: $color_brand;
        opacity: 0;
        z-index: 1;
        transition: 0.25s;
        transition: 0.25s;
      }

      .work-head {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 30px;
        transform: translate3d(0, 150%, 0);
        transition: transform 0.6s;
        z-index: 3;

        .title {
          a {
            color: white;
            font-size: 24px;
          }
        }

        span {
          text-transform: uppercase;
          font-size: 15px;
          color: $white;
        }
      }

      .work-img {
        position: relative;
        width: 100%;
        z-index: 0;
        transition: 0.25s;
      }

      &:hover {
        &::before {
          opacity: 0.6;
        }

        .work-head {
          transform: translate3d(0, 0, 0);
        }
      }

      &.is-active {
        .work-head {
          transform: translate3d(0, 0, 0);
        }

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background: $color_dark;
          opacity: 0.5;
          z-index: 1;
          transition: 0.25s;
          transition: 0.25s;
        }
      }
    }
  }

  /*====================================
    ========= section testimonials
    =====================================*/
  &.section-testimonial {
    position: relative;
    z-index: 0;
    overflow: visible;

    .client-wrap {
      padding-left: 4rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
      background-position: center;
      background-size: 120%;
      background-repeat: no-repeat;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 0;

      @include sm {
        padding-left: 0;
      }

      &.is-white {
        .client {
          color: #000;
        }

        .client-quote {
          color: #000;
        }

        .client-name {
          color: #000;
        }

        .client-position {
          color: #000;
        }
      }
    }

    .stars {
      max-height: 1.2rem;
    }

    .client {
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .client-quote {
      color: #fff;
      text-align: center;
      max-width: 25rem;
    }

    .client-img {
      border-radius: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;

      img {
        max-width: 5rem;
      }
    }

    .client-name {
      margin-top: 20px;
      color: $white;
      text-align: center;
      margin-right: 15px;
    }

    .client-position {
      margin-top: 20px;

      color: $white;
    }
  }
  .testimonial-box {
    display: flex;
    @include md {
      flex-direction: column;
    }
    .box-left {
      background-size: cover;
      height: inherit;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0;
      }
    }
    .box-right {
      background: #17161c;
      border-radius: 0 5px 5px 0;
      width: 75%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 60px;
      @include md {
        width: 100%;
      }
      .testimonial-quote {
        flex-grow: 1;
        font-size: 1.875rem;
        align-items: center;
        display: flex;
        color: white;
        text-align: center;
        margin-bottom: 60px;
        @include lg {
          font-size: 1.6rem;
        }
        @include md {
          font-size: 20px;
        }
      }
      .logo {
        box-sizing: content-box;
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;

        img {
          height: 2.5rem;
        }
      }
      .title {
        text-align: center;
        margin: 30px 0;
        color: white;
      }
    }
  }

  /*====================================
    ========= section testimonial2
    =====================================*/
  &.section-testimonial2 {
    background: #000;
    background: url(../img/bg/imgsection2.jpg);
    background-position: center;

    .section-title {
      color: #ffffff;
    }

    .client-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .client-img {
        border-radius: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        img {
          max-width: 5rem;
        }
      }

      .client-name {
        margin-bottom: 20px;
        color: $white;
        text-align: center;
      }

      .client-quote {
        color: $white;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 38px;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  /*====================================
    ========= section testimonial3
    =====================================*/
  &.section-testimonial3 {
    background: #000;
    background: url(../img/bg/imgsection2.jpg);
    background-position: center;

    .quote {
      width: 100%;
      position: relative;

      &::before {
        content: url(../img/others/icon-quote-white.svg);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        background-position: center 0;
        background-repeat: no-repeat;
        z-index: 1;
        height: 100%;
      }
    }

    .section-title {
      color: #ffffff;
    }

    .client-wrap {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .client-img {
        border-radius: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        img {
          max-width: 5rem;
        }
      }

      .client-name {
        margin-bottom: 20px;
        color: $white;
        text-align: center;
      }

      .client-quote {
        color: $white;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 38px;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  /*====================================
    ========= section testimonial4
    =====================================*/
  &.section-testimonial4 {
    .quote-wrap {
      background: #000;
      padding-top: 80px;
      padding-left: 80px;
      padding-right: 60px;
      padding-bottom: 80px;
      background: url(../img/bg/imgsection2.jpg);

      .client-img {
        border-radius: 100%;
        overflow: hidden;
        margin-right: 20px;

        img {
          max-width: 4rem;
        }
      }

      .client-name {
        color: #fff;
      }

      .client-position {
        text-transform: uppercase;
        color: rgb(161, 161, 161);
        font-size: 13px;
      }

      .client-quote {
        margin-top: 40px;
        font-size: 25px;
        color: #fff;
      }
    }

    .profile-img {
      img {
        width: 100%;
      }
    }
  }
  &.section-testi {
    .element-eight {
      position: relative;
      float: left;
      overflow: hidden;
      text-align: left;
      box-shadow: none !important;
      margin-bottom: 25px;
    }

    .element-eight * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
      transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    }

    .element-eight img {
      max-width: 100%;
      vertical-align: middle;
      height: 70px;
      width: 70px !important;
      border-radius: 50% !important;
      margin: 30px 0 0 25px;
    }

    .element-eight .description {
      background-color: #fff;
      display: block;
      font-weight: 400;
      line-height: 30px;
      margin-left: 14px;
      margin-right: 14px;
      padding-top: 41px;
      padding-bottom: 40px;
      padding-left: 38px;
      padding-right: 38px;
      position: relative;
      box-shadow: 0px 10px 30px rgba(3, 36, 27, 0.08);
      border-radius: 5px;
      color: #5e656c;
      line-height: 30px;
      border: solid 1px #c2e6e2;

    }

    .element-eight .arrow {
      top: 97%;
      left: 0;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 30px solid transparent;
      border-top: 40px solid #fff;
      margin: 0;
      position: absolute;
      display: none;
    }

    .element-eight .author {
      position: absolute;
      bottom: 9%;
      padding: 0 10px 0 112px;
      margin: 0;
      color: #16171e;
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
    }

    .element-eight .author h5 {
      font-size: 22px;
      font-weight: 500;
      color: #16171e;
      margin-bottom: 10px;
      line-height: 28px;
    }

    .element-eight .author p {
      font-size: 14px;
      color: #85868c;
      margin-top: -10px;
    }
  }

  /*====================================
    ========= section testimonial4
    =====================================*/
  &.section-testimonial-cards {
    .testimonial3 h1,
    .testimonial3 h2,
    .testimonial3 h3,
    .testimonial3 h4,
    .testimonial3 h5,
    .testimonial3 h6 {
      color: #3e4555;
    }

    .testimonial3 .font-weight-medium {
      font-weight: 500;
    }

    .testimonial3 .bg-light {
      background-color: #f4f8fa !important;
    }

    .testimonial3 .subtitle {
      color: #8d97ad;
      line-height: 24px;
    }

    .testimonial3 .testi3 .card-body {
      padding: 40px;
    }

    .testimonial3 .testi3 h6 {
      line-height: 26px;
    }

    .testimonial3 .testi3 .thumb-img img {
      width: 60px;
    }

    .testimonial3 .testi3 .customer {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }

    .testimonial3 .card.card-shadow {
      -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
      box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    }

    .testimonial3 .font-10 {
      font-size: 10px;
    }

    .testimonial3 .text-success {
      color: #2cdd9b !important;
    }

    .testimonial3 .text-muted {
      color: #8d97ad !important;
    }

    .testimonial3 .owl-theme .owl-dots .owl-dot.active span,
    .testimonial3 .owl-theme .owl-dots .owl-dot:hover span {
      background: #316ce8;
    }
  }

  /*====================================
    ========= section About
    =====================================*/
  &.section-about {
    position: relative;
    overflow: hidden;

    .about-img {
      width: 100%;
    }

    .screen {
      width: 100%;
    }
  }

  /*====================================
    ========= section About us
    =====================================*/
  &.section-about-us {
    overflow: hidden;

    .section-title {
      margin-bottom: 20px;
    }

    .section-description {
      margin-bottom: 20px;
    }
  }

  /*====================================
    ========= section blog
    =====================================*/
  &.section-blog {
    .blog {
      .blog-img {
        width: 100%;
        z-index: -1;
      }

      .blog-wrap {
        position: relative;
        padding: 1.5rem;
        margin-top: -1rem;
        margin-left: 20px;
        margin-right: 20px;
        z-index: 2;
        transition: 0.25s;
      }

      .title {
        a {
          font-size: 20px;
          color: $color_dark;
        }
      }

      .blog-item {
        margin-bottom: 2rem;

        &:hover {
          .blog-wrap {
            transform: translateY(-1rem);
            background: $color_brand;
          }

          .title {
            a {
              font-size: 20px;
              color: $white;
            }
          }
        }
      }
    }
  }

  &.section-subscribe {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;

    .section-desc {
      margin: 30px 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.438);
      z-index: -1;
    }
  }

  /*====================================
    ========= section talk
    =====================================*/
  &.section-talk {
    background: rgb(32, 32, 32);
    color: #ffffff;
    background: url(../img/bg/imgsection.jpg);
    background-position: center;

    .row {
      margin: 0;
    }

    @include sm {
      padding-left: 15px;
      padding-right: 15px;
    }

    .section-title {
      color: #ffffff;
    }
  }

  /*====================================
    ========= section video
    =====================================*/
  &.section-video {
    overflow: hidden;

    .section-title {
      margin-bottom: 20px;
    }

    .section-description {
      margin-bottom: 20px;
    }

    background: rgb(234, 233, 236);

    .signature {
      margin-top: 20px;
      max-width: 6rem;
    }

    .info {
      color: $white;
      position: relative;

      @include md {
        padding: 70px 30px;
      }

      @include sm {
        padding: 70px 15px;
      }
    }

    .play-area {
      position: absolute;
      z-index: 9;
      left: 51%;
      top: 55%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;

      @include lg {
        right: 0;
        left: auto;
        top: auto;

        bottom: 0;
        transform: translateX(0) translateY(0);
      }
    }

    .play-btn {
      background: #fff;
      height: 4rem;
      width: 4rem;
      border-radius: 100%;
      padding: 0.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      z-index: 0;
      cursor: pointer;
    }

    .play-btn::before {
      content: "";
      position: absolute;
      bottom: 50%;
      right: 50%;
      border-radius: 100%;
      transform: translate(50%, 50%);
      background: rgba(255, 255, 255, 0.301);
      height: 150%;
      z-index: -1;
      animation-name: anim2;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0, 0, 0.41, 1.87);
      width: 150%;
    }

    .video {
      background-size: cover;
      height: 30rem;
      width: 100%;
      position: relative;
      right: 0;
      background: transparent;
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
      overflow: hidden;

      @include lg {
        display: none;
      }


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include md {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  /*====================================
    ========= section video2
    =====================================*/
  &.section-testimonial5 {
    overflow: hidden;

    .section-title {
      margin-bottom: 30px;
    }

    .section-description {
      margin-bottom: 30px;
      color: $white;
    }

    .info {
      padding: 140px 7em 140px 6.5em;
      color: $white;

      @include md {
        padding: 70px 30px;
      }

      @include sm {
        padding: 70px 15px;
      }
    }

    .video {
      overflow: hidden;
      border-radius: 0 20px 20px 0;

      img {
        height: 100%;

        @include md {
          height: auto;
          width: 100%;
        }
      }
    }

    .image {
      img {
        border-radius: 100%;
        margin-right: 10px;
        width: 5rem;
        margin-top: 30px;
      }
    }

    .client-quote {
      color: #fff;
      font-size: 30px;
    }

    .media-content {
      margin-top: 30px;
    }
  }

  /*====================================
    ========= section Plans
    =====================================*/
  &.section-plans {
    position: relative;
    .is-dark-green {
      color: white !important;
      background: #002b44 !important;
      .plan-title {
        color: white !important;
      }
      .item {
        color: white !important;
      }
    }

    .pricing-toggle {
      float: right;
      text-align: right;
      margin-bottom: 20px;
    }f


    .pricing-toggle span {
      color: #59c894;
      font-weight: 500;
      text-transform: uppercase;
    }

    .pricing-toggle svg {
      fill: #59c894;
      margin-right: 15px;
      position: relative;
      top: 15px;
      -webkit-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      transform: rotate(20deg);
    }

    .pricing-toggle .pricing-switch {
      color: #000;
      line-height: 34px;
      margin-top: 20px;
    }

    .pricing-toggle .pricing-switch .switch {
      margin: 0 10px;
    }

    .slider {
      background-color: #3d8aed;
      bottom: 0;
      cursor: pointer;
      left: 0;
      right: 0;
      top: 0;
    }

    .slider,
    .slider:before {
      position: absolute;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      background-color: #fff;
      bottom: 4px;
      content: "";
      height: 26px;
      left: 4px;
      width: 26px;
    }

    input:checked + .slider {
      background-color: $color_brand;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -o-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .switch {
      display: inline-block;
      height: 34px;
      position: relative;
      width: 60px;
    }

    .switch input {
      height: 0;
      opacity: 0;
      width: 0;
    }

    .rounded-underline {
      position: relative;
      text-decoration: none;
    }

    .rounded-underline:before {
      border-radius: 3px;
      bottom: 0;
      content: "";
      height: 6px;
      position: absolute;
      width: 100%;
    }

    @media (max-width: 991.98px) {
      .rounded-underline:before {
        display: none;
      }
    }

    .in-right {
      transform: translateX(-30px);

      @include lg {
        transform: none;
      }
    }

    .in-left {
      transform: translateX(30px);
      position: relative;
      z-index: -1;

      @include lg {
        transform: none;
      }
    }

    .plan-item {
      border-radius: 0.5rem;
      background: $plan;
      position: relative;

      .best-choose {
        position: absolute;
        top: -2rem;
        border-radius: 5px 5px 0 0;
        background: #e4f1f1;
        padding: 5px 20px;
        font-size: 15px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        color: $color_brand;
      }

      @include lg {
        margin-bottom: 2rem;
      }

      .plan-head {
        padding: 2rem 2rem 0;
      }
      .billed {
        margin-bottom: 20px;
      }

      .plan-title {
        font-size: 26px;
        color: $color_dark;
      }
      .plan-desc {
        margin: 20px 0;
      }

      .price-var {
        color: #81838a;
        margin-right: 0.5rem;
      }

      .plan-price {
        font-size: 3rem;
        line-height: 100%;
        margin-bottom: 20px;
        @include md {
          font-size: 1.5rem;
        }
      }

      .list-items {
        margin-bottom: 1rem;
        padding: 0;
        margin-left: 0;

        .item {
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          color: #828893;

          ion-icon {
            background: $color_brand;
            color: #fff;
            border-radius: 50%;
            padding: 2px;
            margin-right: 10px;
          }
          img {
            color: #fff;
            padding: 2px;
            margin-right: 10px;
          }
        }
      }

      &.is-active {
        color: $color_dark;
        background-color: white;
        position: relative;
        z-index: 3;
        border: solid 17px #21a09a24;
      }


      &.is-dark {
        background: $color_brand;

        .plan-title {
          color: #fff;
        }

        .price-var {
          color: #fff;
        }

        .plan-price {
          color: #fff;
        }

        .list-items {
          color: #fff;

          .item {
            color: #fff;

            ion-icon {
              color: #fff;
            }
          }
        }
      }

      .plan-body {
        padding:   40px;
      }

      &.has-style1 {
        background: $white;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
        border: solid 1px #c2e6e2;

      }
    }
  }

  /*====================================
    ========= section counter
    =====================================*/
  &.section-counter {
    overflow: hidden;

    .counters {
      margin-top: 70px;
    }

    .counter-item {
      border-radius: 10px;
      padding: 20px;
      transition: 0.25s;
      cursor: default;
      transition: 0.2s cubic-bezier(0.5, 0, 0.35, 1);

      &:hover {
        box-shadow: 0 14px 33px -3px rgba(0, 0, 0, 0.098);
        border-radius: 10px;
      }

      .counter-number {
        font-size: 30px;
        text-align: center;

        @include md {
          font-size: 20px;
        }
      }

      .counter-name {
        color: $color_brand;
        text-align: center;
      }
    }
  }

  /*====================================
    ========= section services
    =====================================*/
  &.section-services {
    .section-title {
      margin-bottom: 30px;
      max-width: 30rem;
      margin-left: 0;
    }

    .section-description {
      margin-bottom: 30px;
      max-width: 30rem;
      margin-left: 0;
    }

    .service-img {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      border-radius: 5px;

      img {
        width: 100%;
      }
    }
  }

  /*====================================
    ========= section services 2
    =====================================*/
  &.section-services2 {
    background: #f3f3f3;

    .section-title {
      margin-bottom: 30px;
    }

    .read-more {
      margin-top: 30px;

      @include md {
        margin: 30px 0;
      }
    }

    .list-group {
      margin-top: 30px;

      .list-group-item {
        border: none;
        position: relative;
        margin: 0px 0px 10px 20px;
        padding: 0;
        padding-left: 20px;
        background: transparent;
      }
    }

    .list-group .list-group-item::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      background-color: $color_brand;
      width: 7px;
      height: 7px;
      border-radius: 100%;
    }

    .img-box {
      background-color: #fff;
      box-shadow: 0 28px 50px rgba(77, 91, 120, 0.15);
      box-sizing: content-box;
      margin-left: 55px;
      margin-top: 0;
      padding: 14%;
      position: relative;
      z-index: 1;

      &.has-padding0 {
        margin-right: 55px;
        margin-left: 0;
      }

      @include md {
        margin-left: 0;
        margin-right: 0 !important;
      }

      img {
        width: 100%;
      }
    }

    .exp-box {
      display: flex;
      flex-direction: row;
      justify-items: center;

      align-items: center;
    }

    span.exp-year {
      font-weight: 900;
      color: $color_brand;
      font-size: 100px;
    }

    span.exp-text {
      color: $color_dark;
      font-size: 20px;
      width: 100px;
      max-width: 100px;
      margin-left: 20px;
    }

    .services2-boxes {
      margin-top: 140px;

      @include md {
        margin-top: 70px;
      }
    }

    .services2-box {
      padding: 40px 25px 40px 25px;
      transition: 0.25;

      .feather {
        width: 40px;
        height: 40px;
        stroke: currentColor;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        margin-bottom: 20px;
        color: $color_brand;
      }

      &.is-active {
        border-top: solid 2px $color_brand;
        background: #ffff;
        box-shadow: 0 28px 50px rgba(77, 91, 120, 0.15);

        p {
          color: #282828;
        }
      }

      &:hover {
        transform: translateY(-5px);

        .feather {
          color: $color_dark;
        }
      }

      .title {
        font-size: 20px;
        line-height: 28px;
        margin: 0px 0px 20px 0px;
      }
    }
  }

  /*====================================
    ========= section services 3
    =====================================*/
  &.section-services3 {
    .service-boxes {
      .service-box {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;

        padding: 30px;
        background: $color_dark;

        .feather {
          position: absolute;
          right: -15px;
          top: 50%;
          transform: translateY(-50%);
          color: $white;
          width: 50px;
          height: 50px;
          transition: 0.25s;
          stroke-width: 1.5;
        }

        &:hover {
          .feather {
            right: 15px;
          }
        }

        &.is-active {
          background: $color_gradient ;
          color: white;
          h5 {
            color: white;
          }
        }

        &.has-style2 {
          border-radius: 10rem;
          background: $section-dark;
          color: #fff;
          border: none;
          

          &.is-active {
            background: #000;
            border: solid 1px $section-dark;
          }

          .title {
            color: #fff;
          }
        }
      }
    }
  }

  /*====================================
    ========= section contact
    =====================================*/
  &.section-contact {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    background-color: #ffffff;

    .contact-form {
      position: relative;
      width: 100%;
      height: auto;
      box-shadow: 0 0 0 #ffff;
      box-shadow: 0 17px 43px #e1e4e5;
      padding: 60px;
      background: #fff;
      border-radius: 10px;

      @include sm {
        padding: 25px 15px;
      }
    }

    .feather {
      width: 20px;
      height: 20px;
      stroke: currentColor;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      color: $color_brand;
      margin-right: 20px;
    }

    .contact-info-list-item {
      overflow: hidden;
      display: flex;
      margin-bottom: 30px;
    }

    .contact-info-list-item p {
      font-weight: 400;
      color: #c1c1c1;
      font-size: 16px;
    }

    .contact-info-list-item h3 {
      font-weight: 900;
      margin-top: 5px;
      color: #fff;
      font-size: 25px;
    }

    .contact-info-list-item.pdt-50:last-child span {
      margin-right: 50px;
    }

    h4.contact-heading {
      border-bottom: 1px solid #ddd;
      margin-bottom: -40px;
    }
  }

  &.section-map {
    background-color: #ffffff;
  }

  .items-contact {
    .col-lg-12 {
      padding: 0;
    }

    .contact-item {
      margin: 0 0 2rem;
      box-shadow: 0 60px 120px rgba(150, 155, 187, 0.2);
      background: #ffffff;
      border-radius: 10px;
      padding: 20px 30px;


      h6 {
        font-size: 1.1rem;
        position: relative;
        color: $color_brand;
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 4px;
          height: 1rem;
          width: 1rem;
          background: $color_brand;
          border-radius: 5px 5px 5px 15px;
        }
      }

      &-info {
        font-size: 1rem;
      }
    }
  }

  /*=========================
    ======= section jobs
    ===========================*/
  &.section-jobs {
    .job-title {
      color: rgb(38, 38, 38);
      line-height: 1;
      font-size: 24px;
      font-weight: 400;
      text-transform: capitalize;
      padding: 60px 0px 30px;
      margin: 0px;
    }

    .job-list-item {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      padding: 22px 20px;
      transition: 0.25s;

      &.is-active {
        background: $color_brand;
        color: $white;

        .job-item-title {
          color: $white;
        }

        .job-info {
          color: $white;
        }

        .arrow {
          color: white;
        }
      }

      .arrow {
        color: $color_brand;
      }

      .job-info {
        color: #000;
      }

      .job-item-title {
        color: $color_brand;
      }

      &:hover {
        background: rgba($color_brand, 0.08);
        color: $color_dark;

        .arrow {
          color: $color_dark;
        }

        .job-info {
          color: $color_dark;
        }

        .job-item-title {
          color: $color_dark;
        }
      }
    }
  }
  /*=========================
    ======= section strps
    ===========================*/
  &.section-steps {
    .SimpleSteps {
      align-items: top;
      counter-reset: section;
      display: flex;
      justify-content: space-between;
      max-width: 800px;
      margin: 0 auto;
      position: relative;
    }
    .SimpleSteps::before {
      background: rgba(0, 0, 0, 0.38);
      content: "";
      height: 1px;
      left: 140px;
      position: absolute;
      right: 120px;
      top: 23px;
      z-index: 1;
      @include sm {
        display: none;
      }
    }
    .SimpleSteps__step {
      flex-basis: 0;
      flex-grow: 1;
      position: relative;
      text-align: center;
    }
    .SimpleSteps__step::before {
      background: $color_brand;
      border-radius: 50%;
      box-shadow: 0 0 0 10px white;
      content: counter(section);
      counter-increment: section;
      display: block;
      font-size: 1.5rem;
      height: 3rem;
      line-height: 3rem;
      margin: 0 auto 1rem;
      position: relative;
      width: 3rem;
      color: white;
      z-index: 2;
    }
    .SimpleSteps__step-content {
      font-size: 1rem;
      font-weight: 700;
    }
    @media screen and (max-width: 720px) {
      .SimpleSteps {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
      }
    }
    @media screen and (max-width: 720px) {
      .SimpleSteps__step {
        margin-bottom: 50px;
      }
    }
    @media screen and (max-width: 720px) {
      .SimpleSteps__step::after {
        background: rgba(0, 0, 0, 0.38);
        bottom: -78px;
        content: "";
        height: 70px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 1px;
        z-index: 1;
        display: inline;
      }
    }
    @media screen and (max-width: 720px) {
      .SimpleSteps__step:last-child::after {
display: none;
      }
    }
  }
  .SimpleSteps__step:last-child{
    margin-bottom: 0;
  }
  /*=========================
    ======= section trial
    ===========================*/
  &.section-trial {
    .free-box {
      padding: 4rem;
      border-radius: 5px;
      color: $white;
      position: relative;
      background: $color_gradient ;
      overflow: hidden;

      .title {
        margin-bottom: 20px;
        color: $white;
      }

      .desc {
        margin-bottom: 20px;
        color: $white;
        font-size: 19px;

      }
    }

    .plan-boxes {
      margin-top: 70px;

      .plan-box {
        background: $section-grey;
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: 30px;

        .plan-title {
          margin-bottom: 20px;
        }

        .plan-desc {
          margin-bottom: 20px;
        }

        .plan-price-wrap {
          margin-bottom: 20px;
          display: flex;
          justify-items: start;

          .price-title {
            margin-right: 5px;
            font-size: 30px;
          }
        }

        &.is-active {
          background: $color_brand;
          color: $white;
          box-shadow: 0 15px 17px rgba(0, 0, 0, 0.19);

          .plan-title {
            color: $white;
          }

          .plan-desc {
            color: $white;
          }

          .price-title {
            color: $white;
          }
        }
      }
    }
  }

  /*=========================
    ======= section trial
    ===========================*/
  &.section-call2action {
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: #000;
      top: 0;
      opacity: 0.3;
    }

  }
}

/*====================================
    ========= section  help
    =====================================*/
.section-help {
  .card {
    &.in-help {
      margin-bottom: 30px;

      .card-text {
        font-size: 17px;
      }

      .text-small {
        span {
          font-size: 14px;
        }
      }

      .ml-min {
        margin-left: -20px;
      }

      .avatars {
        padding-left: 0;
        list-style: none;
        display: flex;
        margin-bottom: 0;

        .avatar {
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          border: 5px solid #fff;
        }
      }
    }
  }
}

/*====================================
    ========= section  companies2
    =====================================*/

.section-companies2 {
  margin-top: 70px;

  .company-item {
    background: rgb(24, 24, 24);
    padding: 30px;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    transition: 0.25s;
    margin-bottom: 30px;

    &:hover {
      transform: rotateX(-5deg) translateZ(50px);
    }

    img {
      width: 70%;
    }
  }
}
.section-job {
  .job-wrap {
    background-size: cover;
    background-position: top;
    border-radius: 10px;
    padding: 100px;
    position: relative;
    z-index: 0;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $color_dark;
      opacity: 0.5;
      z-index: -1;
      border-radius: 10px;
    }
    @include md{
      padding: 60px 15px;
    }
  }
}

// ------------------------------------ section blog
.section-blog2 {
  .card-blog {
    margin: 0 0 3rem;
    border-radius: 5px;
    box-shadow: 0 15px 29px -4px #3f49621f;
    background: #ffffff;
    overflow: hidden;
    transition: 0.2s cubic-bezier(0, 0, 0.41, 1.87);

    .card-blog-wrap {
      padding: 2rem;
    }

    .img-blog {
      transition: 1s;
      width: 100%;
    }

    .title-blog {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      transition: 0.2s;
    }

    .meta-blog {
      display: flex;
      margin-top: 1rem;
      align-items: center;

      .author {
        font-size: 0.9rem;
        margin-right: 1rem;

        a {
          color: $color_brand;
        }
      }

      .date {
        color: rgb(162, 166, 173);
        font-size: 0.8rem;
      }
    }

    &:hover {
      transform: translateY(0.5rem);

      .img-blog {
        filter: blur(0.1rem);
        opacity: 0.9;
      }

      .title-blog {
        color: $color_brand;
      }
    }
  }

  .load-more {
    margin-top: 3rem;

    span {
      padding: 1rem 2rem;
      box-shadow: 0 15px 29px -4px #2227351f;
      border-radius: 50rem;
      transition: 0.25s;
      color: $color_brand;
      background: #ffffff;

      &:hover {
        background: rgba($color_brand, 0.05);
        box-shadow: none;
      }
    }
  }

  .img-post {
    border-radius: 10px;
    position: relative;
    z-index: -1;
    width: 100%;
  }

  .content-post {
    overflow: hidden;
    padding: 4rem;
    margin: -8rem 4rem 0;
    background: #ffffff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 15px 29px -4px #3f49621f;
    position: relative;
    z-index: 1;

    @include md {
      padding: 1rem;
      margin: -2rem 1rem 0;
    }

    p {
      margin-bottom: 1rem;
    }

    img {
      width: 100%;
      margin: 1rem 0 2rem;
    }
  }

  .coments-wrap {
    margin: 2rem 4rem 0;
    background: rgba($color_brand, 0.1);
    padding: 4rem;

    @include md {
      padding: 1rem;
      margin: 2rem 0 0;
    }

    .coments-wrap-title {
      color: $color_brand;
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }
  }
}

.blog-top {
  margin-top: -70px;

  .card-blog {
    .card-blog-wrap {
      padding: 1.5rem;
    }

    .title-blog {
      font-size: 20px;
      line-height: 1.3;
    }
  }
}

.section-purshase {
  background: url(../images/bg/shapes.svg);
    background-repeat: no-repeat;
    background-position: center;
    ion-icon{
      color: white;
      font-size: 2rem;
    }
}
.img-screen {
  border-radius: 5px;
  box-shadow: 0 32px 64px -8px rgba(36, 18, 77, 0.32);
}
.screen-wrap {
  position: relative;
  .deco {
    position: absolute;
    width: 120%;
    z-index: -1;
    left: 50%;
    bottom: -5rem;
    transform: translateX(-50%);
  }
}
.divider-wrap {
  background: url(../images/bg/devider.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 6rem;
  background-position: top;
  position: absolute;
  bottom: 0;
}
.divider-wrap-white {
  background: url(../images/others/divider-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 6rem;
  background-position: top;
}
.divider-wrap2 {
  background: url(../images/others/devider2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 6rem;
  background-position: top;
  position: absolute;
  top: 0;
}
.bg-secondary {
  background: rgba($color_brand, 0.08) !important;
}
.draw {
  position: relative;
  &::before {
    content: "";
    background-image: url(../images/others/draw.svg);
    background-repeat: no-repeat;
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: -6px;
    right: -3rem;
    @include md {
      bottom: -23px;
      right: 0rem;
      background-size: contain;
    }
  }
}

.integration {
  position: relative;
}
.integration .integration-list-left {
  display: flex;
  align-items: center;
  height: 100%;
}
.integration .integration-list-left li {
  min-width: 76px;
  min-height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
}
.integration .integration-list-left li img {
  width: 40px;
}
.integration .content {
  background-image: url(../images/others/cover.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 650px;
  @include lg {
    height: 100%;
    padding: 60px 0;
  }
}
.integration .integration-list-left li:nth-of-type(1) {
  position: relative;
  margin-top: -280px;
}
.integration .integration-list-left li:nth-of-type(2) {
  margin-bottom: -230px;
  margin-left: -10px;
}
.integration .integration-list-left li:nth-of-type(3) {
  margin-top: -40px;
  margin-left: -45px;
}

.integration .integration-list-right {
  display: flex;
  align-items: center;
  height: 100%;
}
.integration .integration-list-right li {
  min-width: 76px;
  min-height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
}
.integration .integration-list-right li:nth-of-type(1) {
  position: relative;
  margin-bottom: -160px;
  margin-left: 25px;
}
.integration .integration-list-right li img {
  width: 40px;
}
.integration .integration-list-right li:nth-of-type(3) {
  margin-top: 25px;
  position: relative;
}

.integration .integration-list-right li:nth-of-type(2) {
  margin-top: -180px;
  position: relative;
  margin-left: -10px;
}
.integration .heading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.integration-block {
  @include lg {
    display: none;
  }
}
.bg-secondary-solid {
  background: $color_brand !important ;
}

.plan-single {
  box-shadow: 0 14px 33px -3px rgba(0, 0, 0, 0.078);
  border-radius: 7px;
  background: white;
  padding: 5rem;
  @include md{
    padding: 3rem;
  }
  .desc-plan{
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  @include sm{
    padding: 2rem;
  }
  &.top-header {
    margin-top: -4rem;
  }
  .box {
    box-shadow: 0 14px 33px -3px rgba(0, 0, 0, 0.078);
  }
  .title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
  }
  .price {
    font-size: 6.25rem;
    text-align: center;
  }
  .width {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bg-points {
    background: url(../images/others/pricing.svg);
    background-size: contain;
  }
  .billed {
    margin-bottom: 20px;
  }
  .pricing {
    font-size: 35px;
  }
  .list-title {
    margin-bottom: 20px;
  }
  .list__pricing {
    font-weight: 500;
    color: #4e5867;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 30px;
    
  }
  .list {
    margin-top: 40px;
  }
  .paragraph {
    font-size: 13px;
    text-align: center;
    color: rgba($color_brand, 0.7);
  }
}

.pricing-table {
  background: #002b44;
  overflow: auto;
  padding-bottom: 30px;
  border-radius: 5px;

  table {
    display: block;
    thead {
      display: block;
      tr {
        display: block;
        .sin-title-box {
          padding: 0 20px;
          height: 60px;
          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -0.56px;
        }
      }
    }
    tbody {
      display: block;
      tr {
        display: block;
      }
    }
    .title-col {
      min-width: 290px;
    }

    .basic-col {
      min-width: 195px;
    }

    .standard-col {
      min-width: 195px;
    }

    .premium-col {
      min-width: 195px;
    }

    .ent-col {
      min-width: 195px;
    }
    .colored-row {
      border-top: 2px solid #002b44;
      width: initial;
      background: #24475d;

      &:first-child {
        border-top: 0;
        .sin-box {
          &:before {
            height: 100%;
            top: auto;
            bottom: 0;
          }
        }
      }
      .sin-box {
        position: relative;
        padding: 0 20px;
        height: 65px;
        color: #d8d8d8;
        background: #24475d;

        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.56px;
        &:before {
          content: "";
          background: #002b44;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          width: 1px;
        }
        &.title-col {
          color: #ffffff;
          font-weight: 700;
        }
        .table-icon {
          font-size: 20px;
          &.neg {
            color: #f04037;
          }
          &.pos {
            color: #67d216;
          }
        }
      }
    }
    .price-widget-block {
      padding-left: 22px;
      margin-top: 50px;
      .title {
        color: #ffffff;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: -0.66px;
        padding-bottom: 5px;
      }
      .subtitle {
        color: #9c9aaa;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: -0.46px;
        padding-bottom: 26px;
      }
      .btn {
        width: 167px;
        height: 50px;
        border-radius: 5px;
        background-color: $color_brand;
        color: white;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.56px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        &:hover {
          background-color: $color_brand;
          color: white;
        }
      }
    }
  }
}
.bg-dark {
  background: #002b44 !important;
}

.is-dark-green {
  background: #002c44;
}
