/* Helpers > _Classes.scss

/*** TABLE OF CONTENTS
======================================================
    0 /  colors
    1 /  spacing
    2 / Padding classes
    3 / Margin classes
    4 / Hidden classes
    5 / flex desiplay
    6 / border-radius
    7 / box-Shadows
    8 / Animations
    9 / Typography
    10 / OTHER
=================================================== ***/

/* =======================================================
  - - - - - - - - 0 / colors
========================================================== */

.bg_effect {
    position: relative;
    background-image: url(../images/bg/bg-header.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.bg-white{
    background: white !important;
}

.color-brand{
    color: $color_brand;
}


.half_hero{
    margin-top: -200px !important;
}
.space_half_hero{
    margin-top: 100px !important;

}
.bg-dark{
    background: $color_dark  !important ;
}

/* =======================================================
  - - - - - - - - 2 / spacing
========================================================== */
.blog_top_search_reset{
    height: 45px;
}
.top-15{
    top: 15px;
}
.min_100{
    margin-top: -100px;
}
.top_100{
    height: 100px;
}

/* =======================================================
  - - - - - - - - 2 / Padding classes
========================================================== */
.p-0 {
    padding: 0 !important;
}

.p-helf {
    padding: 0.50px;
}

.p-10{
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.p-50 {
    padding: 50px;
}

.p-60 {
    padding: 60px;
}

.p-70 {
    padding: 70px;
}

.p-80 {
    padding: 80px;
}

.p-90 {
    padding: 90px;
}

.p-100 {
    padding: 10rem;
}

/* ------------------------------------ padding top*/

.pt-helf {
    padding-top: 0.50px;
}

.pt-0 {
    padding-top: 0rem !important;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}
.pt-120 {
    padding-top: 120px;
}

/* ------------------------------------ padding bottom*/

.pb-helf {
    padding-bottom: 0.50px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 10rem;
}

/* ------------------------------------ padding bottom*/

.pl-helf {
    padding-left: 0.50px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-70 {
    padding-left: 70px;
}

.pl-80 {
    padding-left: 80px;
}

.pl-90 {
    padding-left: 90px;
}

.pl-100 {
    padding-left: 10rem;
}

/* ------------------------------------ padding bottom*/
.pr-sm-0 {
    @include sm {
        padding-right: 0 !important;
    }
}

.pl-sm-0 {
    @include sm {
        padding-left: 0 !important;
    }
}

.pr-helf {
    padding-right: 0.50px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-60 {
    padding-right: 60px;
}

.pr-70 {
    padding-right: 70px;
}

.pr-80 {
    padding-right: 80px;
}

.pr-90 {
    padding-right: 90px;
}

.pr-100 {
    padding-right: 10rem;
}

/* =======================================================
  - - - - - - - - 2 / Margin classes
========================================================== */

@include sm {
    .mr-0-sm {
        margin-right: 0rem !important;
        ;
    }
}

.m-0 {
    margin: 0;
}

.m-helf {
    margin: 0.50px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.m-50 {
    margin: 50px;
}

.m-60 {
    margin: 60px;
}

.m-70 {
    margin: 70px;
}

.m-80 {
    margin: 80px;
}

.m-90 {
    margin: 90px;
}

.m-100 {
    margin: 10rem;
}

/* ------------------------------------ margin top*/
.mt-sm-30 {
    @include sm {
        margin-top: 30px;
        ;
    }
}

.mb-30 {
    margin-bottom: 30px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}
.mb-30_reset {
    margin-bottom: -30px !important;
}

.mt-20 {
    margin-top: 20px;

}
.mt-30{
    margin-top: 30px !important
    ;

}

.mt-helf {
    margin-top: 0.50px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-10{
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

/* ------------------------------------ margin bottom*/

.mb-helf {
    margin-bottom: 0.50px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}
.mb-20_reset {
    margin-bottom: -20px;
}


.mb-30_reset {
    margin-bottom: -30px;
}


.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

/* ------------------------------------ padding bottom*/

.ml-helf {
    margin-left: 0.50px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-90 {
    margin-left: 90px;
}

.ml-100 {
    margin-left: 10rem;
}

/* ------------------------------------ margin bottom*/

.mr-helf {
    margin-right: 0.50px;
}

.mr-100 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-60 {
    margin-right: 60px;
}

.mr-70 {
    margin-right: 70px;
}

.mr-80 {
    margin-right: 80px;
}

.mr-90 {
    margin-right: 90px;
}

.mr-100 {
    margin-right: 10rem;
}
.w-100 {
    width: 100%;
}

.w-33 {
    width: 33.33%;
}

/* =======================================================
  - - - - - - - - 3 / hidden classes
========================================================== */

.lg-hidden {
    @include lg {
        display: none;
    }
}

.md-hidden {
    @include md {
        display: none;
    }
}

.sm-hidden {
    @include sm {
        display: none;
    }
}

/* =======================================================
  - - - - - - - - 5 /  flex desiplay
========================================================== */

.flex {
    display: flex;
    flex-wrap: wrap;

    &.start {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }

    @include md {
        &.md-center {
            justify-content: center;
        }
    }

    @include sm {
        &.sm-center {
            justify-content: center;
        }
    }


    &.vcenter {
        align-items: center;
    }

    &.end {
        justify-content: flex-end;
    }

    &.vend {
        align-items: flex-end;
    }

    &.between {
        justify-content: space-between;
    }

    &.is-column {
        flex-direction: column;
    }
}

.white-link {
    color: $white;
    transition: .3s;

    &:hover {
        opacity: .7;
        color: $white;
        font-size: 17px;
    }
}

/* =======================================================
  - - - - - - - - 6 /  border-radius
========================================================== */

.border-rad5 {
    border-radius: 5px;
}

.border-rad10 {
    border-radius: 10px;
}

.border-rad15 {
    border-radius: 15px;
}

.border-rad20 {
    border-radius: 20px;
}

.border-rad50 {
    border-radius: 50px;
}

/* =======================================================
  - - - - - - - - 7 /  box-Shadows
========================================================== */

.light-shadow {
    box-shadow: 0px 10px 40px -10px rgba(209, 209, 209, 0.4);
    border: solid 1px #edf8fa;
    border-radius: 15px;
}

.simple-sh {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 5px 0 rgba(0, 0, 0, 0.02);
    border-radius: 8px;
}

.light-shadow-bottom {
    box-shadow: 0 15px 40px -15px #edf8fa;
    border: solid 1px #edf8fa;
    border-radius: 15px;
}

.ultra-shadow {
    box-shadow: 0 8px 30px 0 #edf8fa;
    border: solid 1px #edf8fa;
}

/* =======================================================
  - - - - - - - - 8 /  Animations
========================================================== */

@keyframes anim-up-down {
    from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }

    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.anim-up-down {
    animation-name: anim-up-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes animbg {
    from {
        background-size: 130%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    50% {
        background-size: 120%;
        background-blend-mode: saturation;
        background-repeat: no-repeat;

    }

    to {
        background-size: 130%;
        background-repeat: no-repeat;

    }
}

@keyframes anim2 {
    from {
        height: 120%;
        width: 120%;
    }

    50% {
        height: 170%;
        width: 170%;
    }

    70% {
        height: 120%;
        width: 120%;
    }

    to {
        height: 130%;
        width: 130%;
    }
}

@keyframes anim1 {
    from {
        height: 180%;
        width: 180%;
    }

    50% {
        height: 140%;
        width: 140%;
    }

    70% {
        height: 150%;
        width: 150%;
    }

    to {
        height: 180%;
        width: 180%;
    }
}

/* =======================================================
  - - - - - - - - 9 /  Text floats
========================================================== */
.text-primary {
    color: $color_brand !important;
}

/* ----------------------------- Font Size */

.font-s-100 {
    font-size: 10px;
}

.font-s-20 {
    font-size: 20px;
}

.font-s-30 {
    font-size: 30px;
}

.font-s-40 {
    font-size: 40px;
}

.font-s-50 {
    font-size: 50px;
}

.font-s-60 {
    font-size: 60px;
}

.font-s-70 {
    font-size: 70px;
}

.font-s-80 {
    font-size: 80px;
}

.font-s-90 {
    font-size: 90px;
}

.font-s-100 {
    font-size: 10rem;
}

/* ----------------------------- Font weight */

.font-w-400 {
    font-weight: 400 !important;
}

.font-w-500 {
    font-weight: 500 !important;
}

.font-w-600 {
    font-weight: 600 !important;
}

/* ----------------------------- Text floats */

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-deco {
    text-decoration: underline;
}



/* =======================================================
  - - - - - - - - 10 /  OTHER
========================================================== */

.before-none {
    &::before {
        content: none !important;
    }
}

/* ----------------------------- display none classes  */

.sm-none {
    @include sm {
        display: none !important;
    }
}

.md-none {
    @include md {
        display: none;
    }
}

.lg-none {
    @include lg {
        display: none;
    }
}

.xl-none {
    @include xl {
        display: none;
    }
}

/* ------------------------------------ display block classes  */

.sm-block {
    @include sm {
        display: block;
    }
}

.md-block {
    @include md {
        display: block;
    }
}

.lg-block {
    @include lg {
        display: block;
    }
}

.xl-block {
    @include xl {
        display: block;
    }
}

.mb-sm-20 {
    @include md {
        margin-bottom: 20px;
    }
}

.top-border {
    border-top: solid 1px #f3f3f3;
}

.min-30 {
    margin-bottom: -30px;
}

.min-40 {
    margin-bottom: -40px;
}

.mt-section {
    margin-top: 70px;

}

.mb-sm-30 {
    @include md {
        margin-bottom: 30px;
    }
}

.text-primary {
    &:hover {
        color: $color_brand !important;
    }
}

.rounded {
    position: absolute;
    width: 100%;
    top: -11px;

    @include lg {
        top: -1px;
    }
}


.top-0 {
    top: 0 !important;
}

.mb-70 {
    margin-bottom: 70px;
}

.min-20 {
    margin-bottom: -20px;
}

.text-copyright {
    color: rgba(255, 255, 255, 0.548) !important;
}

.max-30 {
    max-width: 30rem;
}

.max-20 {
    max-width: 20rem;
}


.text-blue {
    color: #563cc9 !important;
}



.bg-blue {
    background: #563cc9 !important;
}

.hover-blue {
    &:hover {
        color: #563cc9 !important;
    }

}

.bg-opacity {
    background: rgba(0, 0, 0, 0.082);
}
.text-secondary{
    color: $color_brand_second !important;
}

.bg-pattern {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        z-index: -1;
    }
}
.min-60{
    margin-bottom: -60px;
}
.mb-20{
    margin-bottom: 20px !important;
}
.spacer_header{
    height:100px;
}
.spacer_header_top{
    height:154px;
}
.spacer_10{
    height: $spacer_10;
}
.spacer_bottom{
    padding-bottom: $spacer_90;
  }
  .color_primary{
      color: $color_brand !important;
  }
  .overlay{
      @include overlay
  }
  /* This class can be replaced using options */
.hover-in{
	transition: .3s ease-out;
}
.hover-out{
	transition: .3s ease-in;
}



.number_loader {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    pointer-events:none;
    animation:fadeout .5s linear forwards;
    animation-delay:6.5s;
  }
  
  @keyframes fadeout {
    0%{
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  .page{
    animation-delay:6.5s;
    animation:page 1s $transition_function ;
    animation-delay:6.6s;


  }
  @keyframes page {
    0%{
     transform: scale(1.1) ;

    }
    100% {
        transform: scale(1);
    }
  }
   
  
  

  
  

.valid-feedback {

    margin-top: 5px;
    color: $color_green ;
}
.invalid-feedback{
    color: $color_error;
}

.is_dark{
    background: $color_dark !important ;
}

.spacer_45{
    height: $spacer_45;
}
.line-text{
    color: #ffffff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}
.has-icon{
    display: flex;
    align-items: center ;
    ion-icon{
        font-size: 22px;
        margin-right: 10px;
        height: 30px;
    width: 30px;
    }
}