.blog{
    
    &.has_style1{
        background: $color_dark;
        margin: 0 0 $spacer_60;
        border-radius: $border_radius;
        box-shadow: $shadow_3;
        overflow: hidden;
        .row{
            padding: 0;
            margin: 0;
        }
        .col-row{
            padding: 0;
            margin: 0;
        }
    }
    &.has_style_grid{
        background: $color_dark;
        margin: 0 0 $spacer_30;
        border-radius: $border_radius;
        overflow: hidden;
        .blog-excerpt {
            font-size: 16px;
            margin-bottom: $spacer_20;

        }
        .blog-img img {
            width: 100%;
            object-fit: cover;
            height: 14rem;
        }
         .blog-title {
            font-size: 24px;
        }
        
        .row{
            padding: 0;
            margin: 0;
        }
        .col-row{
            padding: 0;
            margin: 0;
        }
    }
    .meta{
        &.absolute {
            position: absolute;
            right: 20px;
            top: 25px;
            z-index: 10;
            background-color: $color_dark ;
            border-radius: 25px;
            display: flex;
            color: $color_dark;
            padding: 6px 12px;
            .meta-info {
                color: white;
                font-size: 13px;
                margin: 0 3px;
                svg {
                    width: 15px;
                    height: 15px;
                    fill: #eee;
                    vertical-align: middle;
                    margin-top: -3px
                }

            }
            .min-read {
                display: inline-block;
                cursor: default;
                span {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    color: #fff;
                    background-color: #7169fe;
                    text-align: center;
                    line-height: 21px;
                    font-size: 13px;
                    vertical-align: middle;
                    margin-top: -4px;
                    overflow: hidden
                }
            }
            
            .views-counter {
                cursor: default;
            }
        }
    }
    .blog-title {
        margin: 0 0 20px;
        color: white !important;
        @include fluid-type($font_size_h4_mobile, $font_size_h3);
        line-height: 1.33 ;
        max-height: 2.66em;
        letter-spacing: 0.2px;
        overflow: hidden;
        a{
            color: white !important;
            transition: .3s $transition_function;
            &:hover{
                color: $color_brand;
            }
        }
    }
    .blog-excerpt {
        font-size: 18px;
        line-height: 1.78;
        margin: 0 0 $spacer_20;

    }
    .blog-img{
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .blog-author-detail {
        margin-top: 20px;
    }
    .blog-author-detail .c-customer-review-meta {
        margin-top: 0;
    }
    .blog-wrap{
        margin: $spacer_30 ;

    }
    .name{
        padding: 0;
    }
    .author-post{
        text-transform: uppercase;
        color: rgb(122, 125, 151);
        font-size: 13px;
        margin: 0;

    }
    .user {
        margin-right: 12px;
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }
    .post_wrap{
        position: relative;

    }
}
.blog_top_search{
    height: 90px;
    margin-top: -45px;
    box-shadow: $shadow_2;
    border-radius: $border_radius;
    background: white;
    transition: .25s $transition_function ;
    border: solid 1px transparent ;

    input{
        box-shadow: none;
        height: inherit !important;
    }
    .input-group{
        height: 90px;

    }
    &:hover{
border: solid 1px rgb(234, 238, 241);
    }
}
.tag_cloud{
    a{
        display: inline-block;
        padding: 2px 10px;
        background-color: $color_dark;
        border-radius: 50px;
        margin-right: 5px;
        margin-bottom: 10px;
        border: solid 1px transparent ;
        color: white;

        &:hover{
            background-color: $white;
            box-shadow: $shadow_1;
            border: solid 1px rgba(238, 238, 238, 0.096);
        }
    }
    .p_tags{
        margin-right: 10px;
        line-height: 2;
    }
}


.masonry-column {
    padding: 0 15px;
}

.sidebar__inner{
    transition: .3s $transition_function;
}
.blog-sidebar {
    @include tablet_vert_screen{
        margin-top: 60px;
    }
    .widget{
        box-shadow: $shadow_3 ;
        margin-bottom: $spacer_30;
        padding: $spacer_30;
        background: white ;
    }
    .tag_cloud{    
        margin-bottom: -10px;
        .p_tags{
            display: flex;
            width: min-content;
            line-height: 2;display: block;
            margin-right: 20px;
        }
        a{
           
            padding: 2px 10px;
            background-color: $color_light;
            border-radius: $border_radius;
            margin-right: 5px;
            margin-bottom: 10px;
            border: solid 1px transparent ;
            color: $color_dark;
    
            &:hover{
                background-color: $white;
                color: $color_brand;
                box-shadow: $shadow_1;
                border: solid 1px #eee;
            }
        }
    }

    .widget-title {
        font-size: 20px;
        text-transform: capitalize ;
        letter-spacing: normal;
        position: relative;
        margin-bottom: $spacer_30 ;
        color: $color_dark;
        font-weight: bold;
        position: relative;
    }
        .social-widget{
            display: flex;
            a{
                color: $color_dark;
            }
            iom-icon{
                font-size: 24px;
            }
            .social_link{
                margin-right: 20px;
                height: 3rem;
                width: 3rem;
                background: $color_light ;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: .2s $transition_function;
                &:hover{
                    background: white;
                    box-shadow: $shadow_3;
                    border: solid 1px rgb(241, 240, 245);
                }
            }
    }
    .Recent_Articles-widget{
        .item{
            display: flex;

            .thumb{
                img{
                    width: 70px;
                    margin-right: 10px;
                    border-radius: $border_radius;
                    transition: .25s $transition_function;
                }
            }
            .info{
                padding-bottom: $spacer_20 ;
                border-bottom: solid 1px $color_light;
                margin-bottom: $spacer_20;
                &.reset{
                    padding-bottom: 0 ;
                    border-bottom:0;
                    margin-bottom: 0;
                }
                .title{
                    font-size: 16px;
                    margin-bottom: 4px;
                    a{
                        color: $color_dark;

                        &:hover{
                            color: $color_brand;
                        }
                    }
                }
                .time{
                    font-size: 12px;

color: rgb(134, 129, 158);                }
            }
            &:hover{
                img{
                    filter: saturate(.5);
                }
            }
        }
    }
    .ads-widget{
        img{
            width: 100%;
            border-radius: $border_radius;
        }
    }
    .cat-item{
        padding-bottom: $spacer_10 ;
        border-bottom: solid 1px $color_light;
        margin-bottom: $spacer_10;
        a{
            color: $color_dark;

            &:hover{
                padding-left: 5px ;
                color: $color_brand;
            }
        }
        &:last-child{
            padding-bottom: 0 ;
            border-bottom:0;
            margin-bottom: 0;
        }
    }
    .tag_cloud{
        a{
            display: inline-block;
            padding: 2px 10px;
            background-color: $color_light;
            border-radius: $border_radius;
            margin-right: 5px;
            margin-bottom: 10px;
            border: solid 1px transparent ;
            color: $color_dark;

            &:hover{
                background-color: $white;
                color: $color_brand;
                box-shadow: $shadow_1;
                border: solid 1px #eee;
            }
        }
    }

}
  

// ===================== Article Page
.article_page{
    background: #000;
    .user {
        margin-right: 12px;
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }
    .blog-author-detail{
        margin-bottom: 40px;
    }
    .author-meta{
        p{
            margin: 0;
        }
    }
    .article_wrap{
        margin-top: 100px;
        background: #000;

        .tag_cloud{
            a{
                display: inline-block;
                padding: 2px 10px;
                background-color: $color_light;
                border-radius: $border_radius;
                margin-right: 5px;
                margin-bottom: 10px;
                border: solid 1px transparent ;
                background: black;

    
                &:hover{
                    box-shadow: $shadow_1;
                    border: solid 1px rgba(238, 238, 238, 0.13);
                }
            }
        }
        .content{
            background: $color_dark ;
        }
        h1,h2,h3,h4,h5,h6,div{
            color: white;
        }



    }

    .blog-share-container {
        position: sticky;
        top: 15px;
        left: 0;
    }
    .blog-share{
        box-shadow: $shadow_3;
        padding: $spacer_20;
        border-radius: $border_radius;
        background: $gradient_circle ;
        width: fit-content;
        display: flex;justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 0;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/others/lines.svg);
            background-size: cover;
            mix-blend-mode: screen;

            z-index: -1;
        }
        .share{
            text-align: center;
            margin-bottom: 20px;
            color: white;
        }

        ul{
            display: flex;justify-content: center;
            flex-direction: column;
            align-items: center;

            li{
                width: fit-content;
                margin-bottom: 5px;


                a{
                    width: fit-content;
                    color: white;
                    &:hover{
                        color: $color_brand;
                    }
                }
            }
        }


        a{
            color: $color_dark;
        }
    }
    .content{

        .inner{
            h2,h3,h4,h5,h6,p{
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
        box-shadow: $shadow_3;
        padding: $spacer_30;
        margin-bottom: $spacer_60;
        img{
            margin-bottom: 20px;
            border-radius: $border_radius;
            box-shadow: $shadow_2;
        }

    }
}
// ===================== sharect Plugin

.sharect{
    border-radius: 50px !important;
    padding: 0 0 3px 10px;
    background-color: white !important;
    transition: all .25s $transition_function !important;
    box-shadow: $shadow_1;
    animation-name: sharect;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;

    div{
        &:last-child{
            left: 50% !important;
    transform: translateX(-50%) !important;
    border-top: 5px solid rgb(255, 255, 255) !important; 

        }
    }
}

@keyframes sharect {
    from {
        opacity: 0;
    }
    to {
opacity: 1;
    }
}
// =====================  comments

.comments_article{
    max-width: 1000px;
    background-color: $color_dark ;
    padding: $spacer_30  $spacer_30  $spacer_10 ;
    margin-bottom: $spacer_60;
    border-radius: $border_radius;
    &.is_dark{
        background: $color_dark ;
        .comment{
            &-content{
                background: black;

            }
    
    
        }
        .is_child{
           
            .comment-content{
                background: rgb(0, 0, 0);
            }

        }
    }
    .avatar{
        border-radius: 100%;
    }
    .comment{
        margin-bottom: 20px;
        &-content{
            background: black;
            border-radius:0 15px 15px 15px;
            padding: $spacer_20 ;
        }


    }
    .is_child{
        padding-left: $spacer_60;
        border-left: solid 2px #000000;
        .comment-content{
            background: rgba(0, 0, 0, 0.623);
        }
        @include tablet_vert_screen{
            padding-left: $spacer_20;

        }
    }
}

// =====================  reply

.reply{
    max-width: 1000px;
    box-shadow: $shadow_3;
    padding: $spacer_30;
    border-right: $border_radius;
    background: $color_dark ;
}
// =====================  Top


.top_tag_cloud{    
    .p_tags{
        display: flex;
        width: min-content;
        line-height: 2;display: block;
        margin-right: 20px;
    }
    a{
       
        padding: 2px 10px;
        background-color: $color_light;
        border-radius: $border_radius;
        margin-right: 5px;
        margin-bottom: 10px;
        border: solid 1px transparent ;
        color: $color_dark;

        &:hover{
            background-color: $white;
            color: $color_brand;
            box-shadow: $shadow_1;
            border: solid 1px #eee;
        }
    }
}