.documentation_page {
    .site-header{
        background: white ;
        position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    }
    .side{
        position: relative;
        width: 21rem;
    }
    .docs-sidenav {
        position: fixed;
        top: 0;
        height: 100vh;
        overflow-y: scroll;
        border-radius: $border_radius;
        background: white ;

    }
    .first_title {
        margin-bottom: $spacer_30;
    }
    .fa-star {
        color: rgb(243, 211, 67);
    }
    .doc_box {
        padding: $spacer_60 $spacer_40;
        box-shadow: -20px -17px 36px -21px rgba(29, 14, 98, 0.1);        margin-top: $spacer_60;
        border: 1px solid rgb(233, 236, 240);
        border-radius: $border_radius;
        max-width: 65rem;
        margin: 60px 0 ;
        margin-left: 60px;
        @include tablet_vert_screen{
            margin-left: 15px;
            margin-right: 15px;

        }

        img {
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 1.5rem !important;
        }

        ul {
            margin-bottom: 2rem;
            border-left: solid 0.3rem #f7f7f7;
            padding-left: 1rem;
            cursor: default;

            li {
                line-height: 2;
            }
        }
        .box-title {
            @include fluid-type($font_size_h1_mobile, $font_size_h1);
            line-height: 1.05;
            margin-bottom: 30px;
            border-bottom: solid 2px $color_light;
            padding-bottom: 30px;
            text-transform: capitalize ;

        }
        .color-span {
            color: #5a52ff;
        }
        .style_guide {
            .box-title {
                font-size: 26px;
                margin-bottom: 0px;
            }
        }
    }
    .box-sub-title {
        margin: $spacer_30 0;

        position: relative;
        @include fluid-type($font_size_h3_mobile, $font_size_h3);
        line-height: 1.1;         &::before {
            content: "#";
            color: $color_brand;

        }
    }
    .box-sub2-title {
        background: rgba(61, 123, 194, 0.078);
        @include fluid-type($font_size_h4_mobile, $font_size_h4);
        margin-bottom: 2rem;
        &::before {
            content: "##";
            color: $color_brand;
        }
    }
    .structure {
        background: #ffffff;
        border-radius: 5px;
        padding: 30px 60px !important;
        border: solid 1px #f7f7f7 !important;
        box-shadow: $shadow_3;
        transition: 0.3s;

        &:hover {
            box-shadow: none;
        }
        .fa-folder-open {
            color: #ffe16e;
        }

        .fa-folder {
            color: #afa8ff;
        }

        .file {
            color: #ffa8a8;
        }

        .file2 {
            color: #a8ffe5;
        }

        .file3 {
            color: #aea8ff;
        }
    }
    #docsSidenav {
        padding: $spacer_60;
        background-color: rgba( $color_light, .3);
        border-right: 1px solid $color_light ;
        max-width: 21rem;
        margin-top: 86px;

        h5{
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 1px;
            margin-bottom: 20px !important;
            margin-top: 20px !important;
            display: flex;
            align-items: center;
        }
        ul{
           
        }
        a{
            font-size: 15px;
        }
        .icon{
            margin-right: 10px;
            svg{
                fill: $color_dark !important;
            }

        }
    }

    .border {
        margin-bottom: 2rem;
        margin-top: 2rem;
        border-top: 1px solid #eaf2fe;
        
    }

}

pre[class*="language-"] {
    font-size: 14px;
    padding: 1em;
    margin: 1.5em 0;
    overflow: auto;
    border: none;
    border-radius: 0.5em;
    box-shadow: none;
    border-radius: $border_radius;
    background: $color_dark !important ;
}
pre[class*="language-"],
:not(pre) > code[class*="language-"] {
    background: $color_dark  !important ;
}

.code-toolbar:hover {
    &:hover {
        button {
            background: #5a52ff;
            color: #fff;
            border: solid 2px #5a52ff;
            padding: 10px 13px 10px 42px;
            font-size: 0.875rem;
            line-height: 1.5;
            position: relative;
            font-weight: normal;
            font-family: "SpaceGrotesk-Bold";
            border-radius: 5px;
            border: none;
            border-radius: 4px;
            transition: 0.4s ease-in-out;
            text-decoration: none;
            vertical-align: middle;
            outline: 0;
            display: inline-block;
            text-align: center;
            letter-spacing: 1px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6 4v4h12V4h2.007c.548 0 .993.445.993.993v16.014a.994.994 0 0 1-.993.993H3.993A.994.994 0 0 1 3 21.007V4.993C3 4.445 3.445 4 3.993 4H6zm2-2h8v4H8V2z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 11px 8px;
        }
    }
}

.toolbar-item{

    button{

    }
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: hsl(252, 20%, 50%);
}
.token.atrule, .token.attr-value, .token.keyword {
    color: #6EDFFF;
}
.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #BAEA80;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
    color: hsl(272, 26%, 72%);
}
span.inline-color-wrapper {
    height: 16px;
    width: 16px;
    margin: 0 6px 0 0;
    box-sizing: border-box;
    border: 1px solid #61448a;
    outline: none;
    border-radius: 50%;
}