
.index_page {
    background: black !important ;
    

#particles-js {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .demo {
        border-radius: 2px;
        position: relative;
        @include md {
            padding: 15px;
        }

        &-title {
            margin-bottom: 15px;
            font-size: 3rem;
            line-height: 1.5;
            font-weight: bold;
            color: #ffffff;
            display: block;
            @include lg {
                font-size: 2.5rem;
            }

            @include md {
                font-size: 2.2rem;
            }

            .has-line {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    height: .2rem;
                    top: -1rem;
                    width: 103%;
                    left: 0;
                    background: $color_brand;
                    z-index: 0;
                }
            }

            @include md {
                font-size: 1.8rem;
            }
        }
        &-item{

            margin-bottom: 30px;
            img{
                border-radius: $border_radius;
                transition: .25s $transition_function;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
        }
    }
    .item-title{
        font-size: 22px;
    }
    .item-img{
        opacity: 1;
        img{  
            width: 100%;
        }
    }

    .buy {
        max-width: 38rem;
        margin: 0 auto;
        overflow: hidden;
        padding: 2rem;
        position: relative;
        box-shadow: 0 6px 12px 1px #e5e5f2;

        .pricing {
            background: $bg-grey;
            border-radius: 5px;
            padding: 2rem;
        }

        .pricing-title {
            font-size: 2.5rem;
            font-weight: bold;
            position: relative;
            z-index: 1
        }

        .button {
            position: relative;
            z-index: 1
        }

        &::before {
            content: url(../img/others/buy-shape2.svg );
            position: absolute;
            right: 0;
            bottom: 4rem;
            height: 4rem;
            width: 4rem;
            z-index: 0;
        }

        &::after {
            content: url(../img/others/buy-shape1.svg );
            position: absolute;
            left: 0;
            top: 0;
            height: 4rem;
            width: 4rem;
            z-index: 0;
        }
    }

    .buy-list {
        z-index: 1;

        &-item {
            display: flex;
            align-items: center;

            svg {
                background: $color_brand;
                border-radius: 20rem;
                padding: .2rem;
                color: $white;
                margin-right: .5rem;
            }
        }
    }
    .bottom0menu{
        padding: 20px 0;

        @include md{
            padding: 10px 0;
        }
    }
    .main_docs .docs1 {
        position: relative;
        top: 0%;
        left: 22.5%;
        -webkit-box-shadow: -90px 60px 130px rgba(0,0,0,0.15);
        box-shadow: -90px 60px 130px rgba(0,0,0,0.15);
        max-width: 20rem;
        @include tablet_vert_screen{
            width: 70%;
            position: relative;
        }
    }
    .main_codes{
        background: $color_dark ;
        color: white;
        text-align: left;
        z-index: 0;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/others/pattern-1.svg);
            background-size: contain;
            z-index: -1;
        }
        h2{
            color: white;
        }
        .description{
            color: rgba(255, 255, 255, 0.664);
            margin-bottom: 30px;
            font-size: 18px;
        }
        .images{
            img{
                margin-right: 5px;
            }
        }
        .text-adaptive{
            color: rgba(255, 255, 255, 0.664);
            margin-bottom: 20px;
        }
        .title{
            color: #FF2272;
            font-size: 18px;
        }
    }
    .section-purchase{
        position: relative;
        background-image: url(../images/bg/bg-header.svg);
        background-repeat: no-repeat;
        background-position: center;
    
    }
    .purchase-title {
        text-align: center;
        background: $color_gradient ;
        font-size: 5rem;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @include fluid-type($font_size_h1_mobile, $font_size_h1);

        
    }
    // ================================ market place
    .markerplace_slider{
        border-radius: $border_radius;
        background: $gradient_circle ;
        padding: 100px 0;
        position: relative;
        z-index: 0;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/others/pattern-1.svg);
            background-size: contain;
            z-index: -1;
        }
        .market_slick{
            .slick-list{
                padding: 4rem 0 !important ;
            }

            .slick-prev{
                left: -4.5rem;
            }
            .slick-next {
                right: -4.5rem;
            }
            .item{
                transition: .25s $transition_function;
                transform: scale(.8);
                position: relative;
                opacity: .6;

            
                img{
                    width: 100%;
                    max-width: 40rem;
                    border-radius: $border_radius;
                    box-shadow: 0 4px 4px rgba(0,0,0,0.1), 0 -100px 0 rgba(0,0,0,0) inset;
                    position: relative;
                    @include overlay{
                        background: rgba(0, 0, 0, 0.199);
                    }
                    @include tablet_vert_screen{
                        max-width: 15rem;
                    }
                }
            }
            .slick-center{
                transform: scale(1.3);
                opacity: 1;
                z-index: 9;
                @include tablet_vert_screen{
                    transform: scale(1);

                }
                &:hover{
                    z-index: 9;
                }
            }
        }
    }
        // ================================  blog
    .blog_slick{
        .item{
            padding: 20px 10px;
            opacity: .6;
            position: relative;
            z-index: 0;
            transition: .25s $transition_function;
            transform: scale(.9);
            .item-title{
                text-align: center;
                
            }
            img{
                width: 100%;
                margin-top: 60px;
            }
        }
        .slick-center{
            opacity: 1;
            transform: scale(1.2);
            z-index: 1;
        }
    }






.slick-next {
    right: 25%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E"), $gradient_circle  ;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: absolute !important ;
    background-repeat: no-repeat;
    background-position: center ;
    box-shadow: 0 15px 21px #13072c80;
    @include tablet_vert_screen{
        display: none !important;
    }
}
.slick-prev {
    left: 25%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E"), $gradient_circle  ;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: absolute !important ;
    background-repeat: no-repeat;
    background-position: center ;
    box-shadow: 0 15px 21px #13072c80;
    opacity: 1 !important;
    z-index: 2;
    @include tablet_vert_screen{
        display: none !important;
    }
}
}