// =================================== block
.block{
  padding: $spacer_30;box-shadow: $shadow_3;
  border-radius: $border_radius;
  margin-bottom: $spacer_30;
  border: solid 1px #f3f4f7;
  background: white;
  .title{
      font-size: 20px;
  }
  .in_sidebar{

  }
  .title_top{
      font-size: 20px;
      margin-bottom: 25px ;
      padding-bottom: 25px;
      border-bottom: solid 1px #ebeaef;
      @include fluid-type($font_size_h4_mobile, $font_size_h4);

  }
  li:not(:last-child){
    margin-bottom: 5px;

  }
  li{
      a{
          color: #526792 !important;

      }

  }
  .list-item {
    &.is_active{
      a{
        color: $color_brand;
      }
    }
  }

}
.dark_block{
  background: $gradient_circle ;
  h1,h2,h3,h4,h5,h6,span,p{
    color: white;
  }
  
}

.client_slick{

.slick-next {
  left: 25%;
  bottom: -13%;
  top: auto;   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E"), $gradient_circle  ;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute !important ;
  background-repeat: no-repeat;
  background-position: center ;
  box-shadow: 0 15px 21px #13072c80;
}
.slick-prev {
  left: 18%;
  bottom: -13%;
  top: auto; 
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E"), $gradient_circle  ;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute !important ;
  background-repeat: no-repeat;
  background-position: center ;
  box-shadow: 0 15px 21px #13072c80;
  opacity: 1 !important;
  z-index: 2;
}
@include tablet_vert_screen{
  .slick-next {
    left: 51%;
    bottom: auto;
    top: 0; 
    width: 3rem;
    height: 3rem;
  }
  .slick-prev {
    left: 44%;
    bottom: auto;
    top: 0; 
    width: 3rem;
    height: 3rem;
  }
}
@include sm_screen{
  .slick-prev {
    left: 40%;

  }
}
}
.page_light{
background-color: rgba( $color_light, .3);
}
.subscribe{
    .section-head{
        margin-bottom: 30px ;
    }
    background: $color_dark;
    color: $white;
    .section-title{
        color: $white;
        @include fluid-type($font_size_h2_mobile, $font_size_h2);
    }
    p{
        color: $white;
    }
}


// ================================= team-box
.team-box{
    &.has_style1{
      margin-bottom: $spacer_30;
        .team-name{
            text-align: center;
        }
        .team-social{
            background-color: white;
            position: absolute;
            top: 44%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 10px 20px;
            border-radius: 50px;
            box-shadow: $shadow_1;
            margin-top: -20px;
            transition: .35s $transition_function;
            opacity: 0;
            z-index: 1;
            ul{
                display: flex;

            }
            a{
                color: $color_dark;
                margin: 0 5px;
                line-height: 100%;
                &:hover{
                    color: $color_brand;
                }
                svg{
                  height: .8rem;
                }
                ion-icon{
                  height: 1rem;
                  padding-top: 7px;
                  font-size: 18px;
                }
            }
        }
        .badge{
            position: absolute;
            top: -10px;
            z-index: 1;
            background: $color_brand;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px 10px;
            border-radius: $border_radius;
            color: white;
        }

        .team-img{
            overflow: hidden;
            margin-bottom: 20px;
            border-radius: $border_radius;
            position: relative;
            z-index: 0;
            img{
              object-fit: cover;
              width: 100%;
            }
            @include overlay{
                z-index: 1;
                opacity: 0;
                transition:.2s $transition_function;
            }
        }
        &:hover{
            .team-social{
                margin-top: 0;
                opacity: 1;
            }
            .team-img{
                &::before{
                    opacity: 1;

                }
            }
        }
    }
}
// ================================= Process
// 
// 
// processes.scss
//
//

.process-circle{
    width: $spacer_25*2;
    height: $spacer_25*2;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 1.125rem;
    background: rgba($color_brand,.05) !important;

    &:empty{
      &:after{
        content: '';
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        background-color: $color_brand;

      }
    }
  }
  
  .process-vertical{
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    li{
      display: flex;
      align-items: center;
      .process-circle{
        margin-right: $spacer_25;
      }
      &:not(:last-child){
        position: relative;
        margin-bottom: $spacer_25;
      }
    }
  }
  
  @include  lg_screen {
    .process-vertical{
      li{
        width: 50%;
        margin-left: 50%;
        .process-circle{
          margin-left: -$spacer_25;
        }
        &:nth-child(even){
          flex-direction: row-reverse;
          text-align: right;
          margin-left: 0;
          margin-right: 50%;
          .process-circle{
            margin-right: -$spacer_25;
            margin-left: $spacer_25;
          }
        }
        &:not(:last-child){
          padding-bottom: $spacer_25*3;
          margin-bottom: 0;
          &:after{
            content: '';
            display: block;
            width: 2px;
            height: $spacer_25*2;
            background:#e5e0eb;
            position: absolute;
            top: 4.125rem;
          }
        }
      }
    }
    .text-light{
      .process-vertical{
        li{
          &:not(:last-child){
            &:after{
              background: rgba($white,.25);
            }
          }
        }
      }
    }
  }


.career_wrap{

  h3{
    font-size: 25px;

  }
  h3:not(:first-child){
    margin: 20px 0;
    
  }
}


  
// ================= 404
.block_404{
  margin:  0;
  height: calc(100vh - 100px );
  position: relative;
  .title_404{
    @include absolute{
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      font-size: 20rem;
      font-family: $font-primary;
      -webkit-background-clip: text;
      background-image: linear-gradient(135deg, #2fc4d1 0%, #4f54f1 50%, #c86dd7 100%);
      -webkit-text-fill-color: transparent;      line-height: 100%;


  
    }
    .title{
      color: white;
      -webkit-background-clip: text;
      background-image: linear-gradient(135deg, #2fc4d1 0%, #4f54f1 50%, #c86dd7 100%);
      -webkit-text-fill-color: transparent;
      display: -webkit-box;
    }
  }
  @include tablet_screen{
    margin: 100px 0;

    height: max-content;
    .title_404{
      @include absolute{
        top: 0  ;
        font-size: 10rem;

      }
    }
  }

}
.block_thank_you{
  margin:  0;
  height: calc(100vh - 100px );
  position: relative;
  .title_404{
    @include absolute{
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      font-size: 10rem;
      font-family: $font-primary;
      color: white;
      text-shadow: 0 0 74px #35356c0a;
      line-height: 100%;
    }
  }
  @include tablet_screen{
    margin: 100px 0;

    height: max-content;
    .title_404{
      @include absolute{
        top: 0  ;
        font-size: 10rem;

      }
    }
  }

}
// ================= reviews
.block_reviews{
  .reviews_box{
    box-shadow: $shadow_3;
    padding: $spacer_60 ;
    margin-bottom: 30px;
    transition: .2s $transition_function;
    background: black ;
    border-radius: 5px;
    &:hover{
      transform: scale(1.06);
    }
    @include before{
      bottom: 15px;
      right: 15px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179zm10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179z' fill='rgba(243,242,252,1)'/%3E%3C/svg%3E");      background-size: contain;
      height: 3rem;
      width: 3rem;
      background-repeat: no-repeat;
      opacity: .4;
    }
    .stars{
      display: flex;
      img{
        max-height:1.5rem ;
      }
    }
    .quote{
      margin: 20px 0;
    }
    .avatar{
      height: 4rem;
      width: 4rem;
    }
  }
}
.reviews_slick{
  .slick-list{
    overflow: visible!important ;
  }
  .reviews_box{
    margin: 0 20px ;
    transition: .25s $transition_function;
    &.slick-center{
      opacity: 1;
    }
  }
}
// ================= FAQ
.block_faq{
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
// ================= Case Study
.block_case{
  box-shadow: $shadow_3;
  margin-bottom: 30px;
  transition: .2s $transition_function;
  border-radius: $border_radius;
  position: relative;
  background: white;

  .img_case{
    width: 100%;
  }
  .case_wrap{
    padding: $spacer_30;
  }
  .logo{
    img{
      height: 1rem;
    }
    @include absolute {
      top: 15px;
      left: 15px;
      background: white;
      border-radius: $border_radius;
      padding: 5px 10px ;
      box-shadow: $shadow_2;
    }
  }
}
.block_case2{
  display: flex;
  box-shadow: $shadow_3;
  margin-bottom: 30px;
  transition: .2s $transition_function;
  border-radius: $border_radius;
  position: relative;
  background: white;
  overflow: hidden;
  .img_case{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .case_wrap{
    padding: 30px;
    position: relative;
  }
  .logo{
    img{
      height: 1rem;
    }
    @include absolute {
      top: 15px;
      right: 15px;
      background: white;
      border-radius: $border_radius;
      padding: 5px 10px ;
      box-shadow: $shadow_1;
    }
  }
}
// =================  Timer
.block_timer{
  border-radius: $border_radius;
  padding: 20px 40px ;
  background: $gradient_circle ;
  overflow: hidden;
  .dots{
    color: white;

    @include fluid-type($font_size_h1);
    @include tablet_screen{
      @include fluid-type($font_size_h4);
    }
  }
  .number{
    color: white;

    @include fluid-type($font_size_h1);
    @include tablet_screen{
      @include fluid-type($font_size_h4);
    }
  }
  
  .dots{
    padding: 0 20px ;
    height: auto !important;
    margin-top: 0;
  }
  &::before {
    content: "";
    position: absolute;
    background: url(../../assets/images/others/circle_decoration.png);
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
}

.block_contact_form{
  .content{
    padding: 30px;
    box-shadow: $shadow_3 ;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
  }
}
// =================  help
.block_help{
  padding: 30px;
  box-shadow: $shadow_3 ;
  border-radius: 5px;
  margin-bottom: 30px;
  background: white ;
  position: relative;
  .icon{
    margin-right: 20px;
    svg{
      fill: $color_brand !important;
      width: 55px;
    }
  }

}
.help_wrap{
  p, h3, h4, h5, h6, span{
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.block_popup{
  margin-bottom: $spacer_60;
  

  cursor: pointer;
  &:hover{
    img{
      transform: scale(1.02);
    }
  }
  img{
    width: 100%;
    transition: .25s $transition_function;
    margin-bottom: 30px;


  }
  .link{
    color: white;
    background: transparent !important ;
  }
}
// ================================= tickets block
.ticket_block{
  padding: $spacer_60;
  background: $gradient_circle;
  border-radius: $border_radius;
  box-shadow: $shadow_2;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  @include before{
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50px;
    left: -10px;
  }
  @include after{
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50px;
    right: -10px;
  }
  .wrap{
    @include before{
      background: url(../../assets/images/others/circle_decoration.png);
      top: -72%;
      left: 15%;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

  }
  .title{
    color: white;
    margin-bottom: 20px;

  }
  .description{
    color: white;
    margin-bottom: 20px;
    max-width: 15rem;
    font-size: 19px;
  }
  .price{
    @include fluid-type($font_size_h1_mobile, $font_size_h1);
    line-height: 1;
    color: white;
    font-family: $font-primary;
  }
}
// ================================= event block

.event_block{
  padding: $spacer_30;
  margin-bottom: $spacer_30;
  border-radius: $border_radius;
  box-shadow: $shadow_3;
  background: white;
  .title{
    @include fluid-type($font_size_h3_mobile, $font_size_h3);
  }
  .date{
    @include fluid-type($font_size_h3_mobile, $font_size_h3);
    color: $color_brand;
    @include tablet_vert_screen{
      text-align: left;

    }
  }
  .description{
    margin-top: 20px;
  }

}

// ================================= tools block

.tools_block{
  margin: 30px 0;
  display: flex;
  justify-content: center;

img{
  height: 2.5rem;
  transition: .25s $transition_function;
  &:hover{
    transform: scale(1.1);

  }
}
}
// ================================= courses block
.courses_block{
  .item{
    margin-bottom: $spacer_30;
    border-radius: $border_radius;
    box-shadow: $shadow_3;
    position: relative;
    background: white ;
    display: flex;
    .thumb_wrap{
      position: relative;
 
    }
    .item_wrap{
      padding: $spacer_20;
      padding-left: 2rem;
      position: relative;
      .info{
        position: absolute ;
        top: 50%;
      transform: translateY(-50%);
      left: -3.3rem;
      width: 4rem;
      height: 4rem;
      box-shadow: $shadow_3;
      border-radius: 50% ;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $gradient_circle;
      color: white;
      border: solid 5px white;
      box-shadow: $shadow_2;
      h4{
        font-size: 18px;
        color: white;
        margin: 0 ;
        padding: 0;
        line-height: 100%;
      }
      span{
        font-size: 13px ;
      }

 

      }
    }
    .thumb{
      width: 10rem;
      height: 100%;
      object-fit: cover;
      border-radius: $border_radius;
      box-shadow: $shadow_3;
      margin-right: 20px;

    }
    .title{
      margin: 0 0  20px 0;
      font-size: 22px;
    }
    .item_meta{
      display: flex;
      justify-content: flex-start;
      div{
        font-size: 13px;
        color: rgb(82, 78, 99);
      }

      svg{
        fill:  rgb(82, 78, 99);

      }
    }
  }
}
.numbers_block{
  border-right: 1px solid rgb(223, 219, 233);
padding: $spacer_40;
&.none{
  border-right: 0 !important;
}
.number{
  color: $color_brand;
}
}



.plan-single {
  box-shadow: 0 14px 33px -3px rgba(0, 0, 0, 0.078);
  border-radius: 7px;
  background: white;
  padding: 5rem;
  @include md{
    padding: 3rem;
  }
  .desc-plan{
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  @include sm{
    padding: 2rem;
  }
  &.top-header {
    margin-top: -4rem;
  }
  .box {
    box-shadow: $shadow_3;
    background: $gradient_circle ;
    color: white;
    position: relative;
    border-radius: $border_radius;
    z-index: 0;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(../images/others/lines.svg);
      background-size: contain;
      z-index: -1;
  }
  }
  .title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    color: white;


  }
  .price {
    font-size: 6.25rem;
    text-align: center;
    color: white;

  }
  .width {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .billed {
    margin-bottom: 20px;
    color: white;

  }
  .pricing {
    font-size: 35px;
  }
  .list-title {
    margin-bottom: 20px;
  }
  .list__pricing {
    font-weight: 500;
    color: #4e5867;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 30px;
    
  }
  .list {
    margin-top: 20px;
  }
  .paragraph {
    font-size: 13px;
    text-align: center;
    color: rgba($color_brand, 0.7);
  }
}

.pricing-table {
  background: $gradient_circle ;
  overflow: auto;
  border-radius: 5px;

  table {
    display: block;
    thead {
      display: block;
      tr {
        display: block;
        .sin-title-box {
          padding: 0 20px;
          height: 60px;
          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -0.56px;
        }
      }
    }
    tbody {
      display: block;
      tr {
        display: block;
      }
    }
    .title-col {
      min-width: 290px;
    }

    .basic-col {
      min-width: 195px;
    }

    .standard-col {
      min-width: 195px;
    }

    .premium-col {
      min-width: 195px;
    }

    .ent-col {
      min-width: 195px;
    }
    .colored-row {
      border-top: 2px solid #00000025;
      width: initial;
      background: #ffffff10;

      &:first-child {
        border-top: 0;
        .sin-box {
          &:before {
            height: 100%;
            top: auto;
            bottom: 0;
          }
        }
      }
      .sin-box {
        position: relative;
        padding: 0 20px;
        height: 65px;
        color: #d8d8d8;

        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.56px;
        &:before {
          content: "";
          background: #002b44;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          width: 1px;
        }
        &.title-col {
          color: #ffffff;
          font-weight: 700;
        }
        .table-icon {
          font-size: 20px;
          &.neg {
            color: #f04037;
          }
          &.pos {
            color: #67d216;
          }
        }
      }
    }
    .price-widget-block {
      padding-left: 22px;
      margin-top: 50px;
      .title {
        color: #ffffff;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: -0.66px;
        padding-bottom: 5px;
      }
      .subtitle {
        color: #c7c5d6;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.46px;
        padding-bottom: 26px;
      }
      .btn {
        width: 167px;
        height: 50px;
        border-radius: 5px;
        background-color: $color_brand;
        color: white;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.56px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        &:hover {
          background-color: $color_brand;
          color: white;
        }
      }
    }
  }
}

// ============================== terms
.terms_block{
  padding: 60px !important ;
  @include tablet_vert_screen{
    padding: 15px !important ;
  }
  .badge{
    background: $color_brand ;

    height: 5px;
    width: 5px;
    margin-top: 14px !important;
    border-radius: 50%;
  }
}


// ================================ block list
.block_list{
  position: relative;
  padding-top: 60px;
  padding-bottom: 44px  ;

  @include before{
    top: 0;
    height: 1rem;
    width: 100%;
    background: $gradient_circle ;
    left: 0;
    right: 0;
    border-radius: $border_radius $border_radius 0 0 ;
  }
  .list_item{
    border-bottom: solid 1px rgb(223, 220, 230);
    margin-bottom: 20px;
    padding-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom:none;
    }

  }
}

.contact_wrap_dark{
  max-width: 60rem;
  border-radius: $border_radius;
  background: $gradient_circle;
  padding: $spacer_60 $spacer_30 ;
  label{
    color: white;
  }
  p{
    color: white;
  }
}
// ===================== steps_block
.steps_block{
  .ellipse{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: $gradient_circle ;
    display: flex;
    justify-content: center;
    align-items: center;
    .num{
      color: white;
      text-align: center;
    }

  }
  .description{
    max-width: 20rem;
    margin-left: 4rem;
    margin-bottom: 30px;
  }
  .title{
    margin-left: 1rem;
    line-height: 1.1;
  }
}


// ======================= img block
.img_block{
  height: 40rem;
  width: 100%;
  background: $color_dark ;
  position: relative;
  @include overlay{
    z-index: 0;

  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .in_img{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 15rem;
                color: #ffffff;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #ffffff;
  }
}
// ======================= team_block 

.team_block{
  margin-bottom: -30px;
  .item{
    position: relative;
    height: fit-content;
    z-index: 0;
    overflow: hidden;
    border-radius: 8px ;
    margin-bottom: 30px;
    @include overlay{
      z-index: 0;
      background: rgba(0, 0, 0, 0.17);

    }
    .name{
      position: absolute;
      transform: rotate(-90deg) translate(50%,0%);
      bottom: 0;
      left: 0;
    }
    img{
      width: 100%;
    }
  }
}

// ====================== project_block
.project_block{
  p{
    color: rgb(201, 201, 201) !important;
  }
  .project_info{
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: solid 1px $color_dark ;
    .title{
      margin-bottom: 30px;
    }
    .categories{
      background: $color_gradient ;
      padding: 30px;
    }
  }
}
.project_wrap{
  margin: 40px 0 ;
}
// ====================== block_split
.block_split_left{
  padding:  15% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start ;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  .text_outline{
    position: absolute ;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
    font-size:10rem;
    color: $color_dark;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #ffffff26;
    text-transform: uppercase;
    word-wrap: normal;;
  }
  .title{
    margin-bottom: 30px;
  }
  .description{
    margin-bottom: 30px;
  }
}
.block_split_right{
  
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.ms-right .ms-section div {
  padding: 0 ;
}
#multiscroll-nav span {
  top: 2px;
  left: 2px;
  width: 15px !important;
  height: 15px !important;
  border: 1px solid white !important;
  background: white !important;
  box-shadow: 0 0 34px black;

}
#multiscroll-nav li .active span {
  background: $color_gradient !important ;
}

#multiscroll-nav li {
    width: 15px !important;
    height: 15px !important;
    margin: 1rem !important;
}
.lines_effect_splite{
  position: absolute ;
  z-index: 2;
  top: -10rem;

  img{
    max-width: 40rem;
    transform: translateX(-30rem);
  }
}
.lines_effect_top{
  position: absolute ;
  z-index: -2;
  top: -10rem;

  img{
    max-width: 50rem;
    transform: translateX(-30rem);
  }
}