.post{
    &.has_style1{
        background: $color_dark ;
        border-radius: $border_radius;
        margin-bottom: 30px;
        overflow: hidden;

        .post_img{
            width: 100%;
            height: 14rem;
            object-fit: cover;
            object-position: top;
            overflow: hidden;
            margin-bottom: $spacer_20;
            transition: .25s $transition_function;
        }
        &:hover{
            .post_img{
                width: 110%;

            }
        }
        .post_title{
            margin-bottom: $spacer_10;
        }
        .post_data{
            margin-bottom: $spacer_10;
            span{
                position: relative;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.596);
                &:first-child{
                    margin-right: $spacer_20;
                }

            }
        }

        .post_wrap{
            padding: $spacer_40 ;
        }
    }
}
.blog_card{
    padding: $spacer_50 ;
    border-radius: $border_radius;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
    background: $color_dark ;
    @include overlay{

    }


    .author_info{
        margin-bottom: $spacer_20;
        display: flex;
        align-items: center;


    }
    .img{
        margin-right: 20px;

    }
    .read_more{
        color: $color_brand;
        font-size: 16px;
        text-transform: uppercase;
    }
.blog_desc{
}
    .thumb_wrap{
        width: 100%;
        height: 100%;
        position: absolute ;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        .thumb{
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: .3s $transition_function ;

        }
    }
    &:hover{
        .thumb{
            transform: scale(1.1);
        }
    }
}