/*=========================================
        Navbar    
=========================================*/
.top-menu {
    li {
        display: inline;
        margin-left: 5px;
        a {
            text-decoration: none;
        }
    }
}
.add_to_cart{
    position: relative;
    cursor: pointer;
    .title_empty{
        color: rgb(120, 124, 146);
    }
    @include before{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: $color_error;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "1";
        font-size: 8px;
        line-height: 96%;
        color: white;
        top: -10px;
        left: -10px;
    }
    .add_to_cart_menu{
   position: absolute ;
        top: 0;
        position: absolute;
        top: 2rem;
        right: 0;
        width: 16rem;
        height: 20rem;
        background: white;
        border-radius: $border_radius;
        box-shadow: $shadow_2;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        transition: .3s $transition_function;
        opacity: 0;
    }
    .block{
visibility: visible;  
opacity: 1;
}

}
.top-site {
    background-color: #7341d3;
    background-image: url(../images/bg/top-site.svg);
    padding: 5px 0;
    z-index: 1;
    p {
        color: white;
        font-size: 0.875rem;
        line-height: 1.5rem;
        @include lg {
            text-align: center;
            margin-left: 0 !important;
        }
    }
    a {
        color: white;
        text-decoration: underline;
        &:hover {
            opacity: 0.8;
        }
    }
    &.has-style1 {
        background: $color_brand_second;
        color: white;
        padding: 10px 0;

        border-bottom: none;
        border-top: none;
        a {
            color: white;
            &:hover {
                opacity: 0.7;
            }
        }
        p {
            color: white;
        }
    }
}
.site-header {
    background: transparent;
    vertical-align: middle;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 60;
    padding: 0px;
    li {
        a {
            color: $color_dark;
            &:hover {
                opacity: .6 !important;
                color: $color_dark;
            }
        }
    }
    &.in-dark {
        .item-title {
            color: $white;
        }
    }
    &.has_light_dark {
        .item-title {
            color: $white;
        }
    }


    @include sm_screen() {

        &.mobile-hamburger-position-right {
            .left-part,
            .menu-optional-left,
            .top-part {
                .clb-hamburger {
                    display: none;
                }
            }

            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    display: block;
                }
            }
        }

        &.mobile-hamburger-position-left {
            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    display: none;
                }
            }

            .left-part,
            .menu-optional-left,
            .top-part {
                .clb-hamburger {
                    display: block;
                }
            }
        }
        .header-wrap {
            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    margin-left: 15px;
                    margin-right: 0;
                }
            }
        }
    }

    svg {
        fill: currentColor;
    }

    .header-wrap {
        position: relative;
        z-index: 1;
        height: 100px;

        @include note_screen() {
            height: 120px;
        }

        @include tablet_screen() {
            height: 100px;

            &.page-container {
                padding: 0;
            }
        }

        .clb-social {
            display: none;
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            height: 100%;

            .left-part {
                white-space: nowrap;

                .clb-hamburger {
                    margin-right: 15px;

                    @include sm_screen() {
                        margin-right: 10px;
                    }
                }
            }

            .left-part,
            .right-part,
            .top-part {
                display: flex;
                align-items: center;
            }

            .right-part {
                justify-content: flex-end;
            }

            &.vertical-inner {
                flex-direction: column;
            }

            .menu-optional {
                display: flex;
                align-items: center;

                > a:before {
                    display: none;
                }
            }
        }

        .lang-dropdown {
            font-weight: 600;
            font-size: 0.98em;
            font-family: $font_titles;

            .select {
                .select-options {
                    min-width: auto;
                }
            }
        }

        .top-part {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tablet_screen() {
                &.page-container {
                    padding: 0;
                }
            }
        }

        .bottom-part {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    &:not(.mobile-header) {
        &.extended-menu {
            .clb-hamburger {
                display: none;
            }
        }
    }

    &:not(.mobile-header) {
        .lang-dropdown {
            .select {
                vertical-align: middle;
            }
        }

        &.hamburger-position-right {
            .left-part,
            .menu-optional-left,
            .top-part {
                .clb-hamburger {
                    display: none;
                }
            }

            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    display: block;
                }
            }
        }

        &.hamburger-position-left {
            .right-part,
            .menu-optional-right,
            .bottom-part {
                .clb-hamburger {
                    display: none;
                }
            }

            .left-part,
            .menu-optional-left,
            .top-part {
                .clb-hamburger {
                    display: block;
                }
            }
        }
    }

    .widget_shopping_cart_content {
        .woocomerce-mini-cart__container {
            position: fixed;
            bottom: 20px;
            width: calc(100% - 80px);

            @include sm_screen {
                bottom: 15px;
                width: calc(100% - 40px);
            }
        }
    }

    ul {
        li {
            list-style: none;
        }
    }

    .site-branding .search a,
    a.hamburger,
    .menu-optional a {
        &:hover,
        &.visible,
        &.focus {
            opacity: 1;
        }
    }

    .site-branding {
        position: relative;
        @include flex_center();

        .site-title,
        .site-title a {
            border: none;
            display: block;
            font-weight: bold;
            font-size: 1.25em;
            font-family: $font_titles;
            line-height: inherit;
            text-decoration: none;
            color: inherit;

            &:before {
                display: none;
            }
        }

        &:hover {
            opacity: 0.7;
            @include animate();
        }

        .site-description {
            // display: none;
        }

        .logo {
            img,
            img.svg-logo {
                max-height: 35px;
                display: inherit;

                @include sm_screen() {
                    max-height: 40px;
                }
            }
        }

        .fixed-logo {
            display: none;
        }
    }

    .favorites-global,
    .search-global {
        display: inline-block;
    }

    &:not(.header-6) {
        .favorites-global,
        .search-global {
            .ion {
                font-size: 22px;
                color: inherit;
                background-color: transparent;
            }
        }
    }

    .fixed-logo,
    .mobile-logo,
    .fixed-mobile-logo {
        display: none;
    }

    /*--------------------------------------------------------------
    ### Header Type2
    --------------------------------------------------------------*/

    @include md_screen {
        &.header-2 {
            background-color: #fff;

            .header-wrap {
                height: 200px;
                padding: 0;
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .menu-optional {
                    min-width: 20%;

                    &-right {
                        justify-content: flex-start;
                        @include flex_center();

                        li:first-child {
                            margin-left: 0;
                        }
                    }

                    &-right {
                        justify-content: flex-end;

                        li:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .top-part {
                    height: 100%;
                }

                .top-part.page-container {
                    &:after {
                        content: none;
                    }
                }

                .middle-part {
                    border-top: 1px solid $color_border;
                    width: 100%;
                }

                .bottom-part {
                    height: 110px;
                }
            }

            &.both-types {
                .lang-dropdown {
                    margin-left: 25px;
                }
            }
        }
    }

    /*--------------------------------------------------------------
    ### Header Type3
    --------------------------------------------------------------*/

    &.header-3 {
        .main-nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @include sm_screen {
                position: static;
                left: auto;
                transform: none;
            }
        }
    }

    /*--------------------------------------------------------------
    ### Header Type4
    --------------------------------------------------------------*/
    &.header-4 {
        .left-part {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &:not(.mobile-header) {
        &.header-4 {
            @include animate(opacity);
            opacity: 0;

            .main-nav {
                width: 100%;
                position: absolute;
                text-align: center;
                z-index: 11;
            }

            .site-branding {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                bottom: 0;
            }

            .site-title {
                width: auto;
                padding: 0 30px;
            }

            .site-branding .search {
                line-height: inherit;
                float: left;

                .icon {
                    font-size: 19px;
                    vertical-align: -2px;
                }
            }

            ul.menu {
                display: flex;
                flex-wrap: nowrap;

                > li {
                    text-align: left;
                    white-space: nowrap;

                    &.has-submenu {
                        > a .has-submenu-icon {
                            right: -20px;
                        }
                    }

                    &:last-child > a.menu-link .has-submenu-icon {
                        display: none;
                    }

                    &.without-divider > a.menu-link .has-submenu-icon {
                        display: none;
                    }
                }

                > ul.sub-menu {
                    left: 8px;
                }
            }

            .menu-wrap {
                position: relative;
            }

            .menu-optional {
                margin: 0;
                float: left;
                position: relative;
                z-index: 10;
                justify-content: flex-end;

                > li {
                    > a {
                        position: relative;
                    }

                    .submenu {
                        left: auto;
                        right: -4px;
                    }
                }

                .lang-dropdown {
                    float: none;
                }

                &.right-part {
                    .search {
                        display: none;
                    }
                }
            }

            .menu-optional-wrap {
                float: right;
            }

            .clb-hamburger {
                float: left;
            }

            @include sm_screen() {
                .menu-optional {
                    float: right;

                    &-wrap {
                        width: 100%;
                    }
                }

                .close-bar {
                    z-index: 20;
                }
            }

            .top-part {
                height: 100%;

                .site-branding {
                    z-index: 12;
                }

                .main-nav {
                    position: absolute;
                    width: auto;
                    max-width: 100%;
                }
            }

            #mega-menu-wrap > ul > li.current-menu-item,
            #mega-menu-wrap > ul > li.current-menu-ancestor {
                &:before {
                    top: -35px;
                }
            }

            .page-container {
                &:after {
                    display: none;
                }
            }
        }
    }

    &:not(.mobile-header) {
        /*--------------------------------------------------------------
        ### Header Type5
        --------------------------------------------------------------*/

        &.header-5 {
            width: 300px;
            min-height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            padding: 0;
            background: #fff;

            .header-wrap {
                height: 100vh;
                @include spacer40();

                .top-part {
                    justify-content: flex-start;

                    .clb-hamburger {
                        margin-right: 15px;
                    }

                    .site-branding {
                        flex-grow: 2;
                    }

                    .search-global:not(.fixed) {
                        float: right;
                    }
                }

                .bottom-part {
                    justify-content: flex-start;
                }
            }

            // Menu
            .main-nav {
                position: static;

                .menu {
                    li {
                        font-size: 20px;
                        letter-spacing: -0.02em;

                        a {
                            width: 100%;
                            line-height: 24px;
                            padding: 5px 0px;

                            .has-submenu-icon {
                                margin: 0;
                            }
                        }
                    }

                    .nav-item.menu-item-depth-0 {
                        position: relative;
                    }

                    > .nav-item {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        position: static;

                        .menu-sub-items {
                            display: none;
                        }

                        .has-submenu-icon {
                            right: 0;
                        }

                        .sub-nav-item {
                            position: static !important;
                            @include spacer40(padding-left);
                            @include spacer40(padding-right);
                        }

                        // Hamburger menu items

                        .sub-nav,
                        .sub-sub-nav {
                            position: absolute;
                            left: 100% !important;
                            height: 100%;
                            background-color: transparent;
                            @include flex_center();
                            z-index: -1;
                            visibility: hidden;
                            @include animate();
                            color: #fff;
                            top: 0;
                        }

                        .sub-nav {
                            @include spacer40(margin-left);
                        }

                        .sub-nav.visible {
                            z-index: 10;
                        }

                        .sub-menu,
                        .sub-sub-menu {
                            background: transparent;
                            box-shadow: none;
                            margin: 0;
                            min-width: calc(100vw / 5 - 50px);
                            padding-top: 0;
                            padding-bottom: 0;
                            position: absolute;
                            top: 0;
                            left: 0;

                            li {
                                a {
                                    text-transform: none;
                                    @include animate(opacity);
                                }

                                &.visible > a,
                                &:hover > a {
                                    background: transparent;
                                    opacity: 0.5;
                                }
                            }
                        }

                        > .sub-nav {
                            &:after {
                                content: "";
                                height: 100vh;
                                background: rgba($color_dark, 0.99);
                                position: fixed;
                                left: 300px;
                                right: 0;
                                top: 0;
                                z-index: 1;
                                visibility: hidden;
                                opacity: 0;
                                @include animate();
                                pointer-events: none;
                            }
                        }

                        > a.visible + .sub-nav:after,
                        &:hover > .sub-nav:after {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            // Menu optional

            .menu-optional {
                position: relative;
                flex-direction: column;
                justify-content: flex-end;

                .cart-holder {
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                }

                > li {
                    margin: 0;
                    width: 100%;

                    // Cart
                    .submenu_cart {
                        top: auto;
                        right: auto;
                        left: 300px;
                        position: fixed;
                        @include spacer40(bottom);
                        @include spacer40(margin-left);
                    }
                }
            }
        }

        /*--------------------------------------------------------------
        ### Header Type6
        --------------------------------------------------------------*/

        &.header-6 {
            background: #fff;
            position: fixed;
            width: 90px;
            left: 0;
            top: 0;
            height: 100%;
            border-bottom: none;

            &.site-header,
            .header-wrap {
                padding: 0 !important;
            }

            & ~ .clb-hamburger-nav {
                &.split {
                    left: 80px;
                    z-index: 100;
                }

                .close-bar {
                    padding: 15px;
                }
            }

            .vertical-inner {
                @include spacer30(padding-top);
                @include spacer30(padding-bottom);
            }

            .submenu_cart {
                top: auto;
                right: auto;
                left: 80px;
                @include spacer40(margin-left);
                @include spacer40(bottom);
                position: fixed;
            }

            .main-nav {
                display: none;
            }

            .top-part {
                text-align: right;
                position: relative;

                &-inner {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                }

                .site-branding {
                    white-space: nowrap;
                    height: 90px;
                    line-height: 90px;
                    width: 90px;
                    margin-left: 0;
                    transform-origin: left top;
                    transform: translate(0, 100%) rotate(270deg);

                    &.text-logo {
                        position: absolute;
                        top: 62px;
                        left: 0;
                        transform-origin: left top;
                        transform: rotate(-90deg) translate(-100%, 0);
                    }
                }
            }

            &.header-fixed {
                .header-wrap {
                    height: 100%;
                }
            }

            .header-wrap {
                height: 100%;
            }

            .bottom-part {
                flex-direction: column;
                height: auto;

                // Menu optional

                .menu-optional {
                    flex-direction: column;
                    align-items: center;

                    > li {
                        margin: 0;
                    }

                    .btn-optional {
                        transform: rotate(-90deg);
                        margin-bottom: 50px;
                        white-space: nowrap;
                    }

                    .favorites-global,
                    .search-global {
                        margin-top: 10px;
                    }

                    .cart-holder {
                        flex-direction: column;
                    }

                    .cart-total {
                        margin: 25% 0;
                        transform: rotate(-90deg);
                    }
                }

                .lang-dropdown {
                    transform-origin: center center;
                    transform: rotate(-90deg);
                    margin-bottom: 50px;
                    position: relative;
                    min-width: 100px;

                    .select-options {
                        transform: rotate(90deg);
                        transform-origin: 0% 0%;
                        left: 100%;
                    }
                }
            }
        }

        &.header-1,
        &.header-2,
        &.header-3,
        &.header-4 {
            .menu-item-depth-0 {
                > .menu-link {
                    .has-submenu-icon {
                        visibility: hidden;
                    }
                }
            }
        }

        &.header-1,
        &.header-3,
        &.header-4 {
            .menu-depth-1 {
                top: -0.8em;
            }
        }

        @include md_screen {
            &.header-1,
            &.header-2,
            &.header-3,
            &.header-4 {
                .mbl-overlay-container,
                .main-nav-container,
                .menu {
                    height: 100%;
                }
            }
        }
    }

    &.mobile-header {
        &.header-2 {
            .search {
                padding-right: 10px;
            }
        }

        &.header-4 {
            .main-nav.active {
                z-index: 20;
            }

            .menu-optional {
                position: static;
            }

            .left-part {
                .menu-optional {
                    .search {
                        display: none;
                    }
                }
            }
        }

        &.header-5 {
            .site-branding {
                .search {
                    display: none;
                }
            }

            .bottom-part {
                .search {
                    a {
                        padding: 0 10px;
                        color: inherit;
                        display: inline-block;

                        .icon {
                            vertical-align: middle;
                            margin-top: -2px;
                            font-size: 20px;
                        }
                    }
                }

                .wishlist {
                    span {
                        display: none;
                    }
                }
            }
        }

        &.header-5,
        &.header-6 {
            .header-wrap-inner {
                flex-direction: row;

                .top-part {
                    justify-content: flex-start;
                    align-items: center;
                }

                .bottom-part {
                    justify-content: flex-end;
                }
            }
        }

        // &.header-5,
        // &.header-6,
        // &.header-2,
        // &.header-4 {
        //     .menu-optional {
        //         li:last-child {
        //             display: flex;
        //             align-items: center;
        //             flex-direction: row-reverse;
        //         }
        //     }
        // }

        &.header-6 {
            display: block;

            .top-part-inner {
                display: flex;
            }
        }

        .header-wrap {
            .clb-social {
                display: flex !important;
                right: 0;
            }
        }

        .lang-dropdown {
            display: none;
        }
    }

    &.header-fixed {
        background: #fff;
        margin: 0;
        position: fixed;
        border-bottom: 1px solid transparent;
        top: 0;
        opacity: 0 !important;
        visibility: hidden !important;
        transform: translate3d(0, -15px, 0);

        .header-wrap {
            height: 70px;
        }

        &.showed {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translate3d(0, 0, 0);
            z-index: 1000;
            @include animate(0.5s);

            #mega-menu-wrap > ul > li.current-menu-item,
            #mega-menu-wrap > ul > li.current-menu-ancestor {
                &:before {
                    top: -10px;
                }
            }
        }

        &.no-transition {
            transition: none;
        }

        &.with-header-cap {
            margin: 0;
        }

        &.subheader-open {
            margin-top: 38px;
        }

        .site-title,
        .site-title a {
            img {
                max-height: 45px;
                transition-duration: 0.2s;
            }
        }

        .site-branding .site-title {
            &,
            & a {
                line-height: inherit;

                img {
                    max-height: 50px;
                    transition-duration: 0.2s;
                }
            }
        }
    }

    &.header-2,
    &.header-4 {
        @include sm_screen {
            .top-part {
                height: 100%;
            }

            .menu-optional.text-right,
            .menu-optional.text-left {
                display: flex;
                align-items: center;

                li {
                    display: flex;
                }
            }

            .menu-optional.text-left {
                .wishlist {
                    display: none;
                }
            }
        }
    }

    .header-wrap.wrapped-container {
        padding: 0 15px;
    }

    @include sm_screen {
        .logo.with-mobile {
            display: none;
        }

        .mobile-logo {
            display: inline;
        }
    }
}

.header-cap {
    width: 100%;
    height: 100px;

    @include note_screen() {
        height: 120px;
    }

    @include tablet_screen() {
        height: 100px;
    }
}

.boxed-container {
    .site-header .header-wrap {
        padding: 0 30px 0 30px;
    }
}

// Header overwrites

.slider-with-bullets:not(.slider-with-bullets-type5):not(.slider-with-bullets-type8) {
    .site-header,
    .clb-slider-nav-btn,
    .clb-social,
    .sticky-nav {
        @include spacer40(margin-right);
    }
}

.slider-with-bullets {
    &.slider-with-bullets-type5 {
        .site-header,
        .clb-slider-nav-btn,
        .clb-social {
            @include spacer40(margin-right);
        }
    }

    &.slider-with-bullets-type8 {
        .clb-slider-nav-btn,
        .clb-social {
            @include spacer40(margin-right);
        }
    }
}

body:not(.is-mobile-menu) {
    &.with-header-2 {
        .header-cap {
            height: 200px;
        }
    }

    &.with-header-5 {
        &.with-spacer {
            .site-content,
            .site-footer,
            [data-vc-stretch-content] {
                padding-left: 300px;
            }
        }

        .close-bar {
            justify-content: flex-end;
        }

        .header-cap {
            position: fixed;
            height: 100%;
            width: 300px;
            left: 0;
            top: 0;
        }

        .clb-scroll-top,
        .search-global.fixed,
        .clb-mode-switcher,
        .btn.purchase-theme,
        .btn.purchase-theme:after,
        .clb-back-link {
            margin-left: 300px;
        }
    }

    &.with-header-6 {
        &.with-spacer {
            .site-content,
            .site-footer {
                margin-left: 90px;
            }

            [data-vc-stretch-content] {
                padding-left: 90px;
            }
        }

        .header-cap {
            position: fixed;
            height: 100%;
            width: 90px;
            left: 0;
            top: 0;
        }

        .clb-scroll-top,
        .search-global.fixed,
        .clb-mode-switcher,
        .btn.purchase-theme,
        .btn.purchase-theme:after,
        .clb-back-link {
            margin-left: 90px;
        }

        .search-global.fixed {
            @include spacer30(bottom);
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .with-header-5 {
        &.single-post {
            .post-share {
                .clb-share-bar {
                    left: 10px;
                }
            }
        }
    }

    .with-header-6 {
        &.single-post {
            .post-share {
                .clb-share-bar {
                    left: -30px;
                }
            }
        }
    }
}

/*Cross Icon*/
.main-nav .sub-nav-group li.has-submenu > a,
.header-5 .main-nav .has-submenu > a,
.main-nav.active .has-submenu > a,
.clb-hamburger-nav .has-submenu > a,
.main-nav .nav-item > a,
.cross {
    .has-submenu-icon,
    .btn-round-has-submenu {
        display: block;
        position: absolute;
        color: currentColor;
        top: calc(50% - 8px);
        transform-origin: center;
        transform: rotate(0deg);
        right: 0;
        font-size: $font_size_small;
        display: inline-block;
        line-height: 0;
        @include animate;
        opacity: 0.75;
    }

    &:hover,
    &.active {
        .has-submenu-icon {
            transform: rotate(-45deg);
        }
    }
}

.has-submenu {
    &.active,
    &.visible {
        > a {
            .has-submenu-icon {
                transform: rotate(-45deg);
            }
        }
    }
}

/*--------------------------------------------------------------
### Main Nav
--------------------------------------------------------------*/
.main-nav {
    cursor: default;
    position: relative;
    font-weight: 600;
    z-index: 10;
    text-align: left;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;

    &.unhidden {
        display: flex;
    }

    a:before,
    .close-bar {
        display: none;
    }

    .mbl-overlay {
        display: block;
    }

    &.with-counters {
        .main-nav-container {
            .menu-item-depth-0 {
                counter-increment: number;

                > a {
                    span {
                        position: relative;

                        &:before {
                            content: "0" counter(number);
                            display: inline-block;
                            opacity: 1;
                            font-weight: bold;
                            width: auto;
                            top: -10px;
                            right: 0;
                            line-height: 20px;
                            font-size: 0.6em;
                            position: absolute;
                            height: auto;
                            background: transparent;
                            opacity: 0.7;

                            @include sm_screen() {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    // Menu
    .nav-item,
    .nav-item.current-menu-item,
    .nav-item.current-menu-ancestor {
        &:before {
            background-color: $color_brand;
        }
    }

    .nav-item {
        &.active-main-item {
            > .menu-link {
                color: $color_brand;
            }
        }
    }

    // @include tablet_screen(){
    //     .sub-nav {
    //         &.visible {
    //             .sub-menu-wide {
    //                 width: 100vw !important;
    //             }
    //         }
    //     }
    // }

    &.hidden {
        display: none;
    }

    @include tablet_screen() {
        display: none;
    }
}

.site-header:not(.mobile-header) {
    .copyright,
    .socialbar {
        display: none;
    }

    /*--------------------------------------------------------------
    ### 1st Level Navs
    --------------------------------------------------------------*/
    .nav-item {
        float: left;
        position: relative;
        font-family: $font-secondary;
        padding: 0;
        height: 100%;
        padding: 20px 0;
        a {
            line-height: inherit;
            padding: 0 1vw;
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 17px;
            margin-left: 0;
            margin-right: 0;

            span {
                vertical-align: middle;
            }
        }
    }

    .menu {
        .menu-item-depth-0 > a {
            @include animate();
        }

        &:hover {
            .menu-item-depth-0 > a {
                &:not(:hover) {
                    opacity: 0.6;
                }
            }
        }
    }

    div.sub-nav,
    div.sub-sub-nav {
        min-width: 20vw;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        @include spacer40(right);
        z-index: 10;

        .sub-menu,
        .sub-sub-menu {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .menu-depth-1.sub-menu {
        margin-top: 0;
    }

    /*--------------------------------------------------------------
    ### 2nd Level Navs
    --------------------------------------------------------------*/

    .sub-nav {
        .sub-menu {
            transform: translateY(5px);
            border-top-width: 0;
            font-weight: 500;

            &.sub-menu-wide {
                .sub-sub-menu {
                    transform: none;
                    padding: 0;
                }
            }
        }

        .sub-menu,
        .sub-sub-menu {
            background-clip: padding-box;
            width: auto;
            min-width: 210px;
            max-width: 320px;
            @include border_radius(5px);
            display: inline-block;
            vertical-align: top;
            top: 20px;
            left: -5px;
            z-index: 100;
            text-align: left;
            @include flip_up();

            .sub-nav-item {
                line-height: 100%;
                left: 0;
                font-size: 0.98rem;
                font-weight: normal;
                padding: 0;
                position: relative;

                &:hover {
                    z-index: 101;
                }

                &:hover > .sub-sub-nav,
                .sub-sub-nav.visible {
                    > .sub-sub-menu {
                        transform: none;
                        visibility: visible;
                        @include flip_up_active();
                        z-index: 101;
                    }
                }

                a {
                    background: transparent;
                    width: 100%;
                    padding: 10px 25px;
                    font-size: 100%;
                    display: block;

                    .has-submenu-icon {
                        margin-right: 25px;
                    }

                    &:hover {
                        background: $color_fill_light;
                        opacity: 1;

                        .has-submenu-icon {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }

        &.visible {
            .sub-menu {
                transform: none;
                opacity: 1;
                visibility: visible;
                background: rgb(255, 255, 255)!important;
                box-shadow: $shadow_1;


                > .mega-menu-item {
                    display: block;
                }
            }
        }

        /*--------------------------------------------------------------
        ### Wide Nav
        --------------------------------------------------------------*/

        .sub-menu-wide {
            display: flex;
            justify-content: center;
            max-width: none;
            left: auto !important;
            width: 110% !important;
            right: 40px !important;
            position: relative;

            margin: 0;
            .row {
                width: 100%;
            }

            @include note_screen() {
                width: calc(100vw - 60px) !important;
                right: 30px !important;
            }

            .menu-depth-1,
            .menu-depth-2 {
                box-shadow: none;
                padding: 0;
                max-width: none;
            }

            .sub-nav-item {
                &:hover {
                    .sub-sub-menu {
                        box-shadow: none;
                    }
                }
            }

            > .mega-menu-item {
                width: calc(100% / 6);
                float: left;
                display: none;
                margin-left: 0;

                @include tablet_screen() {
                    min-width: 20%;
                    max-width: 20%;
                }

                > a.menu-link {
                    text-transform: uppercase;
                    color: $color_light;
                    font-size: 0.78em;
                    font-weight: 600;
                    margin-bottom: 5px;
                    height: auto;

                    &:hover {
                        background: transparent;
                    }

                    .has-submenu-icon,
                    &:before {
                        visibility: hidden;
                    }
                }

                .sub-sub-nav {
                    position: static;
                    height: auto;
                    min-width: 0;
                    max-width: 300px;
                    background: transparent;
                }

                .sub-sub-menu {
                    background: transparent;
                    margin: 0;
                    width: 90%;
                }
            }
        }

        &.visible {
            .sub-menu-wide {
                .mega-menu-item {
                    display: block;

                    .sub-sub-menu {
                        position: static;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    /*--------------------------------------------------------------
    ### 3rd Level Navs
    --------------------------------------------------------------*/

    div.sub-sub-nav {
        left: 100%;
        bottom: auto;
        top: -15px;

        &.menu-left {
            left: 0;

            .sub-menu,
            .sub-sub-menu {
                background: #fff;
                left: auto;
                right: calc(100% - 2px);
            }
        }

        .sub-sub-menu {
            margin-top: 0;
            background-color: #fff;
            @include dropdown_shadow();
        }
    }
}

/*--------------------------------------------------------------
### Hamburger
--------------------------------------------------------------*/

.clb-hamburger {
    user-select: none;
    position: relative;
    vertical-align: top;
    @include animate();

    @include sm_screen() {
        margin-right: 10px;
    }

    &-holder {
        @include flex_center();
        justify-content: center;
        flex-direction: column;
        position: relative;
        height: 100%;

        ._shape {
            width: 18px;
            margin: 3px 0px;
            display: block;
            height: 2px;
            background-color: white;
        }
    }
}

/*--------------------------------------------------------------
### Menu optional
--------------------------------------------------------------*/

.menu-optional {
    position: relative;
    @include flex_center();

    > li {
        padding: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    // .btn-optional {
    //     margin: 0 1vw;
    // }

    .btn-optional-holder + li {
        margin-left: 1vw;
    }

    // Cart

    .cart-holder {
        @include flex_center();
        position: relative;
    }

    .cart {
        position: relative;

        .icon {
            display: block;
            text-align: center;

            svg {
                height: 18px;
            }
        }

        &-total {
            margin: 0px 5px;
            font-weight: 600;
            font-size: 0.9em;
        }

        &-counter {
            position: absolute;
            @include flex_center();
            justify-content: center;
            height: 18px;
            min-width: 18px;
            padding: 0px 5px;
            color: #fff;
            top: 0;
            right: 0;
            font-family: $font_main;
            font-size: 0.4em;
            font-weight: 600;
            @include border_radius(50%);
        }
    }
}

/*--------------------------------------------------------------
### Fullscreen hamburger nav
--------------------------------------------------------------*/
.clb-hamburger-nav {
    @include spacer40();
    display: flex;
    flex-direction: column;

    &-holder {
        @include spacer40(top);
        height: 100%;
        @include flex_center();
    }

    &-details {
        font-size: $font_size_small;
        color: #fff;

        > * {
            margin-bottom: 25px;
        }

        > *:last-child {
            margin-bottom: 0;
        }

        .select-holder {
            display: inline-block;

            select {
                background-color: rgba(#fff, 0.03);
                color: #fff;
            }
        }

        .hamburger-nav-info {
            display: flex;
            @include spacer40(padding-top);
            align-items: flex-start;
            color: $color_light_rgba;

            &:last-child {
                padding-top: 0;
            }

            &-item {
                text-align: left;

                b {
                    color: #fff;
                }
            }
        }
    }

    .menu {
        counter-reset: number;
        width: 25vw;
        position: relative;

        @include note_screen() {
            width: calc(100vw / 3);
        }

        @include tablet_screen() {
            width: calc(100vw / 3);
        }

        .has-submenu-icon {
            i {
                color: $color_light_rgba;
            }
        }

        &.menu-blank {
            width: auto;
            min-width: 10%;
            margin: 0;
            padding: 0;
            color: #fff;

            a {
                transform: none;
                visibility: visible;
                opacity: 1;
                padding: 0;
                font-weight: 600;
            }
        }

        .menu-item-depth-0 {
            counter-increment: number;

            > a {
                &:before {
                    content: "0" counter(number);
                    display: inline-block;
                    opacity: 1;
                    //margin-right: 10px;
                    font-weight: bold;
                    width: auto;
                    vertical-align: top;
                    line-height: 20px;
                    font-size: 0.25em;
                    position: relative;
                    height: auto;
                    background: transparent;
                    align-self: flex-start;
                    //transform: translateY(100%);
                    @include animate();
                    color: $color_light_rgba;
                }
            }
        }

        .nav-item,
        .sub-nav-item {
            padding: 5px 50px 5px 0px;
            list-style-type: none;
            line-height: 1;

            a {
                width: 100%;
                vertical-align: middle;
                font-size: 2.8em;
                font-weight: bold;
                @include fluid-type(1.8em, 2.8em);
                font-family: $font_titles;
                display: block;
                position: relative;
                z-index: 2;
                @include animate();

                span {
                    line-height: 1.2;
                    display: inline-block;
                    color: #fff;
                }
            }

            div.sub-nav,
            .sub-sub-menu {
                background: none;
                width: 100%;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 100%;
                transition: 0.2s ease-in-out;
                transition-property: opacity, visibility;

                // li {
                //     position: relative;
                // }

                &.visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                }
            }

            div.sub-nav {
                position: absolute;
                min-width: 350px;
                padding: 0;
                display: flex;
                align-items: center;

                @include tablet_screen() {
                    min-width: calc(100vw / 3);

                    .sub-nav-item > a {
                        padding-right: 15px;
                    }
                }

                ul {
                    width: 100%;
                    display: inline-block;
                }
            }

            .sub-sub-nav {
                position: absolute;
                left: 100%;
                min-width: 350px;
                padding: 0;
                top: 0;

                > .sub-sub-menu {
                    left: 0;
                }
            }

            &:hover,
            .visible,
            &.active {
                > a.menu-link {
                    span {
                        opacity: 0.5;
                    }

                    &:before {
                        transform: translateX(15px);
                        opacity: 0;
                    }

                    .has-submenu-icon {
                        transform: rotate(45deg);
                    }

                    .ion {
                        color: $color_brand;
                    }
                }
            }
        }
    }

    &:not(.centered):not(.type3) {
        @include spacer70(padding-left);

        .menu {
            .nav-item,
            .sub-nav-item {
                &:hover {
                    > a.menu-link {
                        transform: translateX(15px);
                    }

                    > .sub-sub-nav > .sub-sub-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            .menu-item-depth-0 > a:before {
                margin-right: 10px;
            }
        }

        .hamburger-nav-info-item {
            width: 25vw;
        }
    }

    /*--------------------------------------------------------------
    ## Centered Nav
    --------------------------------------------------------------*/
    &.centered {
        .menu {
            /* Start alignment styles */
            .nav-item,
            .sub-nav-item {
                .menu-link {
                    display: inline-flex;

                    &:before {
                        left: -20px;
                    }

                    .btn-round-has-submenu {
                        right: -46px;
                        top: 0;

                        .has-submenu-icon {
                            position: static;
                        }
                    }
                }
            }
            /* End alignment styles */
        }
    }

    &.centered,
    &.type3 {
        display: block;

        .page-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .clb-hamburger-nav-holder {
            justify-content: center;
            overflow-x: hidden;
            overflow-y: scroll;

            &::-webkit-scrollbar,
            &::-webkit-scrollbar-thumb {
                visibility: hidden;
            }
        }

        .menu {
            min-width: initial;
            text-align: center;
            width: 40vw;

            .nav-item,
            .sub-nav-item {
                padding-right: 0;
                white-space: nowrap;
                position: relative;
                overflow: hidden;
                text-transform: uppercase;

                .menu-link {
                    position: relative;
                    width: auto;
                    align-items: center;
                    justify-content: center;

                    span {
                        padding: 0px 10px;
                        @include animate();
                    }

                    .btn-round-has-submenu {
                        max-height: 46px;
                        z-index: 1;

                        .ion {
                            font-size: 18px;
                        }
                    }

                    &:before {
                        position: absolute;
                    }

                    &-cloned {
                        position: absolute;
                        top: 0;
                        transform: translateY(100%);
                        opacity: 0;
                    }
                }

                div.sub-nav,
                div.sub-sub-nav {
                    max-height: 0vh;
                    overflow: hidden;
                    position: static;
                    visibility: visible !important;
                    opacity: 1 !important;
                    align-items: flex-start;
                    @include animate(all, 0.9s, 0s);

                    > ul {
                        margin: 20px 0;
                    }

                    .sub-nav-item {
                        a {
                            font-size: 2.4em;
                        }
                    }
                }

                div.sub-nav.open-onclick,
                div.sub-sub-nav.open-onclick {
                    max-height: 100vh;
                    visibility: visible !important;
                    opacity: 1 !important;
                    transform: none;

                    .showed-onclick {
                        transform: none;
                        opacity: 1;
                    }
                }

                div.sub-sub-nav.open-onclick {
                    > .sub-sub-menu {
                        position: static;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &:hover,
                &.active {
                    > .menu-link > span:not(.menu-link-cloned) {
                        transform: translateY(-110%);
                    }

                    > .menu-link > .menu-link-cloned {
                        transform: translateY(0);
                        opacity: 0.5;
                    }

                    > .menu-link > .btn-round-has-submenu .has-submenu-icon {
                        transform: rotate(45deg) !important;
                    }
                }
            }
        }
    }

    /*--------------------------------------------------------------
    ## Type3 Nav
    --------------------------------------------------------------*/

    &.type3 {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        > .page-container {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .clb-hamburger-nav-holder {
            justify-content: flex-start;
            max-width: 80%;

            .menu {
                text-align: left;
                width: 100%;
                max-height: 80vh;

                .nav-item,
                .sub-nav-item {
                    .menu-link {
                        display: flex;
                        justify-content: flex-start;
                        overflow: hidden;
                        padding-left: 20px;

                        span {
                            @include fluid-type(24px, 90px);
                            @include crop_string();
                            line-height: 0.9;
                        }

                        &:before {
                            top: 5%;
                            left: 0;
                        }

                        .has-submenu-icon,
                        .btn-round-has-submenu {
                            position: static;
                        }

                        .has-submenu-icon {
                            text-align: center;
                        }

                        &-cloned {
                            width: 100%;
                            -webkit-text-stroke: 1px currentColor;
                            -webkit-text-fill-color: transparent;
                        }
                    }

                    &.menu-item-depth-0 {
                        > .menu-link {
                            > .menu-link-cloned {
                                width: calc(100% - 50px);
                            }
                        }
                    }

                    > .sub-menu-link {
                        > .menu-link-cloned {
                            width: calc(100% - 30px);
                        }
                    }
                }

                div.sub-nav,
                div.sub-sub-nav {
                    .sub-nav-item {
                        a span {
                            font-size: 1.8em;
                        }
                    }
                }
            }
        }

        .clb-hamburger-nav-details {
            max-width: 20%;
            @include spacer40(padding-left);

            .hamburger-nav-info {
                flex-direction: column;
                justify-content: space-around;
                text-align: left;

                &-item {
                    margin: 15px 0;
                }
            }
        }
    }
}

.is-mobile-menu {
    .clb-hamburger-nav {
        display: none;
    }
}

/*--------------------------------------------------------------
### Overlay Mobile
--------------------------------------------------------------*/
.site-header.mobile-header {
    .mbl-overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        visibility: hidden;
        opacity: 0;
        left: 0;
        z-index: 9999999;
        overflow: hidden;
        @include animate();

        &:not(.visible) {
            .close-bar {
                display: none;
            }
        }

        .close-bar {
            .ion {
                color: $color_text;
            }

            .search-global {
                display: block;
            }
        }

        &-bg {
            position: fixed;
            background-color: rgba($color_dark, 0.9);
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }

        &-container {
            position: absolute;
            top: 0;
            height: 100vh;
            z-index: 1;
            background: #fff;
            width: calc(100% - 60px);
            text-align: left;
            overflow-y: auto;
            padding: 94px 20px;
            transform: translateX(-50px);
            transition-duration: 0.25s;
            opacity: 0;
        }

        // Visible

        &.visible {
            .mbl-overlay-container {
                transform: none;
                opacity: 1;
            }
        }
    }
}

/*--------------------------------------------------------------
### Main Nav Mobile
--------------------------------------------------------------*/
.site-header.mobile-header {
    .main-nav {
        line-height: 1.6;

        // Show nav
        &.active {
            .mbl-overlay {
                opacity: 1;
                visibility: visible;
                left: 0;
            }
        }

        &.hidden {
            display: block;
        }

        .close-bar {
            display: flex;
            justify-content: space-between;
            width: calc(100% - 60px);
        }

        /*--------------------------------------------------------------
        ### Copyright
        --------------------------------------------------------------*/

        .copyright {
            font-weight: 400;
            font-size: $font_size_small;
            margin-top: 20px;
        }

        .select {
            width: 100%;
            margin-top: 20px;
            font-weight: 400;
            font-size: $font_size_small;
        }

        .socialbar a {
            margin-top: 20px;
        }

        /*--------------------------------------------------------------
        ### 1st Level Navs
        --------------------------------------------------------------*/
        .nav-item {
            font-size: $font_size_large;
            font-family: $font_titles;
            position: relative;
            padding: 0;
            margin: 0 -20px;

            a {
                display: block;
                line-height: 36px;
                padding: 5px 20px;
                position: relative;

                .has-submenu-icon {
                    right: 20px !important;
                }
            }

            &.current-menu-item,
            &.current-menu-ancestor {
                a,
                .current-menu-item {
                    font-weight: bold;
                }
            }

            &.active-main-item {
                > .menu-link {
                    background: $color_fill_light;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 100%;
                        width: 2px;
                        left: 0;
                        top: 0;
                        opacity: 1;
                        background-color: currentColor;
                    }
                }
            }
        }

        .sub-nav,
        .sub-sub-nav {
            .sub-menu,
            .sub-sub-menu {
                height: 0px;
                min-height: 0px;
                overflow: hidden;
                transition: height 0.4s cubic-bezier(0.35, 0.2, 0.2, 1);
                font-size: 0.92em;
                font-weight: 500;

                &.active {
                    height: auto;
                }

                .sub-nav-item {
                    &.active {
                        font-weight: 600;
                    }
                }
            }
            &.visible {
                .sub-menu-wide {
                    width: auto !important;
                }
            }
        }

        /*--------------------------------------------------------------
        ### 2nd Level Navs
        --------------------------------------------------------------*/

        .sub-nav {
            .sub-menu {
                padding-left: 15px;

                &.active {
                    height: auto;
                }
            }

            .menu-depth-1,
            .menu-depth-2 {
                .sub-nav-item {
                    padding: 0;

                    &.active {
                        font-weight: 600;
                    }
                }
            }

            &.visible {
                .sub-menu {
                }
            }
        }

        /*--------------------------------------------------------------
        ### 3rd Level Navs
        --------------------------------------------------------------*/

        .sub-sub-nav {
            .sub-sub-menu {
                padding-left: 15px;

                &.active {
                    height: auto;
                }
            }
        }
    }

    .without-mobile-search {
        .search {
            display: none !important;
        }
    }
}

/*--------------------------------------------------------------
### Nav not assigned
--------------------------------------------------------------*/
.menu {
    &.menu-blank {
        font-weight: 400;
        @include flex_center();
        height: 50px !important;
        background: $color_fill_light;
        margin-left: 25px;
        margin-right: 25px;
        padding: 0px 20px;
        @include border_radius();

        @include sm_screen() {
            margin-left: 0;
            margin-right: 0;
        }

        &:after {
            display: none !important;
        }

        a {
            font-weight: bold;
            margin: 0px 5px;
            font-size: 1em;
            font-family: inherit;
            height: auto !important;
            color: $color_brand;
        }

        .has-submenu-icon {
            visibility: hidden;
        }

        .nav-item {
            &:before {
                display: none !important;
            }
        }
    }
}

.header-4 {
    .menu {
        &.menu-blank {
            transform: translate(50%, 0%);
        }
    }
}

.header-5 {
    .menu {
        &.menu-blank {
            margin: 0;

            > a {
                padding-left: 5px !important;
            }
        }
    }
}

.header-2 {
    .menu {
        &.menu-blank {
            height: 40px !important;
            transform: translateY(20%);
        }
    }
}

.subheader {
    background: darken($color_fill_light, 2%);
    color: $color_light;
    width: 100%;
    vertical-align: middle;
    cursor: default;
    position: relative;
    padding: 8px 25px;
    font-size: 0.88em;
    z-index: 10;

    @include tablet_screen() {
        padding-right: 20px;
        padding-left: 20px;
    }

    @include sm_screen() {
        padding-right: 0;
        padding-left: 0;
    }

    .select {
        img {
            display: none;
        }
    }

    a {
        color: $color_light;
    }

    ul:not(.select-options):not(.dd-options) {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.5;

        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0;
        }

        &.left > li {
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 14px;
                width: 1px;
                background-color: $color_light;
                margin: -2px 8px 0px 10px;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &:first-child {
                padding-left: 0;
            }
        }

        &.right > li {
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 14px;
                width: 1px;
                background-color: $color_light;
                margin: -2px 10px 0px 8px;
            }

            &:first-child {
                &:before {
                    display: none;
                }
            }

            &:last-child {
                padding-right: 0;
            }

            > .select-dropdown {
                height: 24px;
                line-height: 24px;
            }
        }
    }

    .select.select-dropdown {
        z-index: 999;

        ul.select-options {
            li {
                width: 100%;
            }
        }
    }
}

.blockOverlay {
    background: rgba($color_error, 0.2) !important;
    @include border_radius();
}

.main-nav {
    width: fit-content;
}

.mb_wrap {
    display: none;
    @include tablet_vert_screen {
        display: block;
    }
    .burger {
        display: none;
        @include md {
            display: block;
        }
    }

    .has_icon {
        svg {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background: $color_brand;
            fill: #fff;
            padding: 2px;
            font-size: 6px;
            padding: 8px;
        }
        &.is_active {
            svg {
                background: radial-gradient(circle at 50% 0, #94d75d, #54842f);
            }
        }
    }
    // ------------------------- mobile menu
    .close-mb-menu {
        width: 20px;
        height: 20px;
        line-height: 56px;
        text-align: center;
        border-radius: 50%;
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        color: #fff;
        cursor: pointer;
        outline: 0;
        background: $color_brand;
        padding: 15px;
        margin-bottom: 20px;
    }

    .mb-overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        transform: translateX(-100%);
        visibility: none;
        opacity: 0;
        color: $color_dark;
    }
    .mb-overlay-bg {
        position: fixed;
        background-color: rgba(23, 22, 26, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
    }

    .mb-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;

        background: $color_dark;
        padding: 6rem 2rem 2rem 2rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: auto;
        z-index: 9999;
        overflow: hidden;
        width: 90%;
        height: 100%;
        overflow: scroll;
        box-shadow: 37px 0px 100px rgba(7, 5, 42, 0.8);
        .has-dropdown-m {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;

            ion-icon {
                height: 1rem;
                width: 1rem;
                transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
            }
            &:hover {
                ion-icon {
                    transform: rotate(45deg);
                }
            }
        }
        ul {
            margin: 0;
            padding: 0;
        }

        li {
            text-align: left;
            line-height: 50px;
            box-shadow: 0 13px 25px -17px rgba(45, 25, 82, 0.1803921568627451);
            &:last-child {
                border-bottom: none;
            }

            a {
                color: $white !important;
                transition: 0.25s;
                font-size: 17px;
                text-transform: capitalize;
                line-height: 60px;

                &:hover {
                    color: $color_brand;
                }
            }
        }

        .copyright {
            line-height: 1.5;
            margin-top: 40px;
            color: $color_dark;
            a {
                color: white;
            }
        }
    }
    .color-secondary {
        color: $color_brand !important;
    }

    // ------------------------- mobile menu
    .cb-menu-toggle {
        height: $navbar-height;
        line-height: $navbar-height;
        display: none;

        @include lg {
            display: flex;
            align-items: center;
        }
    }
    .burger {
        .menu {
            display: none;
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;

            .line-menu {
                position: absolute;
                height: 3px;
                border-radius: 2px;
                background: white;
                transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease 0.2s;
            }

            input {
                display: none;

                & + .line-menu {
                    top: 50%;
                    left: 0;
                    margin: -2px 0 0 0;
                    width: 30px;
                    transform-origin: 50% 50%;

                    & + .line-menu {
                        top: 4px;
                        left: 0;
                        width: 30px;
                        transform-origin: 0 50%;

                        & + .line-menu {
                            bottom: 4px;
                            right: 0;
                            width: 30px;
                            transform-origin: 100% 50%;
                            transform: translate(0, 0);
                        }
                    }
                }

                &:checked + .line-menu {
                    transform: rotate(-45deg);
                    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;

                    & + .line-menu {
                        width: 15px;
                        transform: translate(4px, -0.5px) rotate(45deg);
                        transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;

                        & + .line-menu {
                            width: 14px;
                            transform: translate(-4.5px, 0.5px) rotate(45deg);
                            transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
                        }
                    }
                }
            }
            @include sm_screen {
                display: block;
            }
        }
        &.is_white {
            .line-menu {
                background: $white;
            }
        }
    }

    .mb-visible {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
    .dropdown-mobile {
        padding: 0 30px 0 !important;
        overflow: hidden;
        display: none;
        margin-bottom: 15px !important;
        a {
            color: rgb(65, 65, 75) !important;
            font-size: 15px !important;
        }
    }
}
.close {
    opacity: 1;
}
