        // Progress Bar
        .progress {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 1px;
            background: $color_gradient ;
            transition: all linear 0.1s;
            min-height: 1%;
        }
.hero {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    /*====================================
    =========  in index
    =====================================*/

    &.in_index {
        overflow: hidden;
        z-index: 0;

        .hero-wrap {
            padding: 100px 0;
        }
        .title {
            line-height: 1.1;
            margin-bottom: $spacer_30;
            -webkit-background-clip: text;
            background-image: $color_gradient;
            -webkit-text-fill-color: transparent;
            display: flex;
            width: fit-content;
            font-size: 9rem;
            @include tablet_screen{
                @include fluid-type($font_size_h1_mobile, $font_size_h1);
            }
        }
        .title_outline {
            color: #ffffff;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1.5px #ffffff;
            font-size: 8rem ;
            text-transform: capitalize;
            margin-bottom: $spacer_30;
            @include tablet_screen{
                @include fluid-type($font_size_h1_mobile, $font_size_h1);
            }
        }
        .img_right {
            height: 100%;
            width: auto;
            @include tablet_vert_screen {
                display: none;
            }
        }
        .description {
            margin-bottom: 0;
            margin: 0;
            margin-bottom: $spacer_30;
        }
        .list_index {
            padding-bottom: $spacer_10;
            margin-bottom: $spacer_10;
            padding-top: $spacer_10;
            margin-top: $spacer_10;
            font-size: 20px;
            text-align: center;
        }
        .advantages {
            background: url(../images/others/banner.webp);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: 0 0;
            overflow: visible;
        }
    }

    &.has-style1 {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @include tablet_screen {
            height: auto;
            .hero_wrap{
                margin: 70px 0;
                br{
                    display: none;
                }
            }
        }
        @include overlay {
        }
        .title {
            color: white;
            font-size: 8rem;
            @include fluid-type($font_size_h1_mobile, $font_size_h1);

            @include lg_screen {
                font-size: 7rem;
            }


        }
        .desc {
            color: white;
            max-width: 40rem;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin: 20px 0;
            font-size: 19px;
            @include sm {
                font-size: 16px;
            }
        }
    }

    &.has-style2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        @include overlay {
        }
        .scroll_down{
            position: absolute ;
            right: 25px;
            bottom: 25px;
        }
        .ri-arrow-down-line{
            animation-name: anim-up-down;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        .hero_wrap2{
            padding: 25vh 0;

        }
        .hero_wrap {
            position: relative;
            padding: 18vh 0;
            margin-left: 10%;
            @include sm_screen{
                margin-left: 0;
            }
            @include after {
                top: 0;
                z-index: -1;
                width: 50%;
                height: 100%;
                background-image: linear-gradient(to right, #03080f, #03080fb9, rgba(255, 255, 255, 0));
            }
        }
        .title {
            color: white;
            font-size: 6rem;
            text-align: left;
            @include tablet_vert_screen{
                @include fluid-type($font_size_h1_mobile, $font_size_h1);

            }
        }
        .content {
            position: relative;
            width: 100%;
        }
        .hero_img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            object-fit: cover;
        }
        .desc {
            color: white;
            max-width: 40rem;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            margin: 20px 0;
            font-size: 19px;
        }
        .left_part,
        .right_part {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .right_part {
            position: relative;
            right: 0;
        }
        .right_img {
            object-fit: cover;
            height: fit-content;
            height: inherit;
        }
    }
    &.has_slider {
        overflow: hidden;
        background: #000;
        .hero_wrap {
            margin: 100px 0;
            .hero_title {
                font-size: 9rem;
                @include tablet_vert_screen{
                    @include fluid-type($font_size_h1_mobile, $font_size_h1);

                }
            }
        }
        .slider_wrap {
            margin-left: 8rem;
            position: relative;
            @include tablet_vert_screen{
              margin-left: 0rem;

            }
            @include after {
                height: 100%;
                width: 1rem;
                background: $color_gradient;
                top: 0em;
                left: 0;
            }
            .overlay {
                position: relative;
                @include overlay {
                    z-index: 1;
                }
            }
            .img_logo {
                margin-bottom: 30px;
                max-height: 1.5rem;
                float: left;
                width: fit-content;
            }
            .slide_inner {
                padding: 0 100px;
                padding-right: 40%;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 9;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            .slider_img {
                height: 560px;
                width: 100%;
                object-fit: cover;
                z-index: -1;
            }
            .slide_title {
                margin-bottom: 30px;
            }
        }
        .hero_text {
            transform: rotate(-30deg) translateY(-50%);
            position: absolute;
            top: -20%;
            left: -12%;
            font-size: 600px;
            letter-spacing: -3px;
            font-weight: 900;
            color: #1f1c279c;
            line-height: 100%;
            @include tablet_vert_screen{
                font-size: 134px;
                top: 9%;
                left: 19%;
              }
        }
        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background: #ffffff !important;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background: $color_gradient !important ;
        }
    }
}
.hero_page {
    position: relative;
    .hero_wrap {
        margin: 100px 0;
    }
    &.has_style1 {
        .hero_title {
            text-align: center;
        }
        .hero_description {
            text-align: center;
            max-width: 50rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &.has_bg {
        background: $color_dark;
        overflow: hidden;
        margin-bottom: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        @include overlay {
        }

        .hero_title {
            text-align: center;
            color: white !important;
        }
        .hero_description {
            text-align: center;
            max-width: 50rem;
            margin-left: auto;
            margin-right: auto;
            color: white;
        }
    }
    .hero_wrap {
        .outline_text {
            position: absolute;
            bottom: 30px;
            right: 30px;
            font-size: 10rem;
            color: #ffffff;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #ffffff;
            line-height: 0;
            text-align: right;
            @include tablet_vert_screen{
                display: none;
            }
        }
    }

    &.has_style2 {
        background: $color_dark;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        @include overlay {
        }
        .hero_wrap{
            padding: 100px 0;
            margin: 0;
        }

        .hero_title {
            text-align: center;
            color: white !important;
        }
        .hero_description {
            text-align: center;
            max-width: 50rem;
            margin-left: auto;
            margin-right: auto;
            color: white;
        }
    }
}
