/* ====================================================
- - - - - - - - - 0/ Generale
=====================================================*/

input[type="submit"],
button,
.btn,
a.btn input.btn,
a.button,
span.button,
div.button{
  background-color: $color_dark;
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  padding: 14px 18px;
  min-height: 20px;
  line-height: 20px;
  @include border_radius();
  font-family: $font_titles;
  @include animate();
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden;
  will-change: transform, box-shadow;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1), 0 -100px 0 rgba(0,0,0,0) inset;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
    background: linear-gradient(to bottom, #fff 0%, #000 100%);
    z-index: 1;
    opacity: 0.05;
}
  &:not(.btn-outline):not(.btn-flat):not(.btn-link) {
    .text {
      color: #fff;
    }
  }

  &:before {
    display: none;
  }

  ion-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    font-size: 20px;
    position: relative;
    stroke: 2px;
    min-width: 20px;
    height: 20px;
    &-left {
      margin-right: 5px;
    }

    &-right {
      margin-left: 5px;
    }
  }

  &:not(.text-hover) {
    &:hover {
      .icon {
        &.icon-right {
          &:before,
          svg {
            animation: hoverBtn ease-out 0.3s;
          }
        }

        &.icon-left {
          &:before,
          svg {
            animation: hoverBtn ease-out 0.3s reverse;
          }
        }

        &:before {
          color: inherit;
        }
      }
    }

    @keyframes hoverBtn {
      0% {
        transform: translateX(0px);
      }

      51% {
        transform: translateX(20px);
        opacity: 1;
      }

      52% {
        opacity: 0;
        transform: translateX(-20px);
      }

      53% {
        opacity: 0;
      }

      54% {
        opacity: 1;
      }

      100% {
        transform: translateX(0px);
      }
    }
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color_brand;
    border-color: $color_brand;
    opacity: 0.9;
    outline: none;
    box-shadow: inherit;
    opacity: .9;
  }

  &.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: $color_dark;

    &:hover {
      background-color: white;
      color: #fff;
    }
  }

  &.text-hover {
    overflow: hidden;
    position: relative;

    .icon,
    .text {
      @include animate();
    }

    .icon {
      max-width: 100%;
      text-align: center;
      height: 26px;
      position: absolute;
      top: calc(50% - 10px);
      font-size: 20px;
      left: 50%;
      top: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
    }

    .text {
      display: inline-block;
      transform: translateY(-120%);
      opacity: 0;
    }

    &:hover {
      .icon {
        transform: translate(-50%, 120%);
        opacity: 0;
      }

      .text {
        transform: none;
        opacity: 1;
      }
    }
  }
}

p a.btn {
  &:hover {
    text-decoration: none;
  }
}


button[disabled],
input[type="submit"][disabled] {
  &.btn-white {
    &:hover {
      background-color: #fff;
      color: $color_dark;
    }
  }

  &.btn-primary {
    &:hover {
      background-color: $color_brand;
      color: #fff;
    }
  }
}
/*--------------------------------------------------------------
### Buttons: outline
--------------------------------------------------------------*/

.btn-outline,
input[type="submit"].btn-outline,
a.btn-outline,
.is-style-outline .wp-block-button__link {
	background-color: transparent;
	color: currentColor;

	&:after, &:before {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: $color_brand;
		color: #fff;
	}

	&.btn-white {
		background-color: transparent;
		border-color: #fff;
		color: #fff;

		&:hover {
			background-color: #fff;
			color: $color_dark;
		}
	}

	&.disabled:hover {
		background-color: transparent;
		color: $color_dark;
		border-color: $color_dark;
		cursor: default;
	}
}

/*--------------------------------------------------------------
### Buttons: loading spinner
--------------------------------------------------------------*/

.btn-loading {
	box-shadow: none;
    
    
	&:before {
		content: "";
		position: relative;
		display: inline-block !important;
		vertical-align: middle;
		width: 18px;
		height: 18px;
		bottom: auto;
		left: auto;
		opacity: 1;
		@include border_radius(50%);
		border: 2px solid transparent;
		border-top: 2px solid rgba(#fff, .7);
		border-right: 2px solid rgba(#fff, .7);
		background: transparent;
        animation: 0.8s rotate cubic-bezier(0.99, 0.71, 0.22, 0.68) infinite;	}
	
	&.btn-outline,
	&.btn {
		&:before {
			margin-right: 8px;
		}
	}
}

.btn-loading {
	&:before {
		vertical-align: top;
		margin-top: 1px;
	}

	.ion-left {
		display: none;
	}

	&:hover {
		transition: none;
		
		&:before {
			background: transparent;
			width: 18px;
			transition: none;
		}
	}
}


@keyframes rotate{
	0% {
		transform: rotate(0deg);
    }
    50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0);
	}
}

/* =====================================================
- - - - - - - - - 1/ Button sizes
======================================================*/
.btn-sm {
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.btn-lg {
  padding: 0.7rem 2rem;
  font-size: 17px;
  line-height: 1.7;
}

/* ==================================================+===
- - - - - - - - - 2/ Button variations
=======================================================*/
.btn-primary {
  background: $color_brand;
  color: $white;
  border: 2px solid transparent;
  transition: 0.4s ease-in-out;

  &.btn-sh {
    box-shadow: 0 14px 35px -11px $color_brand;
  }

  &.btn-outline {
    border: solid 2px $color_brand;
    background: transparent !important;
    color: $color_brand;
  }

  &.btn-outline-bottom {
    border-bottom: solid 3px $color_brand;
    background: transparent !important;
    color: $color_brand !important;
  }

  &.btn-hover-line {
    &:hover {
      background: transparent;
      border: solid 2px $color_brand;
      color: $color_brand;
    }
  }

  &:hover {
    outline: none;
    background: darken($color_brand, 2%) !important;
    border: solid 2px $color_brand;
  }
}
.btn-secondary {
  background: $color_brand_second;
  color: $white;
  border: solid 2px $color_brand_second;
  transition: 0.4s ease-in-out;

  &:hover {
    background: darken($color_brand_second, 10%) !important ;
    border: solid 2px darken($color_brand_second, 10%) !important;
    color: $white;
  }

  &.btn-sh {
    box-shadow: 0 14px 35px -11px $color_brand_second;
  }

  &.btn-outline {
    border: solid 2px $color_brand_second;
    background: transparent !important;
    color: $color_brand_second;
  }

  &.btn-outline-bottom {
    border-bottom: solid 3px $color_brand_second;
    background: transparent !important;
    color: $color_brand !important;
  }

  &.btn-hover-line {
    &:hover {
      background: transparent;
      border: solid 2px $color_brand_second;
      color: $color_brand_second;
    }
  }
}

.btn-white {
  background: #949ba9;
  color: $white;
  border: solid 1px #f3f3f3 !important;


  &.btn-outline {
    color: white;
    border: solid 2px white;
  }
  &:hover {
    opacity: 0.8;
    color: $color_brand !important;
    box-shadow: 0 9px 6px rgba(0, 0, 0, 0.1), 0 -50px 0 rgba(0,0,0,0) inset;

  }
}

.btn-red {
  background: $red;
  color: $white;
  border: solid 1px $red;
}

.btn-green {
  background: $green;
  color: $white;
  border: solid 1px $green;
}

.btn-dark {
  background: $color_dark;
  color: $white;
  border: solid 1px $color_dark;

  &:hover {
    color: $color_brand;
    background: $color_dark;
    border: solid 1px $color_dark;
  }

  &.btn-sh {
    box-shadow: 0 14px 35px -11px $color_dark;
  }

  &.btn-outline {
    border: solid 2px $color_dark;
    background: transparent !important;
    color: $color_dark;
  }

  &.btn-outline-bottom {
    border-bottom: solid 3px $color_dark;
    background: transparent !important;
    color: $color_dark;
  }
}

/* ==================================================+===
- - - - - - - - - 3 / outher button
=======================================================*/
button.close{
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    height: 20px;
    width: 40px;
    background-image: url(../images/others/deco_plus.svg);
    background-size: contain;
    opacity: 0.5;
    background-repeat: no-repeat;
}
&:hover{
  color: white ;
  outline: none;
  box-shadow: none;
  border: none;

}
}
