.card {
    border-radius: 5px;
    box-shadow: 0 0 0 0 #f3f3f3;

    .card-title2 {
        color: $white;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 14px;
    }

    .card-title {
        position: relative;
        z-index: 2;
        font-size: 1.3rem;
        align-items: center;
        display: flex;
        flex-grow: 1;
        padding: 1rem 0;
        transition: .15s ease-in-out;
        line-height: 1.5;
    }

    .card-content {
        padding: 2rem;
    }

    &.in-demo {
        .card-title2 {
            color: $white;
            padding-left: 20px;
            padding-bottom: 0;
            padding-top: 14px;
        }

        background: rgba(255, 255, 255, 0.157);
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 2rem;
        box-shadow: none !important;
        border: none !important;
        outline: none !important;

        figure {
            margin: 0 0 0;
        }


        .card-image {
            width: 100%;
            background: #494949;

        }

        .card-title2 {
            font-size: 1.2rem;
            letter-spacing: .8pt;
            text-transform: uppercase;
        }

        .feather {
            width: 50px;
            height: 50px;
            stroke: currentColor;
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
            color: #fff
        }
        ion-icon {
            width: 50px;
            height: 50px;
           
            color: #fff
        }

        .card-description {
            padding-left: 20px;
            font-size: 14px;
        }

        .card-title {
            position: relative;
            z-index: 2;
            font-size: 1.3rem;
            align-items: center;
            display: flex;
            flex-grow: 1;
            padding: 1rem;
            transition: .15s ease-in-out;
            font-size: 1.2rem;
            color: #f3f3f3;
            margin-bottom: 0;

            &.new {
                &::before {
                    content: "New";
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    right: 15px;
                    bottom: 15px;
                    font-size: 16px;
                    background: #FF0066;
                    padding: 4px 8px 4px;
                    line-height: 100%;
                    border-radius: 4px;
                    font-family: "TradeGothic"
                }
            }
        }

        &:hover {
            transform: translateY(-.5rem);

            .card-title {
                color: $color_brand;

                &::before {
                    background: #1f1f1f;
                    color: #ffffff;
                }
            }
        }

        &.soon {
            cursor: default;

            &:hover {
                transform: none;

                .card-title {
                    color: #ffffff;

                    &::before {
                        background: $color_brand;
                        color: #ffffff;
                    }
                }
            }
        }

        &.new {
            cursor: pointer;

            &:hover {
                transform: none;

                .card-title {
                    &::before {
                        background: $color_brand;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    &.is-dark {
        background: $card-dark;
        color: $white;

        .title {
            color: $white;
            margin-bottom: 2.5rem;
        }

        .subtitle {
            color: $white;
        }
    }

    &.in-feautures {
        padding: 2rem;
        box-shadow: 0 10px 14px 0 #e8e8f6;
        transition: .15s ease-in-out;

        .icon {
            width: 4rem;
            height: 4rem;
            background: $color_brand;
            border-radius: 100%;
            color: $white;
        }

        .card-title {
            font-size: 1.3rem;
        }

        .card-description {
            margin-bottom: 0;
        }

        &:hover {
            box-shadow: 0 14px 20px 0 #e2e2f6;
            transform: translateY(-5px)
        }
    }

    &.in-feautures2 {
        padding: 2rem;
        transition: .15s ease-in-out;
        background: transparent;
        display: flex;
        justify-content: center;
        flex-direction: column;

        background: $bg-grey;

        .icon {
            width: 100%;
            margin-bottom: 2rem;
            transition: 0.2s cubic-bezier(0.39, 0.68, 0.27, 1.78);
            height: auto;
            margin-bottom: 1rem;


            img {
                height: 5rem;
                width: 5rem;
                margin: 0 auto;

            }
        }

        .title {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            text-align: center;

        }

        .description {
            text-align: center;
        }

        &:hover {
            .icon {
                transform: scale(1.1) translateY(-5px)
            }
        }

    }

    &.in-download {
        max-width: 55rem;
        margin-left: auto;
        margin-right: auto;
        padding: 4rem;
    }

    &.in-help {
        box-shadow: 0 15px 29px -4px #3f49621f;
        background-color: #FFFFFF;
        border: none;
        border-radius: 10px;

        .card-img {
            padding: 2rem;
            max-width: 8rem;
            padding-right: 0;

            @include md {
                padding: 2rem 2rem 0;

            }
        }

        .card-title {
            padding: 0;
        }
    }

    &-free {
        padding: 3rem;
        border-radius: 10px;
        color: $white;
        background: $card-dark
    }
}

.card-faq {
    padding: 40px 30px;
    background: #00000003;


    .title {
        margin-bottom: 20px;
    }
} 
.job-card{
        background: white;
        padding: 40px 20px;
        border-radius: 5px;
        box-shadow: 0 15px 25px 0 rgb(216, 239, 236);
        margin-bottom: 40px;
        &.is-empty{
            background: transparent ;
            box-shadow: none;
            border: solid 2px rgba($color_brand, .4)  ;
            border-style: dashed;
            .card-title{
                font-size: 50px;
                margin-bottom: 20px;
                line-height: 100%;
            }
            .card-desc{
                margin-bottom: 20px;
            }
            
        }

        .head{
            padding: 5px 20px ;
            color: $color_brand;
            background: rgba($color_brand, .2) ;
            border-radius: 1rem;
            margin-bottom: 20px;
            width: fit-content;


        }
        .card-title{
margin-bottom: 20px;
line-height: 1.4;
        }
        .card-info{
            margin-bottom: 20px;
            color: rgb(137, 146, 158);
        }
        .location{
            margin-right: 20px;
        }
        .time-left{
            color: rgb(137, 146, 158);
            padding-left: 10px; 
            margin-left: 10px;
            border-left: solid 1px rgb(137, 146, 158);

        }
        .company{
            display: flex;
            align-items: center;
            .logo{
                margin-right: 15px;
                border-radius: 5px;
                background: rgba($color_brand, .2) ;
                padding: 5px;
                img{
                    height: 100%;
                    max-height: 1.5rem;
                }
            }
        }
}