.bg_grad{
    background:radial-gradient(circle at 50% 0, #5731ab9c, #20113A), url(../images/bg/event.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.dots{
    background-image: url(../../images/others/team_dots.svg);
    background-position: 50%;
    margin-top: 3.75rem;
    height: 21.25rem;
}


.img_effect_before{
    @include before{
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        bottom: auto;
        top: 27px;
        left: 70%;
        background-color: transparent;
        background-image: url(../images/others/img_effect.png);
        background-size: contain;
    }
    &.in_left{
        @include before{
            left: auto;
            right: 35%;
        }
    }
}
.img_effect{
    box-shadow: $shadow_1;
    border-radius: $border_radius;
    width: 100%;
    position: relative;
    @include before{
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        bottom: auto;
        top: -25px;
        left: -2.5rem;
        background-color: transparent;
        background-image: url(../images/others/img_effect.png);
        background-size: contain;
    }
}
.side-options{
    width: 5rem;
    position: fixed ;
    top: 50%;
    transform: translateY(-50%);
    border-radius: $border_radius;
    right: 15px;
    background: $color_dark ;
    z-index: 99;
    padding: 15px;
    .item{
        background: $color_dark_lighten;
        padding:  15px ;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border_radius;
        transition: .3s $transition_function;
        margin-bottom: 5px;
        position: relative;
        cursor: pointer;
        z-index: 0;
        .link_item{
            position: absolute ;
            top: 0;
            width: max-content;
            right: 3.2rem;
            border-radius: $border_radius 0 0 $border_radius;
            top: 50%;
            transform: translate(5rem,-50%);
            padding: 15px;
            background-color: $white;
            box-shadow: 20px 1px 20px 2px rgba(0, 0, 0, 0.09);
            z-index: -1;
            opacity: 0;
            transition: .3s $transition_function ; 
            a{
                color: $color_dark;
                &:hover{
                    color: $color_brand;
                }
            }

        }
        &.is_active{
            background: $color_gradient ;
            svg{
                fill: $white !important;
            }
        }
        svg{

            fill: $color_light;
            transition: .3s $transition_function;
        }
        &:hover{
            background: $gradient_circle;
            svg{
                fill: white !important;
            }
            .link_item{
                transform: translate(0,-50%);
                opacity: 1;
            }
        }
    }
    &.in_left{
        left: 15px;
        .item{
            
            .link_item{
                left: 4rem;
                transform: translate(5rem,-50%);
                padding: 15px;
                background-color: $white;
                box-shadow: -20px 1px 20px 2px rgba(0, 0, 0, 0.09);

    
            }
            &.is_active{
                background: radial-gradient(circle at 50% 0, #94d75d, #54842f);
                svg{
                    fill: $white !important;
                }
            }
            svg{
    
                fill: $color_dark;
                transition: .3s $transition_function;
            }
            &:hover{
                background: $gradient_circle;
                svg{
                    fill: white !important;
                }
                .link_item{
                    transform: translate(0,-50%);
                    opacity: 1;
                }
            }
        }
    }
    @include tablet_vert_screen{
        display: none;
    }
}

.bg-effect {
    &::before {
      content: "";
      background-repeat: no-repeat;
      height: 5.5rem;
      width: 100%;
      position: absolute;
      bottom: auto;
      top: -25px;
      left: -2.5rem;
      background-color: transparent;
      background-image: url(../images/others/title_effect.png);
      background-size: contain;
      z-index: -1;
      opacity: .5;
    }
  }
.circle_effect{
    &::before {
        content: "";
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: auto;
        top: 0;
        left: 0;
        background-color: transparent;
        background-image: url(../../assets/images/others/circle_decoration.png);
        background-size: cover;
        background-position:  center;
        z-index: -1;
      }
}
.circle_effect2{
    &::before {
        content: "";
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: auto;
        top: -2rem;
        left: 2rem;
        background-color: transparent;
        background-image: url(../../assets/images/others/circle_decoration.png);
        background-size: contain;
        background-position: left center;
        z-index: -1;
        transform: scale(3);
      }
}
.half_light{
    @include before{
        bottom: 0;
        background: $color_light;
        height: 50%;
        width: 100%;
        z-index: -1;
    }

}
.half_dark{
    @include before{
        bottom: 0;
        background: $color_dark;
        height: 50%;
        width: 100%;
        z-index: -1;
        @include tablet_vert_screen{
            height: 30%;

        }
    }

}
.img-top{
    border-radius: $border_radius;
    margin-bottom: 30px;
    box-shadow: $shadow_2;
    position: relative;

}
.play_btn{

    @include absolute{
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;

    }
}
// ================================================= top line
.top_line{
    height:10px;
    width: 100%;
    background: $gradient_circle ;
}

// ================================================= devider
.devider {
    position: absolute;
    background-image: url(../images/others/devider.svg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    bottom: -2px;
    left: 0;
    right: 0;
}
.devider_grey {
    position: absolute;
    background-image: url(../images/others/devider_grey.svg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    bottom: -2px;
    left: 0;
    right: 0;
}
// ================================================= devider
.devider_white {
    position: absolute;
    background-image: url(../images/others/devider.svg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    bottom: -2px;
    left: 0;
    right: 0;
}
.devider_dark_top {
    background: url(../images/others/devider_light.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 6rem;
    background-position: top;
}
.devider_light_top {
    background: url(../images/others/devider_light.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 6rem;
    background-position: top;
}

    .divider_light_bottom {
        background: url(../images/others/devider_light.svg);
        background-repeat: no-repeat;
      width: 100%;
      height: 6rem;
      background-position: bottom;
      }
// ================================================= title_line
.title_line {
    position: relative;
    display: inline;
    &::before {
        content: "";
        background-repeat: no-repeat;
        height: 32px;
        width: 100%;
        position: absolute;
        bottom: -13px;
        top: auto;
        right: -2px;
        background-color: transparent;
        background-image: url(../images/others/draw.svg);
        background-size: contain;
        left: auto;
    }
}

// ================================================= title_line
.avatar {
    &.avatar-sm {
        width: 3rem;
        height: 3rem;
    }
    &.avatar-md {
        width: 5rem;
        height: 5rem;
    }
    &.avatar-lg {
        width: 6rem;
        height: 6rem;
    }
}
.avatar-group {
    display: flex;
    margin-left: 25px;

    .avatar-item {
        width: 3rem;
        height: 3rem;
        margin-left: -25px;
        border: solid 6px white;
    }
}

// =================================================  title_line
.accordion {
    background-color: $color_light;
    border-radius: $border_radius;
    border: none;
    border-radius: $border_radius !important;
    outline: none !important;
    overflow: hidden;
    .accordion-desc {
        border: none;
        padding: $spacer_25 0 0 $spacer_25;
    }
    .accordion-header {
        padding: $spacer_25;
        margin-bottom: 0;
        border: none;
    }

    ion-icon {
        color: $color_dark;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        padding: 4px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0px;
            height: 20px;
            width: 40px;
            background-image: url(../images/others/deco_plus.svg);
            background-size: contain;
            opacity: 0.5;
            background-repeat: no-repeat;
        }
    }

    &.has_style1 {
        box-shadow: $shadow_3;
        background: white;
        border: solid 1px #f6f7fa;
    }
}
// ================================================= Breadcrumbs
.breadcrumb {
    background-color: transparent;
    border-radius: 0.25rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    a {
        color: $color_dark;
    }
    &.has_style1 {
        border-radius: $border_radius;
        background: $color_gradient !important ;
        a {
            color: rgba(255, 255, 255, 0.459);
        }
        .active {
            color: rgb(255, 255, 255) !important;
        }
        .breadcrumb-item {
            position: relative;
            &::before {
                display: inline-block;
                padding-right: 0;
                color: #6c757d;
                content: "";
                margin-right: 7px;
                left: 0;
                top: 0%;
                width: 9px;
                height: 10px;
                background: url(../images/icons/left_white.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
            }
        }
    }
    &.has_stylel2 {
        border-radius: $border_radius;
        background: transparent !important ;
        a {
            color: rgba(255, 255, 255, 0.459);
        }
        .active {
            color: rgb(255, 255, 255) !important;
        }
        .breadcrumb-item {
            position: relative;
            &::before {
                display: inline-block;
                padding-right: 0;
                color: #6c757d;
                content: "";
                margin-right: 7px;
                left: 0;
                top: 0%;
                width: 9px;
                height: 10px;
                background: url(../images/icons/left_white.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
            }
        }
        &::before {
            content: none;
        }
    }

    .breadcrumb-item {
        position: relative;
        &::before {
            display: inline-block;
            padding-right: 0;
            color: #6c757d;
            content: "";
            margin-right: 5px;
            left: 0;
            top: 0%;
            width: 12px;
            height: 20px;
            background: url(../images/icons/left.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }
        &:first-child {
            &::before {
                content: none;
            }
        }
    }
}
// ================================================= Alerts
.alert{
    border: none !important;
}
.alert-primary {
    color:#5a52ff ;
    background-color: #5b52ff25;
}

.alert-gradient {
    color:white ;
    background: $color_gradient ;
}


.alert-success {
    color: #3DCABD;
    background-color: rgba(61, 202, 188, 0.158);
}

.alert-info {
    color:#5a52ff ;
    background-color: #5b52ff25;
}

.alert-warning {
    color: #F6BF70;
    background-color: rgba(246, 190, 112, 0.151);
}

.alert-danger {
    color: #F8655A;
    background-color: rgba(248, 101, 90, 0.158);
}

.alert-light {
    color: $color_dark;
    background-color: #ffffff;
    box-shadow: $shadow_1;
}
.alert-dark {
    color: white;
    background-color: $color_dark;
}
// ================================================= Paginations
.page-link {
    position: relative;
    display: block;
    margin-left: -1px;
    line-height: 100%;
    color: $color_dark;
    background-color: black;
    padding: 0.5rem 0.75rem;
    border-width: 1px;
    border: none;border-radius: 60px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.is-active{
        background: $color_gradient  ;
        color: white ;
        box-shadow: $shadow_1;
        transition: .25s $transition_function ;
        &:hover{
            background: $color_dark  ;
            color: white ;
                }
    }
    &:hover{
    background: darken($color_light, 3%) ;    
    transform: scale(1.09);
    color: $color_dark;    
        }

}
.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-radius: 60px;
}


.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 60px;
    
}
// ================================================= pagination

.pagination{
    &.has_style1{
        .page-link{
            background: black;
            &:hover{
                color: $color_brand ;
                    }
            &.is-active{
                background: $color_gradient;
                color: $color_dark ;
                transition: .25s $transition_function ;
                &:hover{
                    background: white;
                color: $color_dark ;
                        }
            }
        }
    }
}

// ================================================= Tabs
.nav-tabs {
   margin-bottom: 30px;
   border-bottom: none;
}
.nav-link {
    color: $color-dark;
    &:hover{
        border: none;


    }
}
.nav-link.active {
    border: none;
    border-bottom: solid 3px $color_brand;
    border-radius: $border_radius $border_radius 0 0 ;
    background: transparent ;
    color: $color_brand ;
}

// ================================================= table

.table-flush tbody td:first-child,.table-flush tbody th:first-child,.table-flush tfoot td:first-child,.table-flush thead th:first-child {
    padding-left: 0
}

.table-flush tbody td:last-child,.table-flush tbody th:last-child,.table-flush tfoot td:last-child,.table-flush thead th:last-child {
    padding-right: 0
}
.table td, .table th {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #e5ebf1;
}
.table-white{
    background-color: white;
    padding: 0 30px 30px;border-radius: $border_radius;


}

.table th {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 400
}

.table thead th {
    border-bottom: 0;
    text-transform: uppercase;
    font-size: .875rem;
    color: #8d9aae
}

.table tfoot td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.table-clickable [data-href]:hover {
    cursor: pointer
}

.table-clickable [data-href]:hover .table-clickable-hover {
    color: #5546e8
}

@media (max-width: 767.98px) {
    .table-features.table-features-alt td:nth-child(2),.table-features.table-features-alt th:nth-child(2) {
        display:none
    }

    .table-features:not(.table-features-alt) td:nth-child(3),.table-features:not(.table-features-alt) th:nth-child(3) {
        display: none
    }
}

// ========================== list checked
.list_checked{

    li{
        padding-left: 30px ;
        margin-top: 20px;

        @include before{
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../images/others/check.svg);
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            background-size: contain;
        }
    }
}


// ============================= timeline

.timeline {
    padding-left: 0;
    list-style-type: none
}

.timeline-item {
    position: relative;
    display: block;
    text-align: center;
    counter-increment: timeline-counter;
    h4{
        margin-bottom: 1.5rem;
    }
}

.timeline-item+.timeline-item {
    margin-top: 2rem
}

.timeline-item::before {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin: 0 auto 1rem;
    font-size: 2rem;
    border-radius: 50%;
    content: counter(timeline-counter)
    ;
    padding-top: 5px;

}

.timeline-item::after {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    display: none;
    border-top: 2px solid;
    content: ''
}

.timeline-item:first-child::after {
    left: 50%;
    width: 50%
}

.timeline-item:last-child::after {
    width: 50%
}

.timeline-primary .timeline-item::before {
    background: $gradient_circle ;
    color: #fff
}

.timeline-primary .timeline-item.active::before {
    background-color: rgba(52, 30, 99, 0.15)
}

.timeline-primary .timeline-item::after {
    border-color: #bcb6f6
}

.timeline-primary .timeline-item.active::after {
    border-color: rgba(52, 30, 99, 0.15)
}

.timeline-secondary .timeline-item::before {
    background-color: #b5b6c5;
    color: #fff
}


.timeline-expand-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.timeline-expand-xs .timeline-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.timeline-expand-xs .timeline-item::after {
    display: block
}

.timeline-expand-xs .timeline-item+.timeline-item {
    margin-top: 0
}

@media (min-width: 576px) {
    .timeline-expand-sm {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .timeline-expand-sm .timeline-item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .timeline-expand-sm .timeline-item::after {
        display: block
    }

    .timeline-expand-sm .timeline-item+.timeline-item {
        margin-top: 0
    }
}

@media (min-width: 768px) {
    .timeline-expand-md {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .timeline-expand-md .timeline-item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .timeline-expand-md .timeline-item::after {
        display: block
    }

    .timeline-expand-md .timeline-item+.timeline-item {
        margin-top: 0
    }
}

@media (min-width: 992px) {
    .timeline-expand-lg {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .timeline-expand-lg .timeline-item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .timeline-expand-lg .timeline-item::after {
        display: block
    }

    .timeline-expand-lg .timeline-item+.timeline-item {
        margin-top: 0
    }
}

@media (min-width: 1200px) {
    .timeline-expand-xl {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .timeline-expand-xl .timeline-item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .timeline-expand-xl .timeline-item::after {
        display: block
    }

    .timeline-expand-xl .timeline-item+.timeline-item {
        margin-top: 0
    }
}

// ================================ company items
.company-item {
    display: flex;
    
    @include lg {
      display: flex;
      justify-content: center;
    }
    img {
      max-width: 7rem;
      margin-bottom: 30px;
      transition: 0.25s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
    .upper-logo {
      max-width: 4rem;
    }
  }