

// Brand colors

$color_brand: #5A52FF;
$color_brand_second: #20113A;
$color_dark: #1F1C27;
$color_dark_lighten: #1A191D;
$color_text: #232226;
$color_neutral: #888;
$color_light: #F3F2FC;
$color_light_rgba: rgba(#fff, .35);
$color_green: #49d890;
$color_fill_light: rgba($color_text, .03);
$color_fill_input: rgba($color_dark, .08);
$color_border: #e5e5e5;
$color_border_dark: rgba($color_dark, .35);
$color_error: #DE4B53;
$color_success: #3DCABD;
$color_gradient: linear-gradient(135deg, #2fc4d1 0%, #4f54f1 50%, #c86dd7 100%);
$color_brand:#5A52FF;
$white:#fff;
$red:#ff5f7c;
$green:#54eb9f;
$btn_search:linear-gradient(-180deg,#3db96d 0%,#1b904e 100%);




$gradient_circle: linear-gradient(135deg, #2fc4d1 0%, #4f54f1 28%, #c86dd7 100%);;
$grad1: linear-gradient(45deg, #5731AB  0%, #321C64 100%);
$grad2: linear-gradient(0deg, #F3F2FC  0%, #F3F2FC 50%, #fff 50%, #fff 100%);
$grad3: linear-gradient(0deg, #20113A  0%, #20113A 40%, #fff 40%, #fff 100%);


/*  1. Template Colors
========================================================================== */
$bg-grey:rgb(233, 233, 233);
$section-dark:#161616;
$card-dark:#34373B;
$section-grey:#efefef;
$hero-white:#F9FAFF;
$plan:#EFEFFF;
