$navbar-height:6rem;
// ------ Global variable fonts
$font-primary:"SpaceGrotesk_Bold";
$font-secondary:"SpaceGrotesk";



// Animation & transitions
$transition_function: cubic-bezier(0.4, 0, 0.2, 1);

// Typography - font families

$font_main:"SpaceGrotesk", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font_code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font_pre: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font_titles: "SpaceGrotesk_Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Typography - font sizes

$font_size_regular: 16px;
$font_size_small: .94rem;

$font_size_large: 17px;
$font_size_large_mobile: 16.6px;

$font_size_h1: 72px;
$font_size_h1_mobile: 46px;

$font_size_h2: 54px;
$font_size_h2_mobile: 40px;

$font_size_h3: 40px;
$font_size_h3_mobile: 36px;

$font_size_h4: 26px;
$font_size_h4_mobile: 24px;

$font_size_h5: 20px;
$font_size_h5_mobile: 19px;


$font_lh: 1.65;

// Grid spacer

$grid_spacer: 20px;

// Spacers

$container: 1300px;
$size_offset-fullwidth-container: 5%;

$size_page-offset-top: 80px;
$size_page-offset-bottom: 90px;

$size_page-offset-top-md: 30px;
$size_page-offset-bottom-md: 30px;


$spacer_100:100px;
$spacer_90: 90px;
$spacer_80: 80px;
$spacer_70: 70px;
$spacer_60: 60px;
$spacer_55: 55px;
$spacer_50: 50px;
$spacer_45: 45px;
$spacer_40: 40px;
$spacer_35: 35px;
$spacer_30: 30px;
$spacer_25: 25px;
$spacer_20: 20px;
$spacer_15:15px;

$spacer_10:10px;


$spacer_5:5px;



$border_radius:5px;



$shadow_1: 0 21px 51px rgba(29, 14, 98, 0.15);
$shadow_2: 0 21px 23px -5px rgba(82, 48, 162, 0.12);

$shadow_3:0 0 36px rgba(29, 14, 98, 0.05);


