
/*--------------------------------------------------------------
## box styles
--------------------------------------------------------------*/
.box {
    padding: 40px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: default;
    .box-title {
        text-transform: capitalize;;
    }
    &.has-style1 {
        background: $color_light;
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        .box-icon {
            margin-bottom: 14px;
            text-align: center;
        }
        .box-title {
            margin-bottom: 14px;
            text-align: center;
        }
        .box-desc {
            text-align: center;
        }
    }
    &.has-style2 {
        background: $white;
        box-shadow: $shadow_1;
        transition: 0.25s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px #e3e7ef;

        .box-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: $spacer_20;
            text-align: center;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background: $color_dark;
            z-index: 0;
            @include before {
                top: -8px;
                right: -25px;
                height: 7.5rem;
                width: 7.5rem;
                background-image: url(../images/others/icon_decoration.png);
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
            }
            img {
                max-height: 3rem;
            }
            ion-icon {
                color: white;
                font-size: 35px !important;
            }
        }
        .box-title {
            margin-bottom: $spacer_20;
            text-align: center;
        }
        .box-desc {
            color: #232323;
            text-align: center;
            margin: 0;
        }
    }
    &.is-dark {
        background: $color_dark;
        transition: 0.25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: $spacer_20;
            text-align: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background: white;
            @include before {
                top: -8px;
                right: -25px;
                height: 7.5rem;
                width: 7.5rem;
                background-image: url(../images/others/icon_decoration.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            img {
                max-height: 5rem;
            }
            ion-icon {
                color: $color_dark !important;
                font-size: 35px;
            }
        }
        .box-title {
            margin-bottom: $spacer_10;
            text-align: left;
            color: white;
        }
        .box-desc {
            color: white;
            text-align: left;
            margin: 0;
        }
    }
    &.has-left-icon {
        background: $white;
        box-shadow: $shadow_1;
        transition: 0.25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: $spacer_20;
            text-align: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background: $color_dark;
            @include before {
                top: -8px;
                right: -25px;
                height: 7.5rem;
                width: 7.5rem;
                background-image: url(../images/others/icon_decoration.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            img {
                max-height: 5rem;
            }
            ion-icon {
                color: white;
                font-size: 35px;
            }
        }
        .box-title {
            margin-bottom: $spacer_10;
            text-align: left;
        }
        .box-desc {
            text-align: left;
            margin: 0;
        }
    }
}
.card{
    &.style_1{
        .card-body{            
            box-shadow: $shadow_1;

        }
    }
}
// ============================= box_numbers
.box_numbers{
    padding: 10px;
    border-radius: $border_radius;
    max-width: 25rem;
    box-shadow: $shadow_1;
    overflow: hidden;
    @include before{
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        bottom: auto;
        top: 27px;
        left: 46%;
        background-color: transparent;
        background-image: url(../images/others/img_effect.png);
        background-size: contain;
        
    }
    @include tablet_vert_screen{
        margin-left: auto;
        margin-right: auto;
    }
    &_wrap{
        background: $gradient_circle;
        padding: 30px;
    }

    .item{
        margin-bottom: 20px;
        padding-bottom: 20px;

        border-bottom: solid 1px rgba(255, 255, 255, 0.199) ;
    }
    .number{        
        color: white;
    }
    .description{
        color: white;
        
    }

}