/*====================================
    ========= Lists
    =====================================*/
.list {
  margin-bottom: 1rem;
  box-shadow: none;
  background: none;
  border: none;

  .list-item {
    display: flex;

    .icon {
      color: $color_brand;
      margin-right: 1rem;
    }

    &.has-style1 {
      background: $bg-grey;
      border: none;
      box-shadow: none;
    }
  }
}
  .boxes_reset{
  .box{
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 0;
  }
    }
    .has_before{
      .box{
        @include before{
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          transition: .2s $transition_function ;
          transition-delay: .01s ;

        }
        &:hover{
          @include before{
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.74);
            top: 0;
            left: 0;
            z-index: -1;
          }
        }

      }
    }
.box {
  padding: 40px 30px;
  border-radius: 0px;
  margin-bottom: 30px;
  position: relative;
  cursor: default;
  position: relative;
  &.is_active{
    background: $color_gradient  !important;
    p{
      color: white;
    }
  }

  z-index: 0;
  .box-title {
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;
  }
  .box-desc {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }


  .bg{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-size: cover ;
    z-index: -3;
    opacity: 0;
    transition: .2s $transition_function ;
  }
  
  &:hover{
    .bg{
      opacity: 1;
      transform: scale(1.1);
    }

  }

  &.has_number {
    .number{
      font-size: 18px;
      margin-bottom: 15px;
      transition: .3s $transition_function;
    }
    .box-title {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      

    }
    &:hover{
      .number{
        transform: scale(1.1);
      }
    }

  }
  &.has_icon {
    padding: $spacer_40 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: transparent ;
    .icon{
      height: 4rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 20px;
      background: linear-gradient(135deg, #2fc4d1 0%, #4f54f1 50%, #c86dd7 100%);
      border-radius: 5px;
      [class^="ri-"], [class*=" ri-"] {
        font-size: 1.6rem;
        color: white;
    }
    }
    .box-title {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      

    }
    .box-details{
      text-align: center;
    }
    &:hover{
      .number{
        transform: scale(1.1) , translateX(-20px);
      }
    }

  }
  &.has_number_center {
    padding: 60px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: $color_dark ;
    .box-icon{
        height: 6rem;
        width: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;      
        position: relative;
        margin-bottom: 20px;
        background: $color_gradient ;
        border: solid 10px black;
        .number{
          line-height: 100%;
        }


  
  
    }
  }

  &.is_simple{
    background: transparent !important;
    padding:  0 !important ;

    &.has_icon{
      padding: $spacer_40 0 ;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      background: $color_dark ;
      .box-icon{
  
      }
    }
  
    .box-title {
      text-align: left;
  
      padding-left: 0;
      padding-right: 0;
    }
    .box-desc {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
    }

  }



  .link-icon {
    height: 2rem;
    width: 2rem;
    background: $color_brand;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    ion-icon {
      font-size: 1rem;
      color: white;
    }
  }

  .box-particles {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .box-particles2 {
    position: absolute;
    top: -1rem;
    right: -1rem;
    img{
      max-width: 6rem;
    }
  }


  .box-price {
    background: $color_brand;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-top: 40px;
    transition: .25s;
    cursor: pointer;
    .title{
      color: white;
    }
    ion-icon {
      font-size: 1.5rem;
    }
    &:hover {
      background: darken($color_brand, 5%);
  }
  }

  .box-logo {
    margin-bottom: 40px;
    img {
      height: 2rem;
    }
  }
  .row {
    padding: 0;
    margin: 0;
  }

  .col,
  .col-auto {
    padding: 0;
    margin: 0;
  }

  .col {
    margin-left: 10px;
  }

  .box-icon {
    margin-bottom: 15px;

    ion-icon {
      font-size: 3rem !important;
      line-height: 100%;

    }
  }
  .box-icon2 {
    margin-bottom: 15px;
    ion-icon {
      background: rgba($color_brand, 0.1);
      border-radius: 10px;
      font-size: 2rem;
    }
  }

  .box-title {
    margin-bottom: 15px;
  }

  .box-desc {
  }

  &.has-primary-bg {
    background: $color_brand;
    transition: 0.2s cubic-bezier(0.5, 0, 0.35, 1);

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 14px 33px -3px rgba(0, 0, 0, 0.098);
    }

    .box-icon {
      ion-icon {
        color: $white;
      }
    }

    .box-title {
      color: $white;
    }

    .box-desc {
      color: $white;
    }
  }





  &.has-blue-text {
    .box-title {
      color: #3639a3;
    }

    .box-desc {
      color: #3639a3;
    }

    svg {
      color: #3639a3;
    }

    ion-icon {
      color: #3639a3;
    }

    path {
      color: #3639a3;
    }
  }

  &.has-secondary-bg {
    background: $color_brand;
    transition: 0.2s cubic-bezier(0.5, 0, 0.35, 1);

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 14px 33px -3px rgba(0, 0, 0, 0.098);
    }

    .box-icon {
      ion-icon {
        color: $white;
      }
    }

    .box-title {
      color: $white;
    }

    .box-desc {
      color: $white;
    }
  }

  &.has-shadow {
    background: $white;
    box-shadow: 0 0 0 0 #eee;
    box-shadow: 0 14px 33px -3px rgba(0, 0, 0, 0.078);
    transition: 0.2s cubic-bezier(0.5, 0, 0.35, 1);
    border: solid 1px #c2e6e2d7;


    &:hover {
      transform: scale(1.02);
      box-shadow: 0 14px 33px -3px rgba(0, 0, 0, 0.098);
    }
  }
  &.is-dark{
    background: #002b44 !important;
    ion-icon{
      color: white;
    }
    .box-title{
      color: white;
    }
    .box-desc{
      color: white;
    }
  }

  &.has-left-icon {
    .box-title {
      margin: 5px 0 10px;
    }
  }
  &.has-style1 {
    background: rgba($color_brand, 0.1);
    transition: .25s ease-in-out;
    .box-icon {

      ion-icon {
        font-size: 1.5rem;
      }
    }
    &:hover {
        background: rgba($color_brand, 0.17);
 
    }
  }
  &.has-style2 {
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 7px #0000000a;
    transition: .2s ease-in-out;

    .box-icon {
      ion-icon {
        font-size: 1.5rem;
      }
    }
    &:hover {
      transform: scale(1.03);
  }
  }
  &.has-style3 {
    background: white;
    box-shadow: 0 60px 40px -30px rgba(37, 48, 51, 0.04), 0 10px 50px 0 rgba(37, 48, 51, 0.06);
    .box-icon {
      ion-icon {
        font-size: 1.5rem;
      }
    }
  }
}

.list-wrap{
  margin: 0 0 60px;
  .title{
    margin-bottom: 10px;
    position: relative;
    padding-left: 2rem;
    color: $color_brand;
    &::before{
      content: "";
      position:  absolute ;
      left: 0;
      top: 0;
      background-image: url(../images/others/tick-price.svg);
      background-repeat: no-repeat;
      background-size: contain;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .desc{
    max-width: 25rem;
    padding-left: 2rem;

  }
}



.progress-bar{
  background: $color_gradient !important ;

}
.progress {
  background-color: $color_dark;
  border-radius: 1rem;}




  // ================== vertical_social


.vertical_social{
  position: absolute;
  z-index: 1;
  left: -4rem;
  bottom: 50%;
  transform: rotate(90deg) translate(0%, 50%);
  &.is_right{
    left: auto;
    right: -4rem;
  }
  &.tablet_none{
    @include tablet_vert_screen{
      display: none;
    }
  }
  &::before{
    content: "";
    position: absolute;
    z-index: 1;
    left: -40px;
    bottom: 50%;
    height: 2px;
    width: 33px;
    background: $color_gradient ;
  }
  &::after{
    content: "";
    position: absolute;
    z-index: 1;
    right: -40px;
    bottom: 50%;
    height: 2px;
    width: 33px;
    background: $color_gradient ;
  }
  .hover{
    position: absolute ;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
  }
  strong{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 5px ;
    letter-spacing: .5px;
    position: relative;
    transition: .25s $transition_function ;
    &:hover{
      color: rgba(255, 255, 255, 0.699);
    }

  }
  @include sm_screen{
    display: none;
  }
}
// ========================= play_btn
.play_btn{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color_gradient ;
  transition: .25s $transition_function;
  ion-icon{
    font-size: 26px;
    color: white;
  }
  &:hover{
    opacity: .6;
  }
}
.lines_effect{
  overflow: hidden;
  img{
    position: absolute ;
    top: 40%;
    left: -30rem;
    width: 50rem;
    
  }
}
.card_grad{
  background: $color_gradient ;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 30px;
  p{
    color: white !important;
  }
}