
/*--------------------------------------------------------------
## Include Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: "SpaceGrotesk_Bold";
    src: url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}


@font-face {
    font-family: "SpaceGrotesk";
    src: url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
}
/*--------------------------------------------------------------
## Base
--------------------------------------------------------------*/
.pace-running > *:not(.pace) {
    opacity:0;
  }
html {
    scroll-behavior: smooth;
  }
  .animsition-loading {
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    border-top: 5px solid rgba(255, 255, 255, 0.2);
    border-right: 5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    border-left: 5px solid $color_brand;
            transform: translateZ(0);
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-name: animsition-loading;
            animation-name: animsition-loading;
            z-index: 99999999;
  }

body {
    font-family: $font-secondary, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    letter-spacing: .3px;
    background: #000;
    @include md {
        font-size: 16px;
    }
    &.black{
        background: #000;
    }
    &.dark_skin {
        background: black;
        color: #fff;
        dl,
        ol,
        ul,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;
        }
        p {
            color: #b6b6b6;
        }
    }
    .bg_dark{
        color: $color_dark !important;
        color: #fff;
        dl,
        ol,
        ul,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;
        }
        p {
            color: #b6b6b6;
        }
    }

}


    @media only screen and (min-width: 1510px){ 
        .container {
        max-width: 1280px;
    }
    }

.container {
    @include md {
        max-width: 800px !important;
    }
    @include xl {
        max-width: 1200px ;
    }
}



dl,
ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

section:focus {
    outline: none !important;
}

a {
    transition: .25s $transition_function;
    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}




.animsition-overlay-slide {
    background-color: black !important;

    z-index: 9999999;
  }


.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 3rem;
    color: #fff;
}

p {
    color: #b6b6b6;
}

a.text-primary:focus,
a.text-primary:hover {
    color: $color_brand !important;
    opacity: .8;
}

#overlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #4a4a4a;
}

.font2 {
    font-family: "TradeGothic";

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Overpass";

    }

    .navbar a {
        font-family: "Overpass";

    }

    a {
        font-family: "Overpass";

    }


}

[data-aos="anim1"] {
    position: relative;
    display: inline-block;
    transform: translateY(110%);
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);

    &.aos-animate {
        transform: translateY(0px);
        transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

[data-aos="anim2"] {
    position: relative;
    display: inline-block;
    transform: translateY(-110%);
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);

    &.aos-animate {
        transform: translateY(0px);
        transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

[data-aos="anim1"] {

    &:before {
        content: '';
        background: #10131a;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: 0% 0% 0px;
        animation: reveal 1s 0s ease-in-out forwards;
        z-index: 1;
    }

    &.aos-animate {
        transform: translateY(0px);
        transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.slick-dots {
    margin-top: 20px;
}

.slick-dots li {

    border: none;
    background-color: rgba($color_brand,0.4);
    transition: .25s ease-in-out;
    border-radius: 50%;

    &:hover {
        background: $color_brand;
        transform: scale(1.1);
        border: solid 1px $color_brand;

    }
}

.slick-dots .slick-active {
    background: $color_brand;
    transform: scale(1.08);

}

.slick-dots li button:before {
    width: 15px;
    height: 15px;

}

.slick-dots li button {
    width: 15px;
    height: 15px;
}

.slick-dots li {

    width: 15px;
    height: 15px;
}

.slick-dots {
    bottom: -20px;
}



.ip-header {
    position: fixed;
    top: 0;
    z-index: 9999999999999999999;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
}



.ip-logo,
.ip-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.ip-logo {
    top: 0;
    height: 100%;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}

.ip-loader {
    bottom: 20%;
}

.ip-header .ip-inner {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ip-header .ip-logo svg {
    min-width: 320px;
    max-width: 480px;
    width: 25%;
}

.ip-header .ip-logo svg path {
    fill: $color_brand;
}

.ip-header .ip-loader svg path {
    fill: none;
    stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
    stroke: #fff;
}

.ip-header .ip-loader svg path.ip-loader-circle {
    -webkit-transition: stroke-dashoffset 0.5s;
    transition: stroke-dashoffset 0.5s;
    stroke: $color_brand;
}

/* Content */
.ip-main {
    overflow: hidden;
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader {
    opacity: 1;
    -webkit-animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}

.loading .ip-loader {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 800px, 0);
    }
}

@keyframes animInitialHeader {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 800px, 0);
        transform: translate3d(0, 800px, 0);
    }
}

/* Header elements when loading finishes */
.loaded .ip-logo,
.loaded .ip-loader {
    opacity: 1;
}

.loaded .ip-loader {
    -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedLoader {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    }
}

@keyframes animLoadedLoader {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
        transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    }
}

/* Change the color of the logo */
.loaded .ip-logo svg path {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
    fill: #fff;
}

/* Header animation when loading finishes */
.loaded .ip-header {
    -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedHeader {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
    }
}

@keyframes animLoadedHeader {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

/* No JS */
.no-js .ip-header {
    position: relative;
    min-height: 0px;
}

.no-js .ip-header .ip-logo {
    margin-top: 20px;
    height: 180px;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.no-js .ip-header .ip-logo svg path {
    fill: #fff;
}

.slick-list {
    margin-bottom: 20px;
}

.dark-bg {
    background: darken($color_dark, 7%);
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/icons/loader.gif ") center no-repeat #fff;
    background-size: 5rem;
}




.top-bg-secondary{
    background: linear-gradient(rgba($color_brand_second, .2) 0%, white 50%) ;
}



.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 100vh;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #5a52ff;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
  }
  
  .pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #5a52ff, 0 0 5px #5a52ff;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
  
  .pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 50%;
    transform: translateY(-50%) ;
    right: 50%;
    width: 50px;
    height: 50px;
    border: solid 3px transparent;
    border-top-color: #736cff;
    border-left-color: #5a52ff;
    border-radius: 50%;
    animation: pace-spinner 400ms linear infinite;
  }
  
  @-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
  }
  
.dropzone{
    padding: 5rem 1rem;
    background-color: #fff;
    border: 2px dashed #c6d3e6;
    border-radius: .375rem;
    text-align: center;
    color: #869ab8;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-ordinal-group: 0;
    order: -1;
    cursor: pointer;
    z-index: 999;
    margin-bottom: 20px;
    margin-top: 2px;
    p{
        color: #526692;

    }
    &:hover{
        background-color: rgba(241, 242, 248, 0.562);

        p{
            color: $color_dark;
    
        }
    }
  }
  .slick-dots {
    bottom: -2rem;
    button{
        &::after{
            content: none;
        }
    }

}
.slick-dots li button {

    box-shadow: none;
}




.ms-left .ms-section div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
  }
  .ms-right .ms-section div {
    padding: 0 15%;
  }
  
  .navigation1 {
      bottom: 30px;
      position: fixed;
      text-align: right;
      right: 40px;
      z-index: 99999;
  }
  .navigation1 ul {
      margin: 0;
      padding: 0;
  }
  .navigation1 ul li {
      display: inline-block;
  }
  .navigation1 ul li span i {
      border: 1px solid #999;
      border-radius: 100%;
      color: #999;
      font-size: 20px;
      padding: 7px 11px;
      cursor: pointer;
      transition: all .3s ease 0s;
  }
  .why-multiscroll-container {
    
  }

.portfolio_masonry{
    img{
        width: 100%;
        margin-bottom: 1rem;
    }
    .grid {
        display: flex;
    }
    .is_big{
        flex: 30% !important;
    }
    
    .grid-col {
        flex: 1;
        padding: 0 .1em;
    }
    
    .grid-col--2, .grid-col--3 {
        display: none;
    }
    
    .content {
        position: absolute;
        background: $color_gradient;
        color: white;
        padding: 1rem 2rem;
        margin-top: 0;
    
        h2 {
            margin: .2em .5em;
            font-size: 1em;
        }
    }
    
    @media (min-width: 768px) {
    
        h1 {
            margin: 3em 0;
        }
        .grid-col--2 { display: block; }
        .grid-col {
            padding: 0 .5em;
        }
    
        .content {
            opacity: 0;
            transform: translateX(-.5em);
            transition: all .2s;
        }
    
        .grid-item:hover {
            cursor: pointer;
    
            .content {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
    
    @media (min-width: 1080px) {
        .grid-col--3 { display: block; }
    
        h1 {
            margin: 5em 0;
        }
    }
}